<!-- Choose YOur Answer MCQ-->
<div class="mcqCheckbox-android mt2 xsmt2">
    <div *ngIf ="!sclMcqOptionCO.isAnsweredOption" class="mcqCheckbox-section">
      <input type="checkbox" name="" id="mcqoptioncheckbox-{{sclMcqOptionCO.id}}" [disabled]= "isMcqAnswered">
      <label for="mcqoptioncheckbox-{{sclMcqOptionCO.id}}">
        <span [ngClass]="isMcqAnswered ? 'noHoverCircle' : ''" class="checkCircle ">{{sclMcqOptionCO.bulletTitle}}</span>
        <span class="checkLabel">{{sclMcqOptionCO.description}}</span>
        <!-- <span *ngIf ="sclMcqOptionCO.isAnsweredOption"  class="checkRightIcon"><i class="fa fa-check" aria-hidden="true"></i></span>   -->
      </label>
    </div>

     <div  *ngIf ="sclMcqOptionCO.isAnsweredOption" class="mcqCheckbox-section">
      <input type="checkbox" name="">
      <label>
        <span class="checkCircle blueCircle">{{sclMcqOptionCO.bulletTitle}}</span>
        <span class="checkLabel blueText">{{sclMcqOptionCO.description}}</span>
      </label>
    </div> 
</div>



<!-- <div class="inline-items lh3">
  <ul class="blogsocial-android float-left" style="vertical-align: middle;">
      <li>
          33 Attempts
      </li>
  </ul>

  <div class="float-right">
      <a href="#!" class="readMore-btn displayBlock">
          Submit Now
      </a>
  </div>
</div> -->
