<!-- <div class="modal-dialog modal-dialog-centered modal-delete-size" role="document">
    <div class="modal-content radius5 border-0"> -->
        <div class="modal-body p15 p-md30 smart-form">
            <img alt="" class="img-fluid d-block mx-auto mb15 mb-md20" src="./assets/images/delete-modal-icon.png">
            <div class="w400 vd-gblue-clr f-16 f-md-18 mb5 text-center">Confirm Delete Action</div>
            <p class="f-14 d-gblue-clr text-center">Are you sure you want to delete this section </p>
            <div class="p15 p-md30 custom-modal-foooter text-center">
                <a href="javascript:void(0)" class="base-btn default-btn f-14 mr5" (click)="dismiss()">No</a>
                <a  class="base-btn blue-btn f-14" (click)="delete()">Yes</a>
            </div>
        </div>
   <!-- </div>
</div> -->