<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="javascript:void();" class="topmenu" (click)="mobileToggleMenu()">
                <img alt="" src="/assets/images/menu-icon.png" />
            </a>
            <div class="menu-xs2 left" #mobileMenu (click)="mobileToggleMenu()">
                <app-learn-mobile-menu></app-learn-mobile-menu>
            </div>
        </div>
        <div class="col-2">
            <a href="{{scoopUrl}}" class="mobile-logo">
                <img alt="" src="/assets/images/mobile-logo.png" />
            </a>
        </div>
        <div class="col-4">&nbsp;</div>
        <div class="col-1">
            <a href="#" (click)="mobileSearch()">
                <span class="icon-search"></span>
            </a>
            <div class="mobileSearch left searchAutoComplete" #mobileSearchBar style="position: fixed">
                <input class="form-control py-2 border-right-0 border" (keyup)="searchKeyWordEvent($event)" type="text" placeholder="Search your keywords here..." />
                <span class="input-group-append">
                    <input class="searchSubmit" type="submit" value="➜">
                    <!-- <input type="text" class="form-control headerSearch" 
                    placeholder="Search your keywords here" (keyup)="searchKeyWordEvent($event)"> -->
                </span>
                <div class="autoSuggestion" *ngIf="isMenuShow">
                    <ul>
                        <li class="searchTitle">
                            All
                        </li>
                        <li (click)="inAllClick()">
                            {{searchInputTextvalues}} in All
                        </li>
                    </ul>
                    <ul >
                        <li class="searchTitle">
                            Store
                        </li>
                        <li (click)="inStoreClick()">
                            {{searchInputTextvalues}} in Store
                        </li>
                        <li *ngFor="let storeText of cmsSearchSuggestionCOList" (click)="onSearchedStoreClick(storeText)">
                            {{storeText.subjectTitle}} in {{storeText.categoryTitle}}


                        </li>
                    </ul>
                    <ul>
                        <li class="searchTitle">
                            Suggested Search
                        </li>
                        <li *ngFor="let cmsTagsCO of cmsTagsCOList" (click)="onSearchedSuggetedClick(cmsTagsCO)">
                            {{cmsTagsCO.title}}
                        </li>
                    </ul>
                    <ul >
                        <li class="searchTitle">
                            Scoop
                        </li>
                        <li (click)="onScoopClick()">
                            {{searchInputTextvalues}} in Scoop
                        </li>
                        <li *ngFor="let catCategoriesCO of catCategoriesCOListSearch" (click)="onSearchedScoopClick(catCategoriesCO)">
                            {{catCategoriesCO.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1">
            <a href="#" class="mobileCartIcon">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge_xs">
                    6
                </span>
            </a>
        </div>
        <div class="col-2">
            <button class="btn dropdown-toggle mobileUserIcon" type="button" id="dropdownMenuButtonMobile" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img alt="" src="{{appCurrentState?.userCO?.profileImage}}" class="img-rounded">
            </button>
            <div class="dropdown-menu header-login-dropdown login_box_arrow_box dropdown-menu-right" aria-labelledby="dropdownMenuButtonMobile">
                <app-mobile-login-dropdown></app-mobile-login-dropdown>
            </div>
        </div>
    </div>

    <div class="row row-margin">
        <div class="col-6 scoop-mbl-margin">
            <div class="learn-btn-xs">
                <a href="javascript:void();" class="learnmenu" (click)="mobileLearnMenu()">Learn</a>
            </div>
            <div class="menu-xs left" #myLabel>
                <ul>
                    <li>
                        <a href="javascript:void();" class="active closeLearn" (click)="mobileLearnMenu()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            Learn
                        </a>
                    </li>
                    <li *ngFor="let categoryCO of catCategoriesCOList">
                        <a href="#">{{categoryCO.title}}
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul>
                            <li *ngFor="let exam of categoryCO.catExamsCOList">
                                <a href="#">{{exam.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6 scoop-mbl-margin">
            <div class="teach-btn-xs">
                <a href="javascript:void();" class="teachmenu" (click)="mobileTeachMenu()">Teach</a>
            </div>
            <div class="menu-xs1 menu-xs-left" #teachMenu style="background:#eaedee !important;">
                <ul>
                    <li>
                        <a href="javascript:void();" class="active closeTeach" (click)="mobileTeachMenu()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            Teach
                        </a>
                    </li>
                </ul>
                <div style="padding:10px;font-size:14px;">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <img alt="" src="/assets/images/edu-logo.png" class="img-fluid mx-auto">
                        <div class="col-sm-12 col-12 topmargin1">
                            <div class="text-center edu-footer-title">Welcome to Tutor Panel!</div>
                            <br>
                            <p class="text-center">You can upload a new course and get complete analysis of your previously uploaded 'Course
                                Packages' performance.
                            </p>
                            <p class="text-center">
                                <em>Track it, review it and analyze it, for improvements</em>.</p>
                            <p class="text-center w600 topmargin1">'Teaching made easy and Learning made fun!'</p>
                            <p></p>
                        </div>
                        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-12">
                            <div class="tutorpanel">
                                <a href="#" class="topmargin2">
                                    Go to Tutor Panel
                                </a>
                            </div>
                            <p class="text-center md12 sm12 xs12">By Joining you agree
                                <a href="https://www.eduncle.com/terms-of-use">
                                    <span class="tab-saperate w500">Terms and Conditions</span>
                                </a>
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 topmargin1 hidden-xs">
                            <p class="text-center topmargin2 w500">Avail the numerous benefits of showcasing your knowledge to the world.</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 topmargin1 hidden-xs">
                            <img alt="" src="/assets/images/teach-tab.png" class="img-fluid mx-auto">
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>