<div class="loginDesktopForm">
    <div class="row">
        <div class="col-md-11 col-sm-12 col">
            <div class="row mt-2">
                &nbsp;
                <!-- <div class="col-sm-6 col-6 clear">
                    <button type="button" class="btn mb2 btn-facebook btn-social w300" (click)="signInWithFB()">
                        <i class="icon-facebook-mp facebookColor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        facebook</button>
                </div>
                <div class="col-sm-6 col-6">
                    <button type="button" class="btn mb2 btn-google-plus btn-social w300" (click)="signInWithGoogle()">
                        <i class="icon-google-mp googleColor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Google</button>
                </div>
                <div class="col-12">
                    <div class="topmargin2 orBlock">
                        <div class="ortext">OR</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col topmargin3">
            <div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}</div>
            <div class="lg24 md24 sm24 xs24 bottommargin2">Login</div>
            <p class="text-grey lg12 md12 sm12 xs12">Login to Continue Your Learning</p>
            <form class="form-horizontal registrationForm" (ngSubmit)="login(loginForm.value)" ngNativeValidate  #loginForm="ngForm">
                <div class="row">
                    <div class="col-sm-11 col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-phone-call"></span>
                                </span>
                            </div>
                            <!-- <input ngModel type="text" class="form-control formHeight-40" id="exampleInputEmail1" name="phone" aria-describedby="emailHelp"
                                placeholder="Mobile Or Email Address" required placement="right" ngbTooltip="Your Username" required> -->
                                <input ngModel type="text" class="form-control formHeight-40" name="phone" aria-describedby="emailHelp"
                                placeholder="Mobile Or Email Address" required placement="right" required>
                                <!-- <div>
                                    <span class="form-control-feedback has-feedback lg14 md14 sm14 xs14 ptr01 validation-icon" aria-hidden="true" id="" style="">
                                        <img alt="" src="assets/images/error-icon.png">
                                    </span>
                                    <span class="tooltip">Your Name can't be blank...</span>
                                </div> -->
                            </div>
                    </div>
                    <div class="col-sm-11 col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-lock-password"></span>
                                </span>
                            </div>
                            <!-- <input ngModel type="password" name="password" class="form-control formHeight-40" id="exampleInputPassword1" placeholder="Password"
                                required> -->
                                <input ngModel type="password" name="password" class="form-control formHeight-40" placeholder="Password"
                                required>
                                <!-- <div>
                                    <span class="form-control-feedback has-feedback lg14 md14 sm14 xs14 ptr01 validation-icon" aria-hidden="true" id="" style="">
                                        <img alt="" src="assets/images/error-icon.png">
                                    </span>
                                    <span class="tooltip">Password can't be blank...</span>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <span (click)="loadForgetPasswordComponent()" class="float-right text-blue pointer">Forgot Password ?</span>
                        <!-- <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-lg btnGreen float-left">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                        <!-- <button type="submit" class="btn btn-lg btnGreen float-left" (click)="submitForm()">&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                        <button type="submit" class="btn btn-lg btnGreen float-left">&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
            <p class="text-grey lg14 md14 sm14 xs14 mt3 xsmt3">Don't have an account ?
                <span (click)="showUserRegistrationComponent()" class="js-btn-step text-blue pointer" data-orientation="next" title="Register">
                    Register
                </span>
            </p>
        </div>
    </div>
</div>
<div class="bottomLogin-img">
    <img alt="" src="assets/images/login-popup/stats.png" alt="stats-img">
</div>