<div class="inline-items lh3">
    <ul class="blogsocial-android float-left" style="vertical-align: middle;">
        <li>
            {{postCO.sclPostQuestionCO.sclSubjectiveQuesCO.totalAnswer}} Answer(s)
        </li>
    </ul>

    <div class="float-right">
       <!--  <a href="#!" class="readMore-btn displayBlock">
            Answer Now
        </a> -->

        <a class="readMore-btn displayBlock" *ngIf="!appCurrentState?.isUserLoggedIn" (click)="openLoginPopUp(postCO?.defaultCategoryId)">
                Answer Now
        </a>
        <a class="readMore-btn displayBlock" *ngIf="appCurrentState?.isUserLoggedIn" (click)= "openAndroidAppPopUp()">
            Answer Now
        </a>
    </div>
</div>
