<!-- Footer Start -->
<section class="homeFooter">
    <div class="container">
        <div class="row">
            <div class="col">
                <img alt="" src="assets/images/eduncle-logo.png" alt="" class="mx-auto d-block" style="width: 145px; height: 40px;">
            </div>
            <div class="w-100"></div>
            <ul class="col career-links mb5">
                <li>
                    <a href="{{siteUrl}}/about-us" rel="nofollow" title="Who is Eduncle?" target="_blank">Who is Eduncle ?</a>
                </li>
                <li>
                    <a href="{{siteUrl}}/reviews" rel="nofollow" title="Eduncle.com Reviews and Feedback by Students" target="_blank">Reviews</a>
                </li>
                <li>
                    <a href="{{siteUrl}}/contact" rel="nofollow" title="Contact Us" target="_blank">Contact us</a>
                </li>
                <li>
                    <a href="{{siteUrl}}/career" rel="nofollow" title="Career at Eduncle.com" target="_blank">Career</a>
                </li>
                <li>
                    <a href="{{siteUrl}}/terms-of-use" rel="nofollow" title="Terms of use" target="_blank">Terms of Use</a>
                </li>
                <li>
                    <a href="{{siteUrl}}/privacy-policy" rel="nofollow" title="Privacy Policy" target="_blank">Privacy Policy</a>
                </li>
            </ul>

            <div class="col-md-10 offset-md-1">
                <div class="row">

                    <div class="col-sm-3 edu-footer-links">
                        <div class="edu-footer-title">
                            <div class="w400">
                                How Eduncle Helps You ?
                            </div>
                        </div>
                        <div class=" edu-foote-panel-body">
                            <div class="row">
                                <div class="col">
                                    <a href="{{siteUrl}}/student/" title="Student" target="_blank">Student</a>
                                    <a href="{{siteUrl}}/teacher/" title="Tutor" target="_blank">Tutor</a>
                                    <a href="{{siteUrl}}/teacher/" title="Institution" target="_blank">Institution</a>
                                    <a href="{{siteUrl}}/app" title="Eduncle App" target="_blank">App</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 edu-footer-links">
                        <div class="edu-footer-title">
                            <div class="w400">
                                Help
                            </div>
                        </div>
                        <div class=" edu-foote-panel-body">
                            <div class="row">
                                <div class="col">
                                    <a href="{{siteUrl}}/frequently-asked-questions" target="_blank">FAQs</a>
                                    <a href="{{siteUrl}}/payment-terms-and-conditions" target="_blank">Payment Terms</a>
                                    <a href="{{siteUrl}}/refund-and-order-cancellation-policy" target="_blank">Refund Policy</a>
                                    <a href="{{siteUrl}}/ask-support" target="_blank">Ask Support</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="edu-footer-title">
                            <div class="hidden-xs w400">
                                Contact info
                            </div>
                        </div>
                        <div class="edu-foote-panel-body">
                            <div class="row">
                                <div class="col address">
                                    <div>Head Office :</div>
                                    <div> MPA 44, 2nd floor, Rangbari Main Road, <br class="d-sm-block d-none">
                                        Mahaveer Nagar II, Kota (Raj.) – 324005
                                    </div>
                                    <br>
                                    <div>Corporate Office:</div>
                                    <div> 212, F-1, 2nd Floor, Evershine Tower, <br class="d-block">
                                        Amrapali Marg, <br class="d-sm-none d-block">Vaishali Nagar, Jaipur (Raj.) – 302021
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-11 col-xs-10 address">
                                    Mail: info@eduncle.com
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <ul class="socialFooter">
                                        <li>
                                            <a href="https://www.facebook.com/Eduncle.India" class="">
                                                <span class="icon-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/company/eduncle/" class="">
                                                <span class="icon-linkedin"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/c/eduncleindia" class="">
                                                <span class="icon-youtube"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/eduncleindia" class="">
                                                <span class="icon-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/eduncleindia/" class="">
                                                <span class="icon-instagram"></span>
                                            </a>
                                        </li>
                                        <li class="d-lg-none d-inline">
                                            <a href="" class="">
                                                <span class="icon-whatsapp-2"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-hr floatLeft"></div>
                    <div class="col">
                        <ul class="courseList floatLeft">
                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="https://scoop.eduncle.com/iit-jam" class="w600">IIT JAM</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <a href="{{scoopUrl}}/iit-jam-exam" target="_blank">IIT JAM Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/iit-jam-exam-syllabus" target="_blank">Syllabus</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/iit-jam-eligibility" target="_blank">Eligibility</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/pattern-marking-cutoff-for-iit-jam" target="_blank">Paper Pattern</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/iit-jam-exam-solved-question-papers-free-download" target="_blank">Question Papers</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/iit-jam-preparation-tips" target="_blank">Preparation Tips</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="https://scoop.eduncle.com/ugc-net" class="w600">UGC NET</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <a href="{{scoopUrl}}/ugc-net-exam" target="_blank">UGC NET Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ugc-net-syllabus" target="_blank">Syllabus</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ugc-net-exam-eligibility" target="_blank">Eligibility</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ugc-net-exam-pattern" target="_blank">Paper Pattern</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/cbse-ugc-net-question-papers" target="_blank">Question Papers</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ugc-net-answer-key" target="_blank">Answer Keys</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/tips-to-crack-ugc-net-exam" target="_blank">Preparation Tips</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ugc-net-online-application-form" target="_blank">Application Form</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="https://scoop.eduncle.com/csir-net" class="w600">CSIR NET</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <a href="{{scoopUrl}}/csir-net-exam" target="_blank">CSIR NET Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-syllabus-pattern" target="_blank">Syllabus & Paper Pattern</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-eligibility-criteria" target="_blank">Eligibility</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-online-application-form" target="_blank">Application Form</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-admit-card-ugc-net-jrf-exam" target="_blank">Admit Card</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-question-paper-free-download" target="_blank">Question Paper</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-answer-key" target="_blank">Answer Key</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/csir-net-preparation-tips-how-to-crack" target="_blank">Preparation Tips</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
<!-- 
                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                SSC
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <a href="{{scoopUrl}}/ssc-cgl-recruitment-exam" target="_blank">SSC CGL Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-chsl-recruitment-exam-for-ldc-deo" target="_blank">SSC CHSL Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-cpo-si-recruitment-exam" target="_blank">SSC CPO Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-gd-constable-recruitment-exam" target="_blank">SSC Constable GD Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-exam-english" target="_blank">English</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-exam-general-intelligence-and-reasoning" target="_blank">General Intelligence & Reasoning</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-exam-quantitative-aptitude" target="_blank">Quantitative Aptitude</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ssc-exam-general-awareness" target="_blank">General Knowledge & Awareness</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="{{scoopUrl}}/ibps-recruitment-exams" target="_blank">IBPS</a>
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <a href="{{scoopUrl}}/ibps-po-recruitment-exam" target="_blank">IBPS PO/MT</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-clerk-recruitment-exam" target="_blank">IBPS Clerk Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-so-and-it-officer-recruitment-exam" target="_blank">IBPS SO Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-rrb-recruitment-exam" target="_blank">IBPS RRB Exam</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-english-preparation" target="_blank">English Language</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-reasoning-exam" target="_blank">Reasoning</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-quantitative-aptitude-exam" target="_blank">Quantitative Aptitude</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-general-awareness-gk" target="_blank">General Awareness</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/ibps-computer-awareness" target="_blank">Computer Knowledge</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                RRB
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <a href="{{scoopUrl}}/rrb-assistant-loco-pilot-recruitment-exam" target="_blank">RRB ALP</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/rrb-je-sse-engineer-recruitment" target="_blank">RRB JE | SSE</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/railway-rrc-group-d-recruitment-vacancy" target="_blank">RRC Group D</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="{{scoopUrl}}/iit-jee" target="_blank">IIT JEE</a>
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <a href="{{scoopUrl}}/jee-main-exam" target="_blank">JEE Main</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/jee-advanced-exam" target="_blank">JEE Advanced</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/jee-advanced-aat" target="_blank">IIT JEE B Arch Test</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="form-group floatLeft">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="md16 sm16 xs16 lh2 w600xs">
                                                <a href="{{scoopUrl}}/neet-exam" target="_blank">NEET</a>
                                            </div>
                                        </div>

                                        <div class="col-md-10">
                                            <a href="{{scoopUrl}}/neet-syllabus" target="_blank">Syllabus</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-exam-eligibility-criteria" target="_blank">Eligibility</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-exam-paper-pattern" target="_blank">Paper Pattern</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-application-form-apply-online" target="_blank">Application Form</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-admit-card" target="_blank">Admit Card</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-preparation-tips" target="_blank">Preparation Tips</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-previous-year-question-paper" target="_blank">Question Papers</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-answer-key" target="_blank">Answer Key</a>
                                            <i></i>
                                            <a href="{{scoopUrl}}/neet-result-cut-off-marks" target="_blank">Result</a>
                                            <i></i>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="footer-hr floatLeft"></div>
                    <div class="col text-center light-grey-text">
                        All Rights Reserved &copy; Eduncle.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer End -->

<!-- WHATSAPP ICON CODE START -->
<img alt="" *ngIf="showWhatsAppIcon" src="assets/images/wat-icon.png" alt="" class="watsapp-popup-btn" (click)="openWhatsappPopup()">
<div id="watsapp-popup" class="watsapp-popup" *ngIf="showWhatsappBlock">
    <div class="watsapp-popup-bg"></div>
    <div class="watsapp-popup-content-main">
        <div class="watsapp-popup-content">
            <span class="watsapp-popup-close" (click)="closeWhatsappPopup()"></span>
            <div class="wat-popup-header">
                <a href="#"><img alt="" src="assets/images/logo.png" alt=""></a>
                <div class="watsapp-header-info">
                    <h4>Eduncle</h4>
                    <p>Typically replies instantly</p>
                </div>
            </div>
            <div class="watmid-content">
                <div class="watsapp-edu-user">
                    <h4>Eduncle</h4>
                    <p>Hi there <img alt="" src="assets/images/hand.png" alt="" class="watsapp-hand"></p>
                    <p>How can we assist you?</p>
                </div>
            </div>
            <div class="wat-footer">
                <a href="{{whatsAppUrl}}" > <img alt="" src="assets/images/sw.png" alt=""> Click here to Start Chat</a>
            </div>
        </div>
    </div>
</div>
<!-- WHATSAPP ICON CODE END -->