<!-- Register FREE Today! -->
<div class="blog-block mt4 xsmt4 floatLeft">
    <div class="registerFree">
        <div class="registerFree-today">
            <img alt="" src="assets/images/register-free.png" alt="Register-free">
            <div class="registerTitle">
                <div class="lg24 text-white w500">Register FREE Today!</div>
                <div class="lg14 text-white w400">Let us send your Study Material worth <i class="fas fa-rupee-sign"></i>500
                    Instantly.</div>
            </div>
        </div>
        
        <div class="blog-padding">
            <!-- <div class="row" *ngIf="!optionValue">
                <div class="col-sm-4 selectExam" *ngFor="let category of catCategoriesCOArray">
                    <input type="radio" name="options" (click)="checkOptionsValue(category?.title)" id="{{category?.id}}"
                        autocomplete="off">
                    <label for="{{category?.id}}">{{category?.title}}</label>
                </div>
            </div> -->

            <div class="row">
                <div class="col-sm-12">
                    <!-- <div class="examTitle inline-items">
                        <a routerLink="#!" (click)="hideOptions()">
                            <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>&nbsp; {{ optionName|titlecase | uppercase }}
                        </a>
                    </div> -->
                    <!-- <router-outlet></router-outlet> -->
                        <div *ngIf="showValidationError"  class="text-center alert-msg-red w500 xs12 mb4 xsmb4">{{validationError}}</div>   

                            <form ngNativeValidate *ngIf="!load" (ngSubmit)= "userRegistrationNew(username.value,phoneNo.value)"  #regForm="ngForm" class="mt1 w-100">

                                    <div class="selectGroup form-group">
                                            <div *ngIf="!isCategorySelected" class="red-text sm12"><i
                                                    class="fa fa-info-circle" aria-hidden="true"></i> Category is required.
                                            </div>
                                            <div class="dropdown w-100 newDropdownCategory">
                                                <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    {{selectedCategoryTitle}}
                                                </button>
                                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                    <a *ngFor="let catCategoriesCO of catCategoriesCOArray"
                                                        class="dropdown-item"
                                                        (click)="onCategorySelect(catCategoriesCO)">{{catCategoriesCO.title}}</a>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList;let i = index">
                                            <div *ngIf="i < 1" class="selectGroup form-group">
                                                <div *ngIf="catCategoryFiltersCO.validationMessage !== ''"
                                                    class="red-text sm12"><i class="fa fa-info-circle"
                                                        aria-hidden="true"></i> {{catCategoryFiltersCO.validationMessage}}
                                                </div>
                                                <div class="dropdown w-100 newDropdownCategory">
                                                    <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        {{catCategoryFiltersCO.filterTypeTitle}}
                                                    </button>
                                                    <!-- <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                        <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList"
                                                            class="dropdown-item"
                                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">{{filterValueCO.filterTypeTitle}}</a>
                                                    </div> -->

                                                    <div *ngIf="isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">

                                                        <a *ngFor="let filterValueCO of sortedArray1" class="dropdown-item"
                                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                            {{filterValueCO.filterTypeTitle}}
                                                        </a>
                                                        <a class="dropdown-item otherSubject">Others</a>
                                                        <a *ngFor="let filterValueCO of sortedArray2" class="dropdown-item"
                                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                            {{filterValueCO.filterTypeTitle}}
                                                        </a>
                                                    </div>
    
                                                    <div  *ngIf="!isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                        
                                                        
    
                                                        <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" 
                                                            class="dropdown-item" 
                                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                            {{filterValueCO.filterTypeTitle}}
                                                         </a>    
                                                        
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                       
                        
                        <!-- <div class="form-group" *ngIf="independentFilterType=='EXAM'">
                            <div class="selectCaret">
                                <select #exam required (change)="submitExam(exam.value)" name="exam" type="text" (change)="changeExam($event.target)" class="form-control formHeight-40 borderColor">
                                    <option value="">Select Exams</option>
                                    <option  *ngFor="let catExamsCO of catExamsCOArray" [value]="catExamsCO?.id">{{catExamsCO?.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="independentFilterType=='EXAM'">
                            <div class="selectCaret">
                                <select #subject (change)="submitSubject(subject.value)" required name="subject" type="text" class="form-control formHeight-40 borderColor">
                                    <option value="">Select Subject</option>
                                    <option *ngFor="let catSubjectCO of catSubjectCOArray" [value]="catSubjectCO?.id">{{catSubjectCO?.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="independentFilterType=='SUBJECT'">
                            <div class="selectCaret">
                                <select #subject required (change)="submitSubject(subject.value)" name="subject" type="text" class="form-control formHeight-40 borderColor">
                                    <option value="">Select Subject</option>
                                    <option *ngFor="let catSubjectCO of filterValueCOList" [value]="catSubjectCO?.filterTypeId">{{catSubjectCO?.filterTypeTitle}}</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="icon-profile"></span>
                                    </span>
                                </div>
                                <input #username ngModel type="text" class="form-control formHeight-40" name="fisrtname" aria-describedby="emailHelp"
                                    placeholder="First Name" required placement="right" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="icon-phone-call"></span>
                                    </span>
                                </div>
                                <input #phoneNo maxlength="10" minlength="10" ngModel type="text" (keypress)="numberOnly($event)" class="form-control formHeight-40" name="mobile no" aria-describedby="emailHelp" (keyup) ="saveBrokenLeads($event)"
                                    placeholder="Mobile No." required placement="right" >
                            </div>
                        </div>
                      <!--   <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="icon-email f-12"></span>
                                    </span>
                                </div>
                                <input #email ngModel type="text" class="form-control formHeight-40" name="email" aria-describedby="emailHelp"
                                    placeholder="Email" required placement="right" required>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <input type="text" #username ngModel required name="username" class="form-control formHeight-40"
                                placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" #email ngModel required name="email" class="form-control formHeight-40" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input (keypress)="numberOnly($event)" type="text" maxlength="10" minlength="10" #phoneNo ngModel required name="phoneNo" class="form-control form-control-lg-50 formHeight-50" placeholder="Phone number">
                        </div> -->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-4 text-center">
                                    <div class="captcha-text">
                                        <span>{{ captchaNumber1 }}</span>
                                        <span>+</span>
                                        <span>{{ captchaNumber2 }}</span>
                                        <span>=</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-8">
                                    <input type="submit" type="number" (keyup)="checkCaptcha(captchaNumber.value)" ngModel required
                                        #captchaNumber name="captchaNumber" class="form-control formHeight-40">
                                </div>
                            </div>
                        </div>

                        <p class="para topmargin2 mb2 xsmb2 floatLeft checkboxTerms">
                            <input type="checkbox" id="signupaccept" (click)="checkUncheckTermsCheckBox()" checked>
                            <label for="signupaccept">I agree to the <a href="{{siteUrl}}/terms-of-use" target="_blank">Terms and Conditions</a>.</label> 

                            <input type="checkbox" id="whatsappNotif"  (click)="checkUncheckWhatsAppNotification()" checked >
                            <label for="whatsappNotif">I agree to receive exam notifications via WhatsApp.</label> 
                        </p> 

                        <div class="buttons-btn btn-50">
                            <!-- <a class="bg-blue text-center text-white lg16 w500 d-block" (click)="otpPopup(content)">Download Nowww</a> -->
                            <button [disabled]="(!isCaptchCorrect || !regForm.form.valid)" class="btn bg-blue lg16 md16 sm16 xs16 continueToSite"
                            style='cursor: pointer;color:white'>
                                Download for Free
                            </button>
                        </div>
                    </form>
                    <div class="reqCallBackForm" style="padding-top: 0;padding-right: 15px;">
                        <app-otp-popup  *ngIf="load"></app-otp-popup>
                    </div>
                   <!--  <app-otp  *ngIf="load" [otp]="otp" [phoneNo]="mobileNumber" [username]="username" [email]="emailId"></app-otp> -->
                    <!-- Show otp modal -->
                    <!-- <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Verify OTP</h4>
                            <button type="button" class="close closeModal" aria-label="Close" (click)="closeModel()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <app-otp (loadOtp)="loadOtpComponent($event)" *ngIf="load" [phoneNo]="phoneNo" [username]="username" [email]="email"></app-otp>
                        </div>
                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>
</div>