
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openQuestionSubmittion(questionSubmitton)">Ask Question Submittion</button>

<ng-template #questionSubmitton let-modal>
  <button type="button" class="close closeModal text-right" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
  </button>
	<div class="modal-body">
    <div class="row">
      <div class="col-md-12">
          <p class="md24 sm20 w500 enabledColor text-center">
              Thanks for Submitting Your Details!
          </p>
          <p class="sm14 mb-4 text-center mb-1 text-grey">
            Our Eduncle Counsellor will get back to you soon with expert guidance to boost your score, rank & knowledge!
          </p>
          <p class="sm14 mb-4 text-center mb-1 text-grey">
            Till, then you can quick start your learning through our Free Study Material 
            [Worth Rs. 500]
          </p>
          <button class="btn btn-lg btnGreen mx-auto d-block pl-3 pr-3 sm24 xs14 mb-2" data-dismiss="modal" aria-label="Close">
            View Free Study Material
          </button>
      </div>
    </div>
	</div>
</ng-template>