body {
    margin-top: 30px;
  }
   
  a,
  a:hover {
    color: #212529;
  }
   
  a:hover {
    text-decoration: none;
  }
   
  .block {
    position: relative;
    overflow: hidden;
    max-height: 283px;
    /* max-height: 350px; */
    /* height: auto; */
    /* background: rgba(86,61,124,.15); */
    background-color: #000000;
    margin-bottom: 15px;
  }

  .block img{
      width: auto;
      height: 100%;
      margin: 0 auto;
  }
   
  .label {
    font-size: .85rem;
    font-weight: bold;
  }

  @media only screen and (max-width: 320px){
    .block {
      height: auto;
    }
}

img{
  vertical-align: unset;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.singlePhoto{
  margin-bottom: 4px;
}
.singlePhoto img{
  width: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}

/* Two Landscape START*/
.postTwoLandscapeHeight513{
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.postTwoLandscapeHeight513 img.landscapeCover{
  object-fit: cover;
  width: auto;
  display: block;
  margin: 0 auto;
}
.postTwoLandscape{
  overflow: hidden;
  float: left;
}
.postTwoLandscape a{
  float: left;
  overflow: hidden;
  padding-bottom: 4px;
}
/* Two Landscape END*/

/* Two Portrait START*/
.postTwoPortraitHeight513{
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.postTwoPortraitHeight513 img.portraitCover{
  object-fit: cover;
  width: auto;
  display: block;
  margin: 0 auto;
}
.postTwoPortrait{
  overflow: hidden;
  float: left;
}
.postTwoPortrait a{
  float: left;
  overflow: hidden;
  padding-right: 4px;
}
/* Two Portrait START*/

/* 1 Landscape 2 Random 3 images Start*/
.postOneLandscapeTworandomHeight513{
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.postOneLandscapeTworandomHeight513 img.threeImagesCover,
.postOneLandscapeTworandomHeight513 img.squareCover{
  object-fit: cover;
  width: auto;
  display: block;
  margin: 0 auto;
}
.postOneLandscapeTworandom{
  overflow: hidden;
}
.postOneLandscapeTworandom a{
  float: left;
  overflow: hidden;
  padding-bottom: 4px;
}
.postOneLandscapeTworandomHeight513 .squareDoublePhoto a{
  float: left;
  overflow: hidden;
  padding-right: 0;
}
.postOneLandscapeTworandomHeight513 .squareDoublePhoto a:nth-child(1){
  padding-right: 4px;
}
/* 1 Landscape 2 Random 3 images End*/

/* 1 Portrait 2 Random 3 images Start*/
.postOnePortraitTworandomHeight513{
  width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  margin-bottom: 4px;
}
.postOnePortraitTworandomHeight513 img.onePortraitCover{
  object-fit: cover;
  width: auto;
  display: block;
  margin: 0 auto;
}
/* 1 Portrait 2 Random 3 images End*/




.postDoublePhoto{
  overflow: hidden;
  float: left;
}
.postDoublePhoto a, .squareDoublePhoto a{
  float: left;
  overflow: hidden;
  padding: 0 4px 4px 0;
}
.postDoublePhoto a img{
  width: auto;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}
.full-width-photo{
  width: 100%;
}
.half-width-photo{
  width: 50%;
}
.squareImage-photo{
  height: 300px;
  width: auto;
}
.squareDoublePhoto figure{
  width: 273px;
  height: 273px;
  background-color: #000000;
  margin-bottom: 0;
}
figure{
  background-color: #000000;
  margin-bottom: 0px;
}

.squareDoublePhoto img.squareCover {
  object-fit: cover;
  width: auto;
  height: 252.5px;
  display: block;
  margin: 0 auto;
}
.imageRelative{
  position: relative;
}
.fourthImagePosition-title {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 0;
  padding-top: 35%;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.pdf-post{
  height: 205px;
}
.pdf-post img.previewImagepdf{
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; 
}

@media (min-width: 240px){
  .squareDoublePhoto figure{
      width: 100%;
      height: auto;
      background-color: #000000;
      margin-bottom: 0;
  }
  .FixedHeight410{
    height: 256.5px;
    max-height: 100%;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .FixedHeight410 img.squareCover {
    object-fit: cover;
    width: auto;
    height: 124px;
    display: block;
    margin: 0 auto;
  }
  .singlePhoto{
    width: 100%;
  }
  /* 2 landscape */
  .postTwoLandscapeHeight513{
    height: 248px;
  }
  .postTwoLandscapeHeight513 img.landscapeCover{
    height: 120px;
  }
   /* 2 Portrait */
   .postTwoPortraitHeight513{
    height: 248px;
  }
  .postTwoPortraitHeight513 img.portraitCover{
    height: 248px;
  }
  /* 1 landscape 2 random */
  .postOneLandscapeTworandomHeight513{
    height: 248px;
  }
  .postOneLandscapeTworandomHeight513 img.threeImagesCover,
  .postOneLandscapeTworandomHeight513 img.squareCover{
    height: 120px;
  }
  .postOnePortraitTworandomHeight513{
    height: 248px;
  }
  .postOnePortraitTworandomHeight513 img.onePortraitCover,
  .postOnePortraitTworandomHeight513 img.squareCover{
    height: 248px;
  }
  .postOnePortraitTworandomHeight513 img.squareCover{
    height: 120px;
  }
}

@media (min-width: 768px){
  .FixedHeight410{
    height: 505px;
    max-height: 100%;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .FixedHeight410 img.squareCover {
    object-fit: cover;
    width: auto;
    height: 252.5px;
    display: block;
    margin: 0 auto;
  }
  .singlePhoto{
    width:100%;
  }
  /* 2 landscape */
  .postTwoLandscapeHeight513{
    height: 408px;
  }
  .postTwoLandscapeHeight513 img.landscapeCover{
    height: 200px;
  }

   /* 2 Portrait */
  .postTwoPortraitHeight513{
    height: 408px;
  }
  .postTwoPortraitHeight513 img.portraitCover{
    height: 408px;
  }

  /* 1 landscape 2 random */
  .postOneLandscapeTworandomHeight513{
    height: 408px;
  }
  .postOneLandscapeTworandomHeight513 img.threeImagesCover,
  .postOneLandscapeTworandomHeight513 img.squareCover{
    height: 200px;
  }
  .postOnePortraitTworandomHeight513{
    height: 408px;
  }
  .postOnePortraitTworandomHeight513 img.onePortraitCover{
    height: 408px;
  }
  .postOnePortraitTworandomHeight513 img.squareCover{
    height: 200px;
  }
}
@media (min-width: 992px){
  .FixedHeight410{
    height: 513px;
    max-height: 100%;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .FixedHeight410 img.squareCover {
    object-fit: cover;
    width: auto;
    height: 252.5px;
    display: block;
    margin: 0 auto;
  }
  .singlePhoto{
    width: 100%;
  }
  /* 2 landscape */
  .postTwoLandscapeHeight513{
    height: 567.98px;
  }
  .postTwoLandscapeHeight513 img.landscapeCover{
    height: 279.99px;
  }

  /* 2 Portrait */
  .postTwoPortraitHeight513{
    height: 567.98px;
  }
  .postTwoPortraitHeight513 img.portraitCover{
    height: 567.98px;
  }

  /* 1 landscape 2 random */
  .postOneLandscapeTworandomHeight513{
    height: 567.98px;
  }
  .postOneLandscapeTworandomHeight513 img.threeImagesCover,
  .postOneLandscapeTworandomHeight513 img.squareCover{
    height: 279.99px;
  }
  .postOnePortraitTworandomHeight513{
    height: 567.98px;
  }
  .postOnePortraitTworandomHeight513 img.onePortraitCover{
    height: 567.98px;
  }
  .postOnePortraitTworandomHeight513 img.squareCover{
    height: 279.99px;
  }
}

@media (min-width: 1200px){
  .FixedHeight410{
    height: 513px;
    max-height: 100%;
    background-color: #ffffff;
    margin-bottom: 4px;
  }
  .FixedHeight410 img.squareCover {
    object-fit: cover;
    width: auto;
    height: 252.5px;
    display: block;
    margin: 0 auto;
  }
  .singlePhoto{
    width: 513px;
  }
  /* 2 Landscape */
  .postTwoLandscapeHeight513{
    height: 513px;
  }
  .postTwoLandscapeHeight513 img.landscapeCover{
    height: 254.8px;
  }

  /* 2 Portrait */
  .postTwoPortraitHeight513{
    height: 513px;
  }
  .postTwoPortraitHeight513 img.portraitCover{
    height: 513px;
  }
  /* 1 landscape 2 random */
  .postOneLandscapeTworandomHeight513{
    height: 513px;
  }
  .postOneLandscapeTworandomHeight513 img.threeImagesCover,
  .postOneLandscapeTworandomHeight513 img.squareCover{
    height: 254.8px;
  }
  /* 1 portrait 2 random */
  .postOnePortraitTworandomHeight513{
    height: 513px;
  }
  .postOnePortraitTworandomHeight513 img.onePortraitCover{
    height: 513px;
  }
  .postOnePortraitTworandomHeight513 img.squareCover{
    height: 254.8px;
  }
}


