<!-- Single Image -->
<div *ngIf="sclPostAttachmentsCOList">
    <!-- single Div Start -->
    <div *ngIf="getImageSize() === 1" class="clear">

        <div class="singlePhoto" *ngIf="sclPostImageAttachmentsCOList[0].isPortrait()">
            <a (click)="openImageSliderPopUp('0')">

                <figure>
                    <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="demo">
                </figure>
            </a>
        </div>

        <div class="singlePhoto" *ngIf="!sclPostImageAttachmentsCOList[0].isPortrait()">
            <a (click)="openImageSliderPopUp('0')">
                <figure>
                    <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="demo">
                </figure>
            </a>
        </div>
    </div>
    <!-- single Div close -->


    <!-- two image Div start -->


    <div *ngIf="getImageSize() === 2">
        <!-- Two Portrait Images -->
        <div *ngIf="showGridType('TWO_PORTRAIT_IMAGES')">
            <div class="postTwoPortrait postTwoPortraitHeight513 clear">
                <a class="half-width-photo" (click)="openImageSliderPopUp('0')">
                    <figure>
                        <img alt="" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="portraitCover">
                    </figure>
                </a>

                <a class="half-width-photo" (click)="openImageSliderPopUp('1')">
                    <figure>
                        <img alt=""  [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[1]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[1]?.url" alt="photo" class="portraitCover">
                    </figure>
                </a>
            </div>
        </div>

        <!-- Two Landscape Images -->
        <div *ngIf="showGridType('TWO_LANDSCAPE_IMAGES')">
            <div class="postTwoLandscape postTwoLandscapeHeight513 clear">
                <a class="full-width-photo" (click)="openImageSliderPopUp('0')">
                    <figure>
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="landscapeCover">
                    </figure>
                </a>
                <a class="full-width-photo" (click)="openImageSliderPopUp('1')">
                    <figure>
                        <img alt="" [defaultImage]="defaultImageSquare" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[1]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[1]?.url" alt="photo" class="landscapeCover">
                    </figure>
                </a>
            </div>
        </div>

        <!--  <h2>1 Portrait 1 Random =  Square</h2> -->
        <!-- Two Images -->
        <div class="squareDoublePhoto" *ngIf="showGridType('TWO_RANDOM_IMAGES')">
            <a class="half-width-photo" (click)="openImageSliderPopUp('0')">
                <figure>
                    <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" class="squareCover" />
                </figure>
            </a>
            <a class="half-width-photo" (click)="openImageSliderPopUp('1')">
                <figure>
                    <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[1]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[1]?.url" class="squareCover" />
                </figure>
            </a>
        </div>
    </div>
    <!-- two image Div close -->


    <!-- Three image Div start -->

    <div *ngIf="getImageSize() > 2">

        <!--  <h2>1 landscape, 2 square</h2> -->
        <!-- Three Images -->
        <div *ngIf="showGridType('FIRST_LANDSCAPE_TWO_RANDOM')" class="postOneLandscapeTworandomHeight513 clear">

            <div class="postOneLandscapeTworandom">
                <a class="full-width-photo" (click)="openImageSliderPopUp('0')">
                    <figure>
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="threeImagesCover">
                    </figure>
                </a>
            </div>
            <div class="squareDoublePhoto">
                <a class="half-width-photo" (click)="openImageSliderPopUp('1')">
                    <figure>
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[1]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[1]?.url" class="squareCover" />
                    </figure>
                </a>
                <a class="half-width-photo" (click)="openImageSliderPopUp('2')">
                    <figure class="imageRelative">
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[2]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[2]?.url" class="squareCover" />
                        <div *ngIf="showMoreImageCount()" class="fourthImagePosition-title lg18 md18 sm18 xs16">
                            <i class="fa fa-plus"></i> {{moreImageCount}} More
                        </div>
                    </figure>
                </a>
            </div>
        </div>

        <!-- Three Images -->
        <div *ngIf="showGridType('FIRST_PORTRAIT_TWO_RANDOM')" class="postOnePortraitTworandomHeight513 clear">
            <div class="postDoublePhoto squareDoublePhoto">
                <a class="half-width-photo" (click)="openImageSliderPopUp('0')">
                    <img alt=""  [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[0]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[0]?.url" alt="photo" class="onePortraitCover">
                </a>
                <a class="half-width-photo" (click)="openImageSliderPopUp('1')">
                    <figure>
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[1]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[1]?.url" class="squareCover" />
                    </figure>
                </a>
                <a class="half-width-photo" (click)="openImageSliderPopUp('2')">
                    <figure class="imageRelative">
                        <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostImageAttachmentsCOList[2]?.url)" [useSrcset]="true" [errorImage]="sclPostImageAttachmentsCOList[2]?.url" class="squareCover" />
                        <div *ngIf="showMoreImageCount()" class="fourthImagePosition-title lg20 md20 sm18 xs16">
                                <i class="fa fa-plus"></i> {{moreImageCount}} More
                            </div>
                    </figure>
                </a>
            </div>
        </div>
    </div>
    <!-- Three image Div close -->


    
    <div *ngFor="let sclPostAttachmentsCO of sclPostAttachmentsCOList; let i=index;">
        <!-- PDF case -->
        <div *ngIf="sclPostAttachmentsCO.type.includes('pdf')" class="pdf-post" (click)="openPdf(i)"> 
            <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(sclPostAttachmentsCO.previewImage)" [useSrcset]="true" [errorImage]="sclPostAttachmentsCO.previewImage" alt="fsdf" class="previewImagepdf">
            <div class="pdf-post-detail">
                <div class="pdfBox-title lightGrey">
                    <div class="sm12">{{sclPostAttachmentsCO.title}}</div>
                    <div class="sm10">{{sclPostAttachmentsCO.pageCounts}} Pages {{getFileSize(sclPostAttachmentsCO.fileSize)}}
                    </div>
                </div>
                <div class="pdfBox-title-icon">
                    <img alt="" src="assets/images/pdf-icon-sm.png">
                </div>
            </div>
        </div>

        <!-- DCP_VIDEO case -->
       
        <div *ngIf="sclPostAttachmentsCO.type.includes('DCP_VIDEO') && postType !=='LABEL'" style="padding-bottom: 55.25%;position: relative;margin-bottom:4px;">
            <!--  <iframe src="sanitizer.bypassSecurityTrustResourceUrl(SecurityContext.URL,sclPostAttachmentsCO.url)" style=" position: absolute;top: 0;left: 0;width: 100%;height: 100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
            <iframe [src]="getVideoUrl(sclPostAttachmentsCO.url) | safeHtml: 'url'" style=" position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    
        </div>
    </div>  

</div>