<div *ngIf="!showSuccessView" class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
            
            
           <!--  <div *ngIf="formSubmitted" class="tutorFormSubmitBox bg-white-form"> 
                <img alt="" src="../assets/images/tutor-submit-conform-box.png" alt="tutor-submit-conform-box" class="img-fluid mx-auto d-block">
                <div class="md25 sm20 xs18 w500 text-center mt2 xsmt2 mb1 xsmb1">
                    Your Request has been sent successfully
                </div>
                <div class="sm16 text-grey text-center">
                    We will review your profle and contact you soon
                </div>
            </div> -->
            
            <div class="blog-heading w500 lg25 md25 sm20 xs18 mt4 xsmt6">Tutor Registration</div>
            <form (ngSubmit)="addTutorInformation(name.value,emailId.value,mobile.value,dob,location.value,highestQualification.value,specialization.value,experience.value,boards.value,occupation.value,leadFromInfo.value)"
                    ngNativeValidate>
                <div class="tutorForm bg-white-form">       
                    <table class="table sm16">
                        <tr>
                            <td width="36%" class="align-middle">Name
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_Name" [disabled]="disableInput('name')" #name type="text" placeholder="Enter Your Name" 
                                        value="{{tutorDetailCO?.firstName}}" aria-describedby="" class="form-control formHeight" 
                                            required>
                                    </div>
                                </div>
                            </td>
                        </tr> 
                        <tr>
                            <td width="36%" class="align-middle">Email ID
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_EmailId" [disabled]="disableInput('email')"  #emailId type="email"  placeholder="Enter Your Email"
                                        value="{{tutorDetailCO?.email}}" aria-describedby="" class="form-control formHeight"
                                            required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Mobile No.
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input  id ="txt_MobileNo" [disabled]="disableInput('mobile')" #mobile maxlength="10"  minlength="10" type="text" (keypress)="numberOnly($event)"
                                            value="{{tutorDetailCO?.mobile}}" placeholder="Enter Your Mobile Number" aria-describedby="" class="form-control formHeight"
                                                required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Date of Birth 
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="input-group">
                                    <!--   <input #dob type="text" name="dob" class="form-control formHeight" 
                                    placeholder="Enter Your Date of Birth" autocomplete="off"
                                        aria-label="Username" aria-describedby="basic-addon1" 
                                        required name="daterangeInput"
                                        (selected)="selectedDate($event, daterange)" daterangepicker> -->
                                        <!-- "{year: 2050, month: 12, day: 31}" -->
                                        <input [minDate]="{year: 1980, month: 1, day: 1}"
                                        [maxDate]="{year: currentYear, month: 12, day: 31}" id ="txt_DOB" class="form-control" placeholder="yyyy-mm-dd"  name="dp" [(ngModel)]="dob" ngbDatepicker #d="ngbDatepicker" readonly required>
                                        <div class="input-group-append">
                                            <button class="date-btn" (click)="d.toggle()" type="button"><img alt="" src="../assets/images/date.png"></button>
                                        </div>
                                       
                                        

                                    <!--  <div class="input-group-prepend">
                                        <span class="input-group-text formHeight">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Location
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_Location" #location type="text" placeholder="Enter Your Location" aria-describedby=""
                                            class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Highest Qualification
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_Highest_Qualification" #highestQualification type="text" placeholder="Enter Your Qualification"
                                            aria-describedby="" class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Specialization
                                <span class="required">*</span>
                                <small>Along with college details</small>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_Specialization" #specialization type="text" placeholder="Enter Specialization Subject"
                                            aria-describedby="" class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Years of Experience
                                <span class="required">*</span>
                                <small>In Teaching</small>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_Year_of_Experience" #experience type="number" min="0" max="40" placeholder="Enter Experience"
                                            aria-describedby="" class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="">Mark Grades/Exams
                                <span class="required">*</span>
                                <small>You would like to contribute</small>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper customCaret">
                                        <input  type="text" placeholder="Select Grade/Exam"
                                            class="form-control formHeight"  (click)="openGradePopUp(content)">
                                    </div>
                                    
                                       
                                        
                                        <!-- Choose Exam  -->
                                        <p *ngIf ="selectedGradeCOArrayList.length > 0" class="sm13 text-grey mt2 xsmt2">Choose Exam</p>
                                        <div class="viewSelectedExams viewSelectedExams10">
                                            <ul *ngFor="let selectedGradeCO of selectedGradeCOArrayList">
                                                <li>
                                                    <ul class="examBreadcrums">
                                                        <li >{{selectedGradeCO.catGradesCO.name}}</li>
                                                        <li >{{getGradeBreadCrumb(selectedGradeCO)}}</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a class="editDeleteBtn" (click)="deleteBreadCrumb(selectedGradeCO)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a *ngIf ="selectedGradeCOArrayList.length > 0" class="chooseMoreBtnWthoutB" (click)="openGradePopUp(content)">
                                            <i class="fa fa-plus-square" aria-hidden="true"></i>  Add More
                                        </a>

                                    
                                </div>
                            </td>
                            
                    
                        </tr>
                        <!-- <tr>
                            <td width="36%" class="align-middle">Primary Subject
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input #primarySubject type="text" placeholder="Enter Primary Subject" aria-describedby=""
                                            class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Secondary Subject (If Any)
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input #secondarySubject type="text" placeholder="Secondary Subject" aria-describedby=""
                                            class="form-control formHeight">
                                    </div>
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td width="36%" class="align-middle">Boards (If Applicable)
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txtBoards" #boards type="text" placeholder="Enter Board Details" aria-describedby="" class="form-control formHeight">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Current Occupation
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input  id ="txt_Current_Occupation" #occupation type="text" placeholder="Enter Current Occupation" aria-describedby=""
                                            class="form-control formHeight" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">How did you came to know about this?
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="form-group">
                                    <div class="wrapper">
                                        <input id ="txt_How_did_you" #leadFromInfo type="text" placeholder="Description" aria-describedby="" class="form-control formHeight">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="36%" class="align-middle">Upload Resume  
                                <span class="required">*</span>
                            </td>
                            <td width="64%" class="align-middle">
                                <div class="row">
                                    <div class="col-sm-6 col">
                                        <div class="file-upload">
                                            <label for="upload" class="file-upload-label">{{resumeButtonTitle}}</label>
                                            <input id ="fu_Upload_Resume" id="upload" class="file-upload-input" accept=".doc,.docx,.pdf" (change)="selectFile($event)"
                                                type="file" name="file-upload">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6 col pt-3">
                                        <!-- {{currentFileName1}} -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tutorFormFooter">
                    <div class="row">
                        <div class="col-sm-12 col pointer">
                            <input type="submit" class="submitNowBtn w100" value="Submit Now!">
                        </div>
                    </div>
                </div>        
            </form>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <app-choose-grade-popup [modalReference]="modalReference" [selectedGradeCOArrayList]="selectedGradeCOArrayList" (addGrade)="addGrade($event)"></app-choose-grade-popup>
</ng-template> 


<div *ngIf ="showSuccessView">
<app-tutor-success-popup [toShowCloseIcon]= "'0'" [status]="tutorFormStatus"></app-tutor-success-popup>
</div>




