<!-- 
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openProfileDetailInfo(profileDetail)">Profile Detail</button>

<ng-template #profileDetail let-modal> -->
<form
	(ngSubmit)="addUserEduInformation(education.value,board.value,field.value,dateFrom,dateTo)"
	ngNativeValidate>
	<div class="modal-header" #profileDetail>
		<h4 class="modal-title">Qualification Info</h4>
		<button type="button" class="close" aria-label="Close" (click)="dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body qualificationInfo">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<label for="fileToUpload" class="imgHover">
					<div class="upload-overlay-profile">
						<i class="fa fa-camera" aria-hidden="true" (click)="file.click()"></i>
						Upload
						<input type="file" accept="image/*" #file (change)="selectFile($event)" hidden>
						<!-- <input type="file" name="myfile" accept="image/*" (change)="selectFile($event)" /> -->

					</div>
					<img alt="" src="{{userImage}}" class="mx-auto d-block rounded-circle">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form class="mt2 xsmt4">
					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<input type="text" #education class="form-control" placeholder="Education">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<input type="text" #board class="form-control" placeholder="Board/University">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<div class="input-group">
									<!-- <input class="form-control" placeholder="From"  name=""> -->
									<input class="form-control" placeholder="From" name="from" [(ngModel)]="dateFrom"
										ngbDatepicker #d1="ngbDatepicker" readonly required>
									<div class="input-group-append">
										<!-- <button class="fa fa-calendar" type="button"></button> -->

										<div class="input-group-append">
											<button class="fa fa-calendar" (click)="d1.toggle()" type="button"></button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="input-group mt0 xsmt2">
									<!-- <input class="form-control" placeholder="To"  name=""> -->
									<input class="form-control" placeholder="To" name="to" [(ngModel)]="dateTo"
										ngbDatepicker #d2="ngbDatepicker" readonly required>
									<div class="input-group-append">
										<!-- <button class="fa fa-calendar" type="button"></button> -->
										<button class="fa fa-calendar" (click)="d2.toggle()" type="button"></button>
										<!-- <div class="input-group-append">
										
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<input  #field  type="text" class="form-control" placeholder="Field of Study">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn blue-btn f-14" value="Update">
		<button type="button" class="base-btn default-btn f-14 mr5" (click)="dismiss()">Cancel</button>
	</div>
</form>