 <!-- Ask Question Modal Start -->
 <!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="askQuestion(contentQuestion)">Ask Question</button> -->
 <!-- <ng-template #contentQuestion let-modal> -->
  <div class="modal-header">
      <h4 class="modal-title">Let Eduncle Helps You CRACK Your EXAM!</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body clear">
      <form class="askQuestionForm">
          <div class="form-group" *ngFor="let cmnFeedbackQuestionsCO of cmnFeedbackQuestionsCOList; let i = index">
              <div class="w500 mt1 xsmb2 xs16">
                  {{cmnFeedbackQuestionsCO?.question}}
              </div>
              <textarea  class="form-control" placeholder="{{cmnFeedbackQuestionsCO?.placeHolder}}" [(ngModel)]="cmnFeedbackQuestionsCO.answer"  name="{{i}}" #i='ngModel' ></textarea> 
          </div>
            <!-- <div class="form-group">
                <div class="w500 mt1 xsmb2 xs16">
                    <strong></strong> Are you facing any Challenge & want HELP from Eduncle?
                </div>
                <textarea class="form-control" placeholder="Are you facing any Challenge & want HELP from Eduncle?"></textarea> 
            </div>
            <div class="form-group">
                <div class="w500 mt1 xsmb2 xs16">
                    Which session are you targeting?
                </div>
                <textarea class="form-control" placeholder="Which session are you targeting?"></textarea> 
            </div> -->
            <!-- <div class="form-group">
                Let us help you to understand you better.
            </div> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn greenBtn f-14" (click)="addQuestionSubmit()">Submit</button>
        <button type="button" class="base-btn default-btn f-14 mr5" (click)="dismiss()">Cancel</button>
    </div>
<!-- </ng-template> -->
<!-- Ask Question End -->