<!-- HEADER AFTER LOGIN START -->
<header class="loggedOutHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-blueHeader newNavbar">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                <button class="navbar-toggler custom-toggler newMobileToggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand toggleSidebarMenu" (click)="showExamSidebarMenu()">
                    <span class="icon-hamburger text-white"></span>
                </a>
                <a class="navbar-brand headerBeforeLoginLogo d-md-none d-block" href="{{siteUrl}}">
                    <img alt="eduncle-logo" src="assets/images/eduncle-logo-app.png" class="img-fluid edu-logoh35" style="width: 35px;height: 35px;">
                </a>
                <a class="navbar-brand desktop-device" href="{{siteUrl}}">
                    <img alt="eduncle-logo" src="assets/images/eduncle-logo-app.png" class="img-fluid edu-logoh35" style="width: 35px;height: 35px;">
                </a>
                <div class="desktop-device" (click)="openPopUp()">
                    <button class="searchBarHeader status-placeholder" id="">
                        <span>&nbsp;Search or Ask Eduncle</span>
                    </button>
                </div> 
                <a class="mobileUserLogin pointer" (click)="openSignupModal()">
                    <span class="icon-profile_1"></span>
                </a>
                <div class="extra-cell">
                    <div class="countNotification cell-nav lg16 md14 sm16 xs16 d-block d-lg-none">
                        <a style="margin-right: 20px;float:left;" class="text-black" (click)="openPopUp()">
                            <span class="icon-search"></span>
                        </a>
                        <a style="margin-right: 50px;float:left;" class="text-black" 
                        (click)="showHideCallUsDropdownMobile()">
                            <span class="icon-callback"></span>
                            <span class="numberCount">1</span>
                        </a>
                        <div class="callUsDropdown" *ngIf="isCallUsDropdownMobile" style="right: 0" (click)="preventClickHere()">
                            <p class="sm14 xs14 para-text prepBoxPadding2">
                                Want FREE Counselling for Exam Preparation?
                            </p>
                            <p class="head-text mb1 sm16 xs15 w500">
                                Call Us 
                            </p>
                            <p class="head-text mb3 md24 sm20 xs20">
                                <span class="icon-phone-call w700">800-355-2211</span>
                            </p>
                            <p class="head-text mb6 sm14 xs14">
                                Speak With a Friendly Mentor.
                            </p>
                            <div class="footBox">
                                <p class="sm14 xs14 para-text">
                                    OR
                                </p>
                                <button class="requestButton d-md-block d-none" (click)="showRequestCallBack()">
                                    Request a Call Back
                                </button>
                                <a href="https://wa.me/918003552211?text=Hi Eduncle, I want free counselling " class="add-watsapp-popup-icon">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="active">
                            <a target="_blank" class="pointer" (click)="openSignupModal()">Try Free Downloads
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a  class="dropdown-toggle"  id="navbarDropdown" role="button">Courses
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let courseHeaderCO of courseHeaderCOList" class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">{{courseHeaderCO.categoryTitle}}
                                        <i class="fa fa-angle-down subMenu" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="dropdown" *ngFor="let filterValueCO of courseHeaderCO.filterValueCOList">
                                            <a href={{courseHeaderCO.getFilterUrl(filterValueCO.filterTypeId)}}
                                                target="_blank">{{filterValueCO.filterTypeTitle}}
                                                <i class="fa fa-angle-down submenu-2-caret subMenu" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="navbarDropdown" role="button">Scoop
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- <li *ngFor="let catCategoriesCO of catCategoriesCOList">
                                    <a href="{{scoopUrl}}/{{catCategoriesCO.slug}}" target="_blank">{{catCategoriesCO.title}}</a>
                                </li> -->
                                <li>
                                    <a [routerLink]="['']">Scoop Home</a>
                                   <!--  <a href="{{scoopUrl}}">Scoop Home</a> -->
                                </li>
                                <li>
                                    <a [routerLink]="['/','ugc-net']">UGC NET</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','iit-jam']">IIT JAM</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','csir-net']">CSIR NET</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','engineering-entrance-jee']">Engineering Entrance (JEE)</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','medical-entrance-neet']">Medical Entrance (NEET)</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','ibps']">IBPS</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','ssc']">SSC</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','rrb']">RRB</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="navbarDropdown" role="button">About
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="{{siteUrl}}/about-us">About Eduncle</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/student">Student</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/teacher">Teacher</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/reviews">Reviews</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/app">App</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/career">Career</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="extra-cell hideOnMobile">
                        <!-- <div class="nav-phone-number nav-phone-numberColor cell lg16 md14 sm16 xs16 d-none d-xl-block">
                            <i class="fa fa-phone" aria-hidden="true"></i> 1800-120-1021 (Toll FREE)
                        </div> -->
                        <div class="countNotification cell-nav lg16 md14 sm16 xs16">
                            <a style="margin-right: 10px" *ngIf="!appCurrentState?.isUserLoggedIn" class="text-black" 
                            (click)="showHideCallUsDropdown($event)">
                                <span class="icon-callback"></span>
                                <span class="numberCount">1</span>
                            </a>
                            <a style="margin-right: 10px" *ngIf="appCurrentState?.isUserLoggedIn" class="text-black" 
                            (click)="showHideCallUsDropdown($event)">
                                <span class="icon-callback"></span>
                                <span class="numberCount">1</span>
                            </a>
                            <div class="callUsDropdown" *ngIf="isCallUsDropdown" (click)="preventClickHere()">
                                <p class="sm14 xs14 para-text prepBoxPadding2">
                                    Want FREE Counselling for Exam Preparation?
                                </p>
                                <p class="head-text mb1 sm16 xs15 w500">
                                    Call Us 
                                </p>
                                <p class="head-text mb3 sm24 xs20">
                                    <span class="icon-phone-call w700">800-355-2211</span>
                                </p>
                                <p class="head-text mb6 sm14 xs14">
                                    Speak With a Friendly Mentor.
                                </p>
                                <div class="footBox">
                                    <p class="sm14 xs14 para-text">
                                        OR
                                    </p>
                                    <button class="requestButton" (click)="showRequestCallBack()">
                                        Request a Call Back
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="login-btn cell pointer" *ngIf="scoopUrl == pageUrl">
                            <a (click)="openLoginModal()" class="text-black">
                                Login
                            </a>
                        </div>
                        <div class="login-btn cell pointer" *ngIf="scoopUrl != pageUrl">
                            <a  (click)="openLoginModal()" class="text-black">
                                Login
                            </a>
                        </div>
                        <div class="signup-btn-orange cell" *ngIf="scoopUrl == pageUrl">
                            <a class="pointer" (click)="openSignupModal()">Sign up</a>
                        </div>
                        <div class="signup-btn-orange cell" *ngIf="scoopUrl != pageUrl">
                            <a class="pointer" (click)="openSignupModal()">Sign up</a>
                        </div>
                        <div class="cell mobile-login">
                            <a class="nav-link" href="#">
                                <span class="icon-profile_1"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>
<!-- HEADER AFTER LOGIN END -->



<!-- exit popup -->
<!-- 
<div *ngIf="!loadTutorComponent" class="col-md-7 col-sm-7 col"></div> -->

 <!-- <p>x: {{clientX}}, y: {{clientY}}</p>

   

 
 <ng-template #content let-modal>
            <app-otp-popup *ngIf="loadOtpComponent"></app-otp-popup>
        <app-modal-category (categoryAdd)="addCategory($event)" [modalReference]="modalReference"></app-modal-category>
    </ng-template> -->

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="eduncleEntry(content)">Eduncle Entry</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="eduncleExit(contentExit)">Eduncle Exit</button> -->



<!-- Overlay for mobile. Visible when user click on Switch Exam toggle mobile menu -->

<!-- <app-entry-popup (loadOtpComponent)="showUserOtpComponent($event)"></app-entry-popup>  -->
   
<!-- <app-otp-popup *ngIf="loadOtpComponent"></app-otp-popup> -->

<div *ngIf="loadOtpComponent">
    <app-exit-popup></app-exit-popup>  
</div>



<div class="overlayMobile d-lg-none d-block" *ngIf="showExamMobileMenu" (click)="closeMobileMenu()"></div>

<!-- DESKTOP HEADER MENU AND SIDEBAR (You'r studying) MENU IN MOBILE SCREEN START class="changeExamMobileMenu"-->
<div *ngIf="showExamMobileMenu">
    <app-you-are-studying-mobile-menu (closeYouAreStudyingMobileMenu)="hideYouAreStudying($event)"></app-you-are-studying-mobile-menu>
</div>
<!-- DESKTOP HEADER MENU AND SIDEBAR (You'r studying) MENU IN MOBILE SCREEN END -->



    
  
  