
    


<button type="button" class="close custom-close exit-close-btn-icons" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
</button>

<div class="modal-body custonIcon">
    <div>
        <ngb-carousel *ngIf="sclPostAttachmentsCOList" #myCarousel="ngbCarousel">
            <ng-template *ngFor="let sclPostAttachmentsCO of sclPostAttachmentsCOList;" ngbSlide>
                <div class="picsum-img-wrapper">
                    <img alt="" *ngIf="sclPostAttachmentsCO.type.includes('pdf')" src="{{sclPostAttachmentsCO.previewImage}}" class="d-block">
                    <img alt="" *ngIf="sclPostAttachmentsCO.type.includes('image')" src="{{sclPostAttachmentsCO.url}}">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<!-- <img alt="" src="https://picsum.photos/id/726/900/500" (click)="openLg(content)" /> -->

  
