<div *ngIf="catCategoryQuickLinksCOlist">
    <div class="exam-block blog-block quick-links" *ngIf="catCategoryQuickLinksCOlist?.length > 0">
        <div class="exam-block-title">
            <div class="blockTitle">
                <a (click)="showQuickLinks=!showQuickLinks">
                    <span class="icon-top-resources xs18"></span>
                    &nbsp;Top Resources&nbsp;
                    <!-- <i *ngIf="showQuickLinks" class="fa fa-chevron-down" aria-hidden="true"></i>
                    <i *ngIf="!showQuickLinks" class="fa fa-chevron-up" aria-hidden="true"></i> -->
                </a>
            </div>
            <!-- *ngIf="showQuickLinks" -->
            <ul  class="quickLinks">
                <li *ngFor="let quickLink of catCategoryQuickLinksCOlist">
                    <a *ngIf="quickLink?.isExternalUrl" href="https://{{quickLink?.redirectToLink}}">
                        <div class="{{quickLink?.icon}}"></div>
                        <div class="quickLinkTitle">{{quickLink?.linkTitle}}</div>
                    </a>
                    <a *ngIf="!quickLink?.isExternalUrl" [routerLink]="['/',quickLink?.redirectToLink]">
                        <div class="{{quickLink?.icon}}"></div>
                        <div class="quickLinkTitle">{{quickLink?.linkTitle}}</div>
                    </a>
               </li>                     
                <!-- <a *ngIf="quickLink?.isExternalUrl" href="{{quickLink?.redirectToLink}}">
                    <i class="{{quickLink?.icon}}" aria-hidden="true"></i>
                    {{quickLink?.linkTitle}}
                </a>
                <a *ngIf="!quickLink?.isExternalUrl" [routerLink]="['/',quickLink?.redirectToLink]">
                    <i class="{{quickLink?.icon}}" aria-hidden="true"></i>
                    {{quickLink?.linkTitle}}
                </a> -->
            </ul>
        </div>
    </div>
</div>