<form (ngSubmit)="openModal(content)" #regForm="ngForm" class="mt4 w-100">
    <div class="form-group">
        <input type="text" #username ngModel required name="username" class="form-control form-control-lg-50"
            placeholder="Your Name">
    </div>
    <div class="form-group">
        <input type="email" #email ngModel required name="email" class="form-control form-control-lg-50" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input type="number" #phoneNo ngModel required name="phoneNo" class="form-control form-control-lg-50"
            placeholder="Phone number">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-4 text-center">
                <div class="captcha-text">
                    <span>{{ captchaNumber1 }}</span>
                    <span>+</span>
                    <span>{{ captchaNumber2 }}</span>
                    <span>=</span>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-8">
                <input type="number" (keyup)="checkCaptcha(captchaNumber.value)" ngModel required #captchaNumber name="captchaNumber"
                    class="form-control form-control-lg-50">
            </div>
        </div>
    </div>
    <div class="buttons-btn btn-50">
        <!-- <a class="bg-blue text-center text-white lg16 w500 d-block" (click)="otpPopup(content)">Download Nowww</a> -->
        <button [disabled]="(!isCaptchCorrect || !regForm.form.valid)" class="btn bg-blue lg16 md16 sm16 xs16 continueToSite" style='cursor: pointer;color:white'>
            Download Now
        </button>
    </div>
</form>

<!-- Show otp modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Verify OTP</h4>
        <button type="button" class="close closeModal" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-otp ></app-otp>
    </div>
</ng-template>