<div class="new-login-panel">
    <div class="new-login-left-panel">
        <!-- <img alt="" src="{{loggedInUserCO.profileImage}}" class="img-fluid img-rounded"> -->
    </div>
    <div class="new-login-right-panel">
        <div>
            <a href="#" class="new-login-box-btn">
                My Profile
            </a>
        </div>
    </div>
</div>
<div class="accessibleLinks">
    <a href="#" rel="nofollow" title="Inbox">
        <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; Inbox
    </a>
    <a href="#" rel="nofollow" title="Dashboard">
        <i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp; Dashboard
    </a>
    <a href="#" rel="nofollow" title="My Orders">
        <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp; My Orders
    </a>
    <a href="{{siteUrl}}/store/view-wishlist" rel="nofollow" title="My Wishlist">
        <i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp; My Wishlist
    </a>
    <a href="#" rel="nofollow" title="Logout">
        <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp; Logout
    </a>
</div>