<div class="mediaDblockXs">
    <div class="media">
        <div class="media-left exam-post-author inline-items">
            <img alt="" *ngIf="commentCO?.userCO?.profileImage" [defaultImage]="defaultImageCircle" [lazyLoad]="getResponsiveImage(commentCO?.userCO?.profileImage)" [useSrcset]="true" [errorImage]="commentCO?.userCO?.profileImage">
            <!-- <img alt="" *ngIf="!commentCO?.userCO?.profileImage" src="https://cdn.eduncle.com/webfiles/images/profile.png"> -->

            <div *appShellNoRender>
                    <div *ngIf="!commentCO?.userCO?.profileImage" class="{{getClassForTextBackGround()}}">
                            {{textBackgroundUserProfile}}
                        </div>
            </div>


        </div>
        <div class="media-body">
            <div class="showComment-bg">
                <div class="mb1 xs14">
                    <div class="w500 x16">
                        {{commentCO?.userCO?.fullName()}} 
                    </div>

                   
                        <!-- you HTML goes here -->
                        <!-- <div [innerHTML]="commentCO?.comment | safeHtml: 'html'"></div> -->
                        <read-more [text]="commentCO?.comment" [maxLength]="180"></read-more>
                   
                    <!-- <a [class.hidden]="hideToggle" (click)="toggleView()">Read {{isCollapsed? 'more':'less'}}</a> -->
                   <!--  <a (click)="toggleView()" class="lg16 md16 sm16 xs16 text-blue pointer" *ngIf="!hideToggle">Read {{isCollapsed? 'more':'less'}}</a> -->

                    <!-- <div *ngIf="commentCO?.comment">
                        <div *ngIf="commentCO?.comment.length <= limit" [innerHTML]="commentCO?.comment | safeHtml: 'html'"></div>
                        
                        <div *ngIf="truncating && commentCO?.comment.length > limit" [innerHTML]="commentCO?.comment | safeHtml: 'html'">
                            <button (click)="truncating === false">show more</button>
                            llll
                        </div>
                        <div *ngIf="!truncating && commentCO?.comment.length > limit" [innerHTML]="commentCO?.comment | safeHtml: 'html'">
                            <button (click)="truncating === true">show less</button>
                            llll
                        </div>
                    </div> -->

                    

                </div>
            </div>
            <div class="commentInfo" *appShellNoRender>
                <div class="mt-2 mb-2">
                    <!-- <span *ngIf="appCurrentState.userCO"> -->
                    <span *ngIf="this.appCurrentState.isUserLoggedIn">
                        <span *ngIf="!commentCO.hasUserLiked">
                            <a class="pointer text-blue" (click)="likeComment(commentCO)">
                                Likes({{commentCO?.getLikeCount()}})
                            </a>
                        </span>
                        <span *ngIf="commentCO.hasUserLiked">
                            <a class="pointer text-blue" (click)="unlikeComment(commentCO)">
                                Liked({{commentCO?.getLikeCount()}})
                            </a>
                        </span>
                    </span>

                    <span *ngIf="!this.appCurrentState.isUserLoggedIn">
                        <span>
                            <span class="text-blue pointer" (click)="likeComment(commentCO)">
                                Likes({{commentCO?.getLikeCount()}})
                            </span>
                        </span>
                       <!--  <span *ngIf="commentLikeStatuus">
                            <a class="pointer text-blue" (click)="unlikeComment(commentCO)">
                                Liked({{commentCO?.getLikeCount()}})
                            </a>
                        </span> -->
                    </span>

                    <span class="commentSeparationDots">
                        <span *ngIf="appCurrentState?.userCO" (click)="showInsertReplyBox()" class="text-blue pointer">
                            Reply({{commentCO?.getReplyCount()}})
                        </span>
                        <span *ngIf="!appCurrentState?.userCO" (click)="showInsertReplyBox()" class="text-blue pointer">
                            Reply({{commentCO?.getReplyCount()}})
                        </span>
                    </span>
                    <span class="commentSeparationDots"
                        *ngIf="((appCurrentState.userCO!=null) && (appCurrentState.userCO.id === commentCO.userId))">
                        <a class="text-blue pointer" (click)="openCommentDeletePopup(commentCO?.id)">
                            Delete
                        </a>
                    </span>
                </div>
                <div>
                    <div class="blog-reply" *ngIf="showReplyBox">
                        <app-insert-reply [commentCO]="commentCO" (replyInserted)="replyInserted($event)"
                            (hideReplyBox)="hideReplyBox($event)"></app-insert-reply>
                    </div>
                </div>
            </div>
            <div *ngFor="let replyCO of commentCO.sclCommentReplyCOList">
                <app-show-reply [replyCO]="replyCO" [categoryId]="categoryId"></app-show-reply>
            </div>

            <!-- <div class="text-blue mt-2 d-block xs14 w500 pointer" *ngIf="!(commentCO.sclCommentReplyCOList?.length === +(commentCO?.getReplyCount())) && commentCO.sclCommentReplyCOList" (click)="loadMoreReplies(commentCO)">
                View More Replies
            </div> -->
        </div>
    </div>
</div>

<!-- <div *ngIf="appPopupCO.isReplyDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div> -->

<!-- Delete Modal Popup Start -->
<!-- <div *ngIf="appPopupCO.isCommentDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up  (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div> -->

<!-- <div class="modal" id="comment{{commentCO.id}}" tabindex="-1" role="dialog">
    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
</div> -->

<!-- Delete Modal Popup End -->

<!-- Login Popup Start -->
<!-- <div class="modal fade" id="loginbtn" tabindex="-1" role="dialog" aria-labelledby="loginbtn" aria-hidden="true" (click)="openLoginPopUp(categoryId)">
    <app-login-popup [categoryId]="categoryId"></app-login-popup>
</div> -->

<!-- <div class="modal fade" id="login-btn" tabindex="-1" role="dialog" aria-labelledby="login-btn" aria-hidden="true">
    <app-login-popup></app-login-popup>
</div> -->
<!-- <div class="modal fade" id="login-btn" tabindex="-1" role="dialog" aria-labelledby="login-btn" aria-hidden="true">
    <app-login-popup></app-login-popup>
</div> -->
<!-- Login Popup End -->

<!-- <div *ngIf="appPopupCO.isReplyDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div> -->