<button type="button" class="close custom-close exit-close-btn-icons" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
</button>

<div class="modal-heading">
    <div class="header-bg">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="md36 sm36 xs25 w600 text-center white-text xstopmargin16 lh14">Wait Wait Wait... !</div>
                <div class="md14 sm14 xs14 text-center white-text exitmb0 xsmb4 exitPopup-border">We Have Something Special for
                    YOU</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-body clear" style="padding: 0 1rem;">
    <div class="row">
        <div *ngIf="!loadOtpExit" class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="w400 mt1 xsmb2 lh14">
                    Download FREE Study Material Designed by Subject Experts & Qualifiers
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mt3">
                <div *ngIf="showValidationError" class="text-center alert-msg-red w500 xs12 mb4 xsmb4">
                    {{validationError}}</div>
                <form class="form-horizontal" method="post" id="" ngNativeValidate
                    (ngSubmit)="userRegistrationNew(regForm.value)" #regForm="ngForm">

                    <div class="selectGroup form-group">
                        <div *ngIf="!isCategorySelected" class="red-text sm12"><i class="fa fa-info-circle"
                                aria-hidden="true"></i> Category is required.</div>
                        <div class="dropdown w-100 newDropdownCategory">
                            <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{selectedCategoryTitle}}
                            </button>
                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let catCategoriesCO of catCategoriesCOArray" class="dropdown-item"
                                    (click)="onCategorySelect(catCategoriesCO)">{{catCategoriesCO.title}}</a>
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList;let i = index">
                        <div *ngIf="i < 1" class="selectGroup form-group">
                            <div *ngIf="catCategoryFiltersCO.validationMessage !== ''" class="red-text sm12"><i
                                    class="fa fa-info-circle" aria-hidden="true"></i>
                                {{catCategoryFiltersCO.validationMessage}}</div>
                            <div class="dropdown w-100 newDropdownCategory">
                                <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{catCategoryFiltersCO.filterTypeTitle}}
                                </button>
                                <!-- <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList"
                                        class="dropdown-item"
                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">{{filterValueCO.filterTypeTitle}}</a>
                                </div> -->
                                <div *ngIf="isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">

                                    <a *ngFor="let filterValueCO of sortedArray1" class="dropdown-item"
                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                        {{filterValueCO.filterTypeTitle}}
                                    </a>
                                    <a class="dropdown-item otherSubject">Others</a>
                                    <a *ngFor="let filterValueCO of sortedArray2" class="dropdown-item"
                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                        {{filterValueCO.filterTypeTitle}}
                                    </a>
                                </div>

                                <div  *ngIf="!isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    
                                    

                                    <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" 
                                        class="dropdown-item" 
                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                        {{filterValueCO.filterTypeTitle}}
                                     </a>    
                                    
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback" id="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-profile"></span>
                                </span>
                            </div>
                            <input ngModel type="text" class="form-control formHeight-40" name="name"
                                aria-describedby="emailHelp" placeholder="Your Name" required placement="right"
                                required>
                        </div>
                    </div>
                    <div class="form-group has-feedback" id="">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-phone-call"></span>
                                </span>
                            </div>
                            <input ngModel type="text" class="form-control formHeight-40" name="phone" minlength="10" maxlength="10" (keyup) ="saveBrokenLeads($event)"
                            (keypress)="numberOnly($event)" aria-describedby="emailHelp" placeholder="Mobile No." required placement="right"
                                required>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="selectCaret">
                            <select name="exam" type="text" class="form-control formHeight-40 borderColor">
                                <option value="">Select Exams</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="selectCaret">
                            <select name="exam" type="text" class="form-control formHeight-40 borderColor">
                                <option value="">Select Exams</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                                <option value="">A</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- <p class="para topmargin2 mb2 xsmb2 floatLeft">By signing up you accept our <a
                            href="{{siteUrl}}/terms-of-use" target="_blank">Terms of Use</a></p> -->
                    <p class="para mb2 xsmb2 floatLeft checkboxTerms">
                        <input type="checkbox" id="signupaccept" (click)="checkUncheckTermsCheckBox()" value="" name="" checked>
                        <label for="signupaccept">I agree to the <a href="{{siteUrl}}/terms-of-use" target="_blank">Terms and Conditions</a>.</label> 

                        <input type="checkbox" id="whatsappNotif"  (click)="checkUncheckWhatsAppNotification()" checked >
                        <label for="whatsappNotif">I agree to receive exam notifications via WhatsApp.</label>

                    </p>
                    <div class="form-group topmargin2">
                        <a class="pointer exit_popup_form_trgr">
                            <button type="submit" class="btn btn-lg btnGreen continueToSite w600 md18 sm18 xs18">Download Now</button>
                        </a>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <p class="para mt6">Or Signup with</p>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <div class="d-none d-sm-block">
                                        <button type="button" class="btn btn-facebook btn-social-form xs14"  (click)="signInWithFB()"><i class="icon-facebook-mp facebookColor"></i>facebook</button>     
                                        <button type="button" class="btn btn-google-plus btn-social-form pull-right google_ xs14" (click)="signInWithGoogle()">
                                        <i class="icon-google-mp googleColor" aria-hidden="true"></i> Google</button>
                                    </div>    

                                    <div class="d-block d-sm-none">
                                        <button type="button" class="btn btn-facebook btn-social-form floatLeft mb0 xsmb4" (click)="signInWithFB()"><i class="icon-facebook-mp facebookColor"></i> facebook</button>     
                                        <button type="button" class="btn btn-google-plus btn-social-form pull-right google_ floatLeft" (click)="signInWithGoogle()">
                                        <i class="icon-google-mp googleColor" aria-hidden="true"></i> Google</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <input type="hidden" name="exit_popup[FULL_PAGE_URL]" value="">
                    <input type="hidden" name="exit_popup[reg]" value="15" />
                </form>
                <div class="clear">&nbsp;</div>
            </div>
        </div>
        <div *ngIf="loadOtpExit">
            <!-- <app-otp [phoneNo]="phoneNumber" [otp]="otp1"></app-otp> -->
            <div class="reqCallBackForm" style="padding-top: 0;padding-right: 15px;">
                <app-otp-popup></app-otp-popup>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="login_txt md13 sm13 xs13 clear w600 exitPopupLoginHere">Already have an account?
            <a class="text-blue pointer" (click)="openLoginPopupExit()">Login here</a>
        </div>
    </div>
</div>