<div class="edu-main-nav group scp">
    <ul>
        <li class="exams">
            <span>
                <div class="openmenu">
                    <ul>
                        <li class="stream" *ngFor="let categoryCO of catCategoriesCOList ">
                            <a href="#"  (mouseenter) ="mouseEnterCategory(categoryCO)"  >{{categoryCO.title}}</a>
                            <!-- second and third column -->
                            <div  *ngIf="catCategoriesCO.catExamsCOList?.length > 0">
                                <div class="nav-cont-left">
                                    <div>
                                        <ul>
                                            <li *ngFor="let exam of catCategoriesCO.catExamsCOList">
                                                <a href="#" (mouseenter) ="mouseEnterExam(exam)" >{{exam.title}} </a>
                                                <!-- third column -->
                                                <div>
                                                    <ul id="edu-third-menu-block">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="heading-edu"> 
                                                                    {{catExamsCO.title}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <h5 class="third-nav-title">Shop</h5>
                                                            <div class="col-md-6 col-sm-6 col-xs-6 marginbottom3">
                                                                <a href="https://www.eduncle.com/store/search.php?sortby=ltst&amp;pkg_type%5B%5D=pkg_cr&amp;cat_id=119&amp;category=IBPS+PO%2FMT"
                                                                    class="third-no-padding">
                                                                    <span class="float-left">
                                                                        <img alt="" src="https://eduncle-cdn.saglus.com/webfiles/icons/course.png">
                                                                    </span>
                                                                    <span class="shop-courses">Courses ({{exam.courseCount}})</span>
                                                                </a>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-6 marginbottom3">
                                                                <a href="https://www.eduncle.com/store/search.php?sortby=ltst&amp;pkg_type%5B%5D=pkg_qb&amp;cat_id=120&amp;category=IBPS+Clerical">
                                                                    <span class="float-left">
                                                                        <img alt="" src="https://eduncle-cdn.saglus.com/webfiles/icons/tests.png">
                                                                    </span>
                                                                    <span class="shop-courses">Tests ({{exam.testCount}})</span>
                                                                </a>
                                                            </div>
                                                            <h5 class="top-selling-products">Top Selling Product of the Week</h5>
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                                                                    <span class="show md16 sm15 xs15 w600 darkgraycolor">IBPS PO and Clerk Pre Exam Video Course in Hindi</span>
                                                                    <small class="top-selling-subtitle">This Course is designed and developed by a team of</small>
                                                                    <a href="https://www.eduncle.com/ibps-po-and-clerk-pre-exam-video-course-in-hindi/282" class="topmargin1 darkgraycolor md14">
                                                                        <div class="show show-now w400">Shop Now
                                                                            <span class="icon-angle-right"></span>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <img alt="" src="https://eduncle-cdn.saglus.com/webfiles/1/promo/promo_images/222x125/W6ikl3Odb[.jpg" class="img-responsive center-block">
                                                                </div>
                                                            </div>
                                                            <h5 class="third-nav-title">Latest From the Scoop</h5>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://scoop.eduncle.com/application-form-for-ibps-po-apply-online" class="padding0">
                                                                                <img alt="" width="61" height="61" src="https://eduncle-courses-cdn.saglus.com/library/scoop-files/2017/01/IBPS-PO-2018-Online-Application-form-How-to-Apply-Online-featured-61x61.jpg"
                                                                                    class="attachment-other_thumb_front_page wp-post-image"
                                                                                    alt="IBPS-PO-2018-Online-Application-form-How-to-Apply-Online--featured">
                                                                            </a>
                                                                        </td>
                                                                        <td class="darkgraycolor">
                                                                            <a href="https://scoop.eduncle.com/application-form-for-ibps-po-apply-online" class="padding0">
                                                                                IBPS PO 2018 Online Application form | How to Apply Online </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="https://scoop.eduncle.com/ibps-po-preparation-books" class="padding0">
                                                                                <img alt="" width="61" height="61" src="https://eduncle-courses-cdn.saglus.com/library/scoop-files/2017/08/IBPS-PO-2018-Preparation-Tips-Books-Study-Material-Featured-61x61.png"
                                                                                    class="attachment-other_thumb_front_page wp-post-image"
                                                                                    alt="IBPS-PO-2018-Preparation-Tips-Books-Study-Material-Featured">
                                                                            </a>
                                                                        </td>
                                                                        <td class="darkgraycolor">
                                                                            <a href="https://scoop.eduncle.com/ibps-po-preparation-books" class="padding0">
                                                                                IBPS PO 2018 Preparation Tips | Books | Study Material </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </span>
        </li>
    </ul>
</div>