<div class="container">
    <div class="row xsmargin5" *ngIf="sclPostCObject">
        <div class="col-xl-3 order-xl-1 col-lg-4 order-lg-1 col-md-4 col-sm-12 col-xs-12 d-none d-md-block">
            <div #fixJoinExam>
                <app-join-exam-block [catCategoriesCO]="catCategoryCO"></app-join-exam-block>
            </div>
            <app-quick-links [catCategoriesCO]="catCategoryCO"></app-quick-links>
            <!-- <app-related-categories *ngIf="sclPostCObject?.catCategoriesCOList.length > 0" [sclPostCO]="sclPostCObject"></app-related-categories> -->
            <div #fixAdvertisement>
                <div>
                    <app-eduncle-advertisement-vertical [catCategoriesCO]="catCategoryCO" *appShellNoRender></app-eduncle-advertisement-vertical>
                </div>
            </div>
            <div class="clear"></div>
            <!-- <div class="row" *appShellNoRender>
                <div class="col-12">
                    <app-popular-recent-tabs [defaultCategoryId]="sclPostCObject.defaultCategoryId"></app-popular-recent-tabs>
                </div>
            </div> -->
        </div>

        <div class="col-xl-9 order-xl-2 col-lg-8 order-lg-2 col-md-8 col-sm-12 col-xs-12">
            <app-post-blog-content [postCO]="sclPostCObject"></app-post-blog-content>
        </div>
    </div>
</div>
<!-- Social Side Sticky Icon -->
<div class="social-shared sideSocialLinks" #hideSocialOnFooter>
    <ul class="social-list-vertical" *ngIf="sclPostCObject">
        <app-social-share [sclPostCO]="sclPostCObject" *appShellNoRender></app-social-share>
    </ul>
</div>
<!-- Social Side Sticky Icon End-->

<!-- Footer Start -->
<div *ngIf="sclPostCObject">
    <app-footer></app-footer>
</div>

<!-- Footer End -->


<!-- GHOST BUTTON (hidden) TO REFERENCE BY CLICK TO THE NATIVE ELEMENT  -->
<button id="openModal" #openModal [hidden]="true" (click)="open(content)"></button>
<ng-template #content let-c="close" let-d="dismiss">
    <form (ngSubmit)="protectedForm(protected.value, content)" #protected="ngForm">
        <div class="modal-body xspadding15 smpadding30">
            <!-- <app-protected-blog-popup></app-protected-blog-popup> -->
            <img alt="" src="https://cdn.saglustest.com/assets/images/lock-icon.png" alt="Landing Page" title="Password Proctected" class="img-fluid mx-auto d-block xsmb15px smmb20px">
            <div class="w400 xs16 sm18 xsmb5px text-center">Password Protected</div>
            <p class="xs14 grey text-center">This Post is password protected, please enter
                <br class="hidden-xs"> the valid password to open this file.</p>
            <div class="form-group relative xsmb0 xsmt15px smmt30px mb-0 common-input-pass">
                <label class="xs14 grey w400"> Enter your password </label>
                <input ngModel name="password" class="form-control xs14 pr60 ng-pristine ng-valid ng-empty ng-touched" id="password-field" placeholder="Password" type={{changeType}}>
                <div class="form-control-icon-right">
                    <button (click)="toggle()" class="btn addon-icon xs15 toggle-password" toggle="#password-field" type="button">
                            <!-- <i class="fa fa-eye toogle-icon"></i> -->
                            <i class={{changeClass}}></i>
                        </button>
                </div>
                <!-- <div *ngIf="showPassword">
                    <input ngModel name="password" class="form-control xs14 pr60 ng-pristine ng-valid ng-empty ng-touched" id="password-field"
                    placeholder="Password" type="text">
                    <div class="form-control-icon-right">
                        <button (click)="toggle1()" class="btn addon-icon xs15 toggle-password" toggle="#password-field" type="button">
                            <i class="fa toogle-icon icon-show icon-hide fa-eye-slash"></i>
                        </button>
                    </div>
                </div> -->
            </div>
            <small style="color:red;">{{errorMessage}}</small>
        </div>
        <div class="xspadding15 smpadding30 modal-footer custom-modal-foooter text-center d-block">
            <button (click)="closeProtectedPopup(content)" type="submit" class="postBtn btn btn-lg">Cancel</button>
            <button type="submit" class="postBtn btn btn-lg">Submit</button>
        </div>
    </form>
</ng-template>