<!-- Search in Banner Start -->
<div class="clear" style="background:url('assets/images/slider-1.png') #018580 no-repeat;background-size: cover;height: 295px;display: flex;align-items: center;">
	<div class="container">
		<div class="row">
			<div class="col">
				<h5 class="md48 sm48 xs48 text-white text-center w500 mb1 xsmb4">Eduncle Blog</h5>
				<p class="md16 sm16 xs16 text-center text-white mb1 xsmb7">Lead in Your Exam with Daily Scoop of Preparation Tips, News and Notification!</p>
				<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col">
					<div class="searchSmall">
						<input [(ngModel)]="searchText" placeholder="Search Your Exam" class="form-control formHeight50">
						<button type="submit" class="btn">
							<span class="icon-search"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="pt40 bg-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="md24 sm24 xs24 text-center dark-black-title">
					Choose Your Exam
				</div>
				<div class="md14 sm14 xs14 text-center text-grey">
					It will help us better to filter related articles for you
				</div>
			</div>
		</div>
		<div class="row justify-content-center" *ngIf="catCategoriesCOArray?.length > 0">
			<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let category of catCategoriesCOArray  | filter : searchText">
				<div class="text-center mt6 xsmt6" *ngIf="category === -1">No Match Found</div>
				<div *ngIf="category !== -1" class="examNameBlock">
						<!-- <a [routerLink]="[category?.slug]">
							<img src="{{category?.displayLogo}}" class="mx-auto d-block" alt="{{category?.title}}">
							<div class="md18 sm18 xs18 w500 dark-black-title text-center mt4 xsmt4">{{category?.title}}</div>
						</a> -->

						<!--<a *ngIf="category" [routerLink]="['/',category?.slug]">
							<img src="{{category?.displayLogo}}" class="mx-auto d-block" alt="{{category?.title}}">
							<div class="md18 sm18 xs18 w500 dark-black-title text-center mt4 xsmt4">{{category?.title}}</div>
						</a>-->
						
						<a *ngIf="category" [routerLink]="['/',category?.slug]">
							<img src="{{category?.displayLogo}}"
							[lazyLoad]="getResponsiveImage(category?.displayLogo)"
							[useSrcset]="true" [errorImage]="category?.displayLogo" 
							class="mx-auto d-block" alt="{{category?.title}}">
							<div class="md18 sm18 xs18 w500 dark-black-title text-center mt4 xsmt4">{{category?.title}}</div>
						</a>
					

				</div>
			</div>	
		</div>		 
	</div>
</section>

<!-- Choose Your exam End-->