<div class="blog-block clear">
    <div class="blog-padding">
        <div class="blog-post inline-items">
            <div *ngIf="postCO?.userCO?.profileImage">
                <!-- <ngui-in-view>
                    <img alt="" *ngIf src="{{postCO?.userCO?.profileImage}}" alt="profile-img">
                </ngui-in-view> -->
                <img alt=""  [defaultImage]="defaultImageCircle" [lazyLoad]="getResponsiveImage(postCO?.userCO?.profileImage)" [useSrcset]="true" [errorImage]="postCO?.userCO?.profileImage" alt="profile-img">
            </div>
            <div *ngIf="!postCO?.userCO?.profileImage">
                <!-- <ngui-in-view>
                    <img alt="" *ngIf src="https://cdn.eduncle.com/webfiles/images/profile.png" alt="profile-img">
                </ngui-in-view> -->
                <img alt="" src="https://cdn.eduncle.com/webfiles/images/profile.png" alt="profile-img">
            </div>
            <div class="blog-author">
                <a *ngIf="postCO" [routerLink]="['/author', postCO?.userCO?.slug]" class="lg16 md16 sm16 xs12 w500">
                    {{postCO?.userCO?.fullName()|titlecase}}
                </a>
                <span class="lg16 md16 sm16 xs12 text-grey"> posted an</span>
                <a *ngIf="postCO" [routerLink]="['/',postCO?.slug]" class="lg16 md16 sm16 xs12">
                    {{postCO?.type|titlecase}}
                </a>
                <div class="blog-date">
                    {{postCO?.sclPostArticlesCO?.getDateStringFromMilliseconds()}} {{postCO?.sclPostArticlesCO?.getTimeStringFromMilliseconds()}}
                </div>
            </div>
        </div>

        <div class="lg18 md18 sm18 xs16 w500 dark-grey-link">
            <a *ngIf="postCO" [routerLink]="['/',postCO?.slug]">
                {{postCO?.sclPostArticlesCO?.title}}
            </a>
        </div>
        <p class="lg16 text-grey">
            {{postCO?.sclPostArticlesCO?.shortDecription}}
        </p>

        <a *ngIf="postCO" [routerLink]="['/',postCO?.slug]">
            <div class="blog-thumb blogbanner-img">
                <!--  <ngui-in-view> 
                    <img alt="" *ngIf src="{{postCO?.sclPostArticlesCO?.featuredImage}}" alt="article-img" class="mx-auto d-block blog-banner-img">
                 </ngui-in-view> --> 

                 <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(postCO?.sclPostArticlesCO?.featuredImage)" [useSrcset]="true" [errorImage]="postCO?.sclPostArticlesCO?.featuredImage" alt="article-img" class="mx-auto d-block blog-banner-img">

                <div class="readmore-title">
                    <!-- <a [routerLink]="['/',postCO?.slug]" class="btn btn-success readArticle-btn white-text">Read Article</a> -->
                    <a class="white-text readMore-btn">Read more</a>
                </div>
            </div>
        </a>

        <div class="blogsharing-detail inline-items">
            <a *ngIf="postCO" [routerLink]="['/',postCO?.slug]" class="comment-icon">
                <!-- <i class="fa fa-comment" aria-hidden="true"></i> -->
                <img alt="" src="assets/images/msg-icon.png">
                <span class="lg14">{{replyCommentCount}} Comments</span>
            </a>
            <div class="social-shared">
                <ul class="social-list">
                    <!-- <app-social-share-horizontal [shareCount]="postCO?.totalShares" *appShellNoRender></app-social-share-horizontal> -->
                    <app-social-share-horizontal [postCO]="postCO" *appShellNoRender></app-social-share-horizontal>
                </ul>
            </div>
        </div>
    </div>
</div>