<!-- Choose Your Answer -->
<div *ngIf = "!sclPollOptionCO.isAnsweredOption" class="pollBox mt2 xsmt2">
    <div class="pollBoxSelection">
        <input id="polloptionradio-{{sclPollOptionCO.id}}" name="poll" type="radio">
        <label for="polloptionradio-{{sclPollOptionCO.id}}">
            <span class="checkCircle">{{sclPollOptionCO.bulletTitle}}</span>
            <span class="checkLabel">{{sclPollOptionCO.description}}</span>
        </label>
    </div>
</div>

<div *ngIf = "sclPollOptionCO.isAnsweredOption" class="chooseOption-section">
    <div class="media">
        <div class="align-self-center mr-3 percentageLabel md24 sm20 xs16">
            {{optionAttemptPercent}}%
        </div>
        <div class="media-body align-self-center">
            {{sclPollOptionCO.description}} 
        </div>
    </div>
     <div class="progress progresspoll-android">
        <div class="progress-bar porgressbar-android" role="progressbar" [style.width]="optionAttemptPercent + '%'"
            aria-valuemin="0" aria-valuemax="100"></div> 
    </div> 
</div>

<!-- <div class="progress-bar porgressbar-android" role="progressbar" style="width: 73%"
            aria-valuemin="0" aria-valuemax="100"></div> -->

