
<div class="blog-block">
    <div class="blog-padding authorName">
      <div class="exam-profile-img">
          <img alt="" *ngIf="userCO?.profileImage" src="{{userCO?.profileImage}}" class="mx-auto d-block" alt="cat-logo">
          <div *ngIf="!userCO?.profileImage" class="{{getClassForTextBackGround()}}">
            {{textbackground}}
        </div>

         <!--  <img alt="" *ngIf="!userCO?.profileImage" src="https://cdn.eduncle.com/webfiles/images/profile.png" class="mx-auto d-block" alt="cat-logo"> -->
      </div>
      <div class="text-center lg24 md24 sm24 xs24 w500" style="margin-bottom: 20px;">
          {{userCO?.fullName()|titlecase}}
      </div>     
      <p class="text-grey lg14 md14 sm14 xs14">
        {{userCO?.about}}
      </p>
    </div>
</div>
