<div class="mobileProfileHeader d-md-none d-block">
    <table>
        <tbody>
            <tr>
                <td class="align-middle" style="width: 17%">
                    <!-- <a *ngIf="catCategoriesCO" [routerLink]="['/',catCategoriesCO?.slug]"><img alt="" src="{{catCategoriesCO?.displayLogo}}" class="img-fluid" width="40" /></a>-->
					<a *ngIf="catCategoriesCO" [routerLink]="['/',catCategoriesCO?.slug]">
                        <img alt=""  [lazyLoad]="getResponsiveImage(catCategoriesCO.displayLogo)" [useSrcset]="true" [errorImage]="catCategoriesCO.displayLogo" class="img-fluid" style="width: 40px; height: 40px;" />
                    </a>
                    <!-- <img alt="" *ngIf="appCurrentState?.userCO?.profileImage" src="{{appCurrentState?.userCO?.profileImage}}" class="img-fluid" width="40" /> -->
                </td>
                <td class="align-middle" style="width: 90%">
                       
                        <a *ngIf="catCategoriesCO" [routerLink]="['/',catCategoriesCO?.slug]">
                            {{catCategoriesCO?.title}}
                        </a>
                    
                    <!-- <a>{{catCategoriesCO?.title}}</a> -->

                    <div class="" *ngIf="!appCurrentState?.isUserLoggedIn">
                        <a class="follow-btn-green btn-success white-text" (click)="openLoginPopUp(catCategoriesCO?.id)">Follow</a>
                    </div>   

                    <div *ngIf="appCurrentState?.isUserLoggedIn">
                        <!-- <div  class="buttons-btn btn-40" *ngIf="catCategoriesCO?.isUserJoin" (click)="unfollowCategory()">
                            <a class="follow-btn-green btn-success white-text">Unfollow</a>
                        </div> -->
                        <div  class="buttons-btn btn-40" *ngIf="catCategoriesCO?.isUserJoin" (click)="openDenyUnfollowPopUpOpen()">    
                            <a class="follow-btn-green btn-grey white-text">Following</a>
                        </div>
            
                        <div class="buttons-btn btn-40" *ngIf="!catCategoriesCO?.isUserJoin"  (click)="followCategory()">
                            <a class="follow-btn-green btn-success white-text">Follow</a>
                        </div>
                    </div> 

                </td>
                <!-- <td class="align-middle" style="width: 17%">
                    
                </td> -->
                <td class="align-middle" style="width: 10%">
                   <!--  <a *ngIf="appCurrentState?.isUserLoggedIn && changeCategoryStateCO?.catCategoriesCOList?.length > 1" title="Switch Exam" (click)="switchCategoryId()">
                        <span class="icon-change"></span>
                    </a> -->

                    <a href="javascript:void();">
                        <span *ngIf="!showHideToggleIcons" (click)="showMembersAndQuickLinks()" class="icon-link-expand float-right f-20"></span>
                        <span *ngIf="showHideToggleIcons" (click)="hideMembersAndQuickLinks(null)" class="icon-close float-right"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MOBILE MEMBERS AND QUICK LINKS START -->
<div *ngIf="showHideQuickLinks">
    <!-- <app-mobile-members-and-quick-links [sclPostCO]="sclPostCO"></app-mobile-members-and-quick-links> -->
    <app-mobile-members-and-quick-links *ngIf="catCategoriesCO" (closeCategoryProfileMobileHeader)="hideMembersAndQuickLinks($event)"  [categoryId]="catCategoriesCO?.id"></app-mobile-members-and-quick-links>
    <app-mobile-members-and-quick-links *ngIf="sclPostCO" (closeCategoryProfileMobileHeader)="hideMembersAndQuickLinks($event)"  [categoryId]="sclPostCO?.defaultCategoryId"></app-mobile-members-and-quick-links>
    <!-- <app-mobile-related-categories></app-mobile-related-categories> -->
    <!-- <div class="d-block d-md-none">
        <div class="exam-block quick-links quickLinksMobile">
            <div class="exam-block-title border-0">
                <div class="blockTitle w500 sm16 xs16">
                    Related Categories
                </div>
                <ul class="relatedcatimg">
                    <li *ngFor="let category of sclPostCO?.catCategoriesCOList">
                        <a [routerLink]="['/category', category.slug]">
                          <img alt="" src="{{category?.displayLogo}}">
                            {{category?.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- MOBILE MEMBERS AND QUICK LINKS END -->
<!-- <div class="modal fade" id="loginbtn" tabindex="-1" role="dialog" aria-labelledby="loginbtn" aria-hidden="true">
    <app-login-popup [categoryId]="catCategoriesCO?.id"></app-login-popup>
</div> -->

<!-- Unfollow Button Modal Start -->
<!-- <ng-template #contentExit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Unfollow</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body clear">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mt1 xsmb2 xs14">
                    Do you want to Unfollow {{catCategoriesCO?.title}} ? <br/>
                    <span class="text-grey xs13">You will not receive {{catCategoriesCO?.title}} Updates.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="base-btn blue-btn f-14" (click)="unfollowCategory()">Unfollow</button>
        <button type="button" class="base-btn default-btn f-14 mr5" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template> -->
<!-- Unfollow Button Modal End -->

