<div class="modal-content">
    <div class="modal-body p0">
        <div class="row">
            <div *ngIf="!loadTutorComponent" class="col-md-5 col-sm-5 col d-none d-sm-block">
                <app-login-popup-left-part></app-login-popup-left-part>
            </div>
            <div *ngIf="!loadTutorComponent" class="col-md-7 col-sm-7 col">
                <button type="button" class="close closeModal ngbCloseBtn" aria-label="Close" (click)="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <app-registration-popup   *ngIf="type === 'REGISTRATION'" (loadOtpComponent)="showUserOtpComponent($event)"  (loadLoginComponent1)="showLoginComponent($event)" (loadRegisterComponent)="showUserRegistrationComponent($event)" (loadTutorPopup)="showMobileEmailPopUp($event)" ></app-registration-popup>
                <app-login-popup-rightpart (loadForgotPassComponent)="showForgotPasswordComponent($event)"  *ngIf="type === 'LOGIN_RIGHT_PART'" (loadRegisterComponent)="showUserRegistrationComponent($event)"></app-login-popup-rightpart>
                <app-forget-password-popup (loadOtpComponent)="showUserOtpComponent($event)"  *ngIf="type === 'FORGOT_PASSWORD'"></app-forget-password-popup>
                <div class="reqCallBackForm">
                    <app-otp-popup *ngIf="type === 'OTP'"></app-otp-popup>
                </div>
                <app-mobile-email-screen (showOtpComponent)="showUserOtpComponent($event)" *ngIf="type === 'MOBILE_EMAIL'"></app-mobile-email-screen>
            </div>
        </div>
        <!-- <div *ngIf="loadTutorComponent">
            <app-tutor-registration-popup (hideTutorRegistration)="hideTutorRegistration($event)"></app-tutor-registration-popup>
        </div> -->
    </div>
</div>