<div class="loginDesktopForm">
    <div class="row">
        <div class="col-md-11 col-sm-12 col">
            <div class="row mt-2">
                <!-- <div class="col-sm-6 col-6 clear">
                        <button type="button" class="btn mb2 btn-facebook btn-social w300" (click)="signInWithFB()">
                            <i class="icon-facebook-mp facebookColor"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            facebook
                        </button>
                    </div>
                    <div class="col-sm-6 col-6">
                        <button type="button" class="btn mb2 btn-google-plus btn-social w300" (click)="signInWithGoogle()">
                            <i class="icon-google-mp googleColor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            Google
                        </button>
                    </div>
                    <div class="col-12">
                        <div class="topmargin2 orBlock">
                            <div class="ortext">OR</div>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col topmargin3">
            <div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}
            </div>
            <div class="lg24 md24 sm24 xs24 bottommargin2">Register</div>
            <p class="text-grey lg12 md12 sm12 xs12">Register and Start Your Learning</p>
            <form class="form-horizontal prelative registrationForm" ngNativeValidate
                (ngSubmit)="userRegistrationNew(regForm.value)" #regForm="ngForm">
                <div class="row">
                    <div class="col-sm-11 col-12">
                        <div class="selectGroup form-group">
                            <div *ngIf="!isCategorySelected" class="red-text sm12">
                                <i class="fa fa-info-circle"
                                    aria-hidden="true"></i> Category is required.</div>
                            <div class="dropdown w-100 newDropdownCategory">
                                <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{selectedCategoryTitle}}
                                </button>
                                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                    <a *ngFor="let catCategoriesCO of catCategoriesCOArray" class="dropdown-item"
                                        (click)="onCategorySelect(catCategoriesCO)">{{catCategoriesCO.title}}</a>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList;let i = index">
                            <div *ngIf="i < 1" class="selectGroup form-group">
                                <div *ngIf="catCategoryFiltersCO.validationMessage !== ''" class="red-text sm12"><i
                                        class="fa fa-info-circle" aria-hidden="true"></i>
                                    {{catCategoryFiltersCO.validationMessage}}</div>
                                <div class="dropdown w-100 newDropdownCategory">
                                    <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        {{catCategoryFiltersCO.filterTypeTitle}}
                                    </button>
                                    <!-- <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                        <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList"
                                            class="dropdown-item"
                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">{{filterValueCO.filterTypeTitle}}</a>
                                    </div> -->
                                    <div *ngIf="isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">

                                        <a *ngFor="let filterValueCO of sortedArray1" class="dropdown-item"
                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                            {{filterValueCO.filterTypeTitle}}
                                        </a>
                                        <a class="dropdown-item otherSubject">Others</a>
                                        <a *ngFor="let filterValueCO of sortedArray2" class="dropdown-item"
                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                            {{filterValueCO.filterTypeTitle}}
                                        </a>
                                    </div>

                                    <div  *ngIf="!isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                        
                                        

                                        <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" 
                                            class="dropdown-item" 
                                            (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                            {{filterValueCO.filterTypeTitle}}
                                         </a>    
                                        
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-11 col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-profile"></span>
                                </span>
                            </div>
                            <input ngModel type="text" class="form-control formHeight-40" name="name"
                                aria-describedby="emailHelp" placeholder="Your Name" required>
                            <!-- <div>
                                    <span class="form-control-feedback has-feedback lg14 md14 sm14 xs14 ptr01 validation-icon" aria-hidden="true" id="" style="">
                                        <img alt="" src="assets/images/error-icon.png">
                                    </span>
                                    <span class="tooltip">Your Name can't be blank...</span>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-sm-11 col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="icon-phone-call"></span>
                                </span>
                            </div>
                            <input ngModel maxlength="10"  minlength="10" type="text" (keypress)="numberOnly($event)" (keyup) ="saveBrokenLeads($event)"
                                name="phone" class="form-control formHeight-40" placeholder="Mobile No." required>
                            <!-- <div>
                                    <span class="form-control-feedback has-feedback lg14 md14 sm14 xs14 ptr01 validation-icon" aria-hidden="true" id="" style="">
                                        <img alt="" src="assets/images/error-icon.png">
                                    </span>
                                    <span class="tooltip">Mobile No. can't be blank...</span>
                                </div> -->
                        </div>
                    </div>

                    <div class="col-sm-11">
                        <!-- <div class="para lg14 md14 sm14 xs14">By signing up you accept our <a
                                href="{{siteUrl}}/terms-of-use" target="_blank">Terms of Use</a></div> -->
                        <div class="para lg14 md14 sm14 xs14 checkboxTerms">
                            <input type="checkbox" id="signupaccept" (click)="checkUncheckTermsCheckBox()" value="" name="" checked>
                            <label for="signupaccept">I agree to the <a href="{{siteUrl}}/terms-of-use" target="_blank">Terms and Conditions</a>.</label> 

                            <input type="checkbox" id="whatsappNotif"  (click)="checkUncheckWhatsAppNotification()" checked >
                            <label for="whatsappNotif">I agree to receive exam notifications via WhatsApp.</label> 
                        </div>
                        <button type="submit"
                            class="btn btn-lg btnGreen float-left topmargin2">&nbsp;&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <div class="col-sm-11">
                        <div class="text-grey mt3 xsmt3 lg14 md14 sm14 xs14">Already have an account?
                            <a class="pointer text-blue" (click)="loadLoginComponent()">Login</a></div>
                        <div style="padding: 10% 0; ">
                            <span>Have something to teach &nbsp;</span>
                            <a (click)="openTutorPopUp()" class="btn blue btn-outline w600">Become a tutor</a>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottomLogin-img">
    <img alt="" src="assets/images/login-popup/stats.png" alt="stats-img">
</div>