<!-- Header Start -->
<app-promotion-banner></app-promotion-banner>
<div class="mb20 clearLeft">
    <app-header></app-header>
</div>
<!-- Header End -->

<!-- Banner Slider Start -->
<!-- <app-image-slider-blog></app-image-slider-blog> -->
<!-- Banner Slider End -->

<div class="container" *ngIf="userCO">
    <div class="row clear">
        <div class="col-xl-3 order-xl-1 col-lg-4 order-lg-2 col-md-4 col-sm-12 col-12">
            <app-author-summary [userCO]="userCO"></app-author-summary>
            <div>
                <div #fixAdvertisement class="d-none d-sm-block">
                    <app-eduncle-advertisement-vertical [catCategoriesCO]="catCategoryCO"></app-eduncle-advertisement-vertical>
                </div>
            </div>
        </div>
        <div class="col-xl-6 order-xl-2 col-lg-8 order-lg-2 col-md-8 col-sm-12 col-12 mt-30">
            <div class="blog-heading w500 lg18 md18 sm18 xs18">Posts by {{userCO.fullName()|titlecase}}</div>
            <!-- <div *ngFor="let post of sclPostCOArray">
            <app-post [postCO]="post"></app-post>
          </div> -->
            <div class="alert-msg mb2" *ngIf="noPost">No Post Found</div>
            <div *ngFor="let post of sclPostCOArray; let i = index">
                <div *ngIf="i === getPosition()">
                    <app-eduncle-advertisement-horizontal [catCategoriesCO]="catCategoryCO"></app-eduncle-advertisement-horizontal>
                </div>
                <!-- <app-post [postCO]="post"></app-post> -->
                <app-social-timeline [postCO]="post"></app-social-timeline>
            </div>
            <div class="text-center">
                <div *ngIf="load">
                    <div class="lightGrey w500 pointer" (click)="loadMorePosts()">
                        Load More..
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 order-xl-3 col-lg-4 order-lg-3 col-md-4 col-sm-12 col-12">
            <app-popular-recent-tabs [defaultCategoryId]="userCO.defaultCategoryId"></app-popular-recent-tabs>
        </div>
    </div>
</div>

<!-- Social Side Sticky Icon -->
<div class="social-shared sideSocialLinks" #hideSocialOnFooter>
    <ul class="social-list-vertical" *ngIf="userCO">
        <app-social-share [userCO]="userCO" *appShellNoRender></app-social-share>
    </ul>
</div>
<!-- Social Side Sticky Icon End-->
<!-- Footer Start -->
<div *ngIf="sclPostCOArray">
    <app-footer></app-footer>
</div>

<!-- Footer End -->