<div class="row hide" id="requestCallBackPopup">
    <div class="col-md-5 col-sm-5 col d-none d-sm-block">
        <app-login-popup-left-part></app-login-popup-left-part>
    </div>
    <div class="col-md-7 col-sm-7 col">
        <button type="button" class="close closeModal" (click)="dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="reqCallBackForm" *ngIf="!loadCallBackOtpComponent">
            <h4 class="enabledColor md24 sm20 mb-1">
                Request a Call back
            </h4>
            <p class="sm14 mb-4 text-grey">
                Let Our Mentors Help You With the Best Guidance
            </p>
            <div *ngIf="showValidationError" class="text-center alert-msg-red w500 xs12 mb4 xsmb4">{{validationError}}</div>
        <form class="form-horizontal prelative registrationForm" ngNativeValidate (ngSubmit)="contactUsUserQueryNew(name.value,phone.value,query.value)"
            ngNativeValidate>

            <div *ngIf="!appCurrentState.isUserLoggedIn" class="selectGroup form-group">
                <div *ngIf="!isCategorySelected" class="red-text sm12">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Category is required.
                </div>
                <div class="dropdown w-100 newDropdownCategory">
                    <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{selectedCategoryTitle}}
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                        <a *ngFor="let catCategoriesCO of catCategoriesCOArray" class="dropdown-item" (click)="onCategorySelect(catCategoriesCO)">{{catCategoriesCO.title}}</a>
                    </div>
                </div>
            </div>

            <div *ngIf="!appCurrentState.isUserLoggedIn">
                <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList;let i = index">
                    <div *ngIf="i < 1" class="selectGroup form-group">
                        <div *ngIf="catCategoryFiltersCO.validationMessage !== ''" class="red-text sm12">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> {{catCategoryFiltersCO.validationMessage}}
                        </div>
                        <div class="dropdown w-100 newDropdownCategory">
                            <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{catCategoryFiltersCO.filterTypeTitle}}
                            </button>
                            <!-- <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" class="dropdown-item" (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">{{filterValueCO.filterTypeTitle}}</a>
                            </div> -->
                            <div *ngIf="isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                            
                                <a *ngFor="let filterValueCO of sortedArray1" class="dropdown-item"
                                    (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                    {{filterValueCO.filterTypeTitle}}
                                </a>
                                <a class="dropdown-item otherSubject">Others</a>
                                <a *ngFor="let filterValueCO of sortedArray2" class="dropdown-item"
                                    (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                    {{filterValueCO.filterTypeTitle}}
                                </a>
                            </div>
                            
                            <div *ngIf="!isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                            
                                <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" class="dropdown-item"
                                    (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                    {{filterValueCO.filterTypeTitle}}
                                </a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="icon-profile"></span>
                    </div>
                </div>
                <input #name [disabled]="appCurrentState?.isUserLoggedIn" value="{{appCurrentState?.userCO?.fullName()}}" name="name" type="text"
                    class="form-control" placeholder="Your Name" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="icon-phone-call"></span>
                    </div>
                </div>
                <input maxlength="10"  minlength="10" (keypress)="numberOnly($event)" #phone [disabled]="appCurrentState?.isUserLoggedIn" (keyup) ="saveBrokenLeads($event)"
                    value="{{appCurrentState?.userCO?.mobile}}" name="phone" type="text" class="form-control" placeholder="Mobile Number"
                    required>
            </div>

            <div class="input-group mb-3">
                <textarea #query ngModel name="query" required placeholder="Share Your Concern/Query Here"></textarea>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-lg pl-5 pr-5 btnGreen w300">Submit</button>
            </div>
        </form>
    </div>
    <div class="reqCallBackForm">
        <app-otp-popup *ngIf="loadCallBackOtpComponent"></app-otp-popup>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
</div>