<!-- <div class="reqCallBackForm">  </div>       -->
<h4 class="lg24 md24 sm24 xs24 text-center blueText">
    You’ve made a great decision
</h4>
<p class="topmargin1 bottommargin4 w500 text-center">
    We have sent you an OTP on your registerd mobile No. Ending --- {{ phoneNumberLast3Digits }}.
    Please verify it
</p>
<div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}</div>
<form class="form-horizontal clear registrationForm" (ngSubmit)="submitPasswordForm(passwordForm.value)" #passwordForm="ngForm">
    <div class="input-group mb-3">
        <input [disabled]="isValidOtp" type="text" #userOtp (keyup)="verifyOtpNew(userOtp.value,false)"
            placeholder="Enter OTP" class="form-control w-100" maxlength="4">
        <div class="w-100">
            <span class="float-left">
                {{ timeLeftOrVerifyText }}
            </span>
            <span class="float-right">
                <a *ngIf="timeLeft <= 0 && !isValidOtp" (click)="regenerateOtp()" 
                class="pointer text-light-blue sm14 underline">Resend OTP</a>
            </span>
        </div>
    </div>

    <div  class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="icon-lock-password"></span>
            </div>
        </div>
        <input ngModel type="password" name="password" class="form-control" 
        placeholder="Password" required>
        
    </div>
    <div  class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <span class="icon-lock-password"></span>
            </span>
        </div>
        <input ngModel type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
      
    </div>
    <div  class="input-group mb-3">
        <button [disabled]="(!isValidOtp || !passwordForm.form.valid)" type="submit"  class="btn btn-lg btnGreen continueToSite">Continue to site</button> 
    </div> 
</form>

