
    <div class="modal-header">
        <h4 *ngIf="toShowGrade" class="modal-title sm16 xs16">Choose Grade</h4>
        <h4 *ngIf="!toShowGrade" class="modal-title sm16 xs16">Choose {{selectedGradeCO.catGradesCO.nextFilterType}}</h4>
        <button type="button" class="close closeModal" aria-label="Close" (click)="dismissPopUp()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Choose Exam -->
    <div *ngIf="toShowGrade" class="modal-body changeGradePopup">
        <div class="gradeBoxSection">
            <div class="row">
                <div  *ngFor="let catGradesCO of catGradesCOList" class="col-lg-4 col-md-6 col-12 paddingAll0 borderOdd" (click)="onGradeSelect(catGradesCO)">
                    <div class="gradeBlock">
                        <ul>
                            <li>
                                <span class="gradeTitle" [ngClass]="getRandomBgColor()">{{catGradesCO.getGradeFirstLetter()}}</span>
                            </li>
                            <li>
                                {{catGradesCO.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Choose Grade Filter -->
    <div *ngIf="!toShowGrade" class="modal-body changeGradeFilterPopup">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="gradefilterCheckbox floatLeft">
                    <ul *ngIf ="catSubjectsCOList.length > 0"><!-- subject -->
                        <li *ngFor="let catSubjectsCO of catSubjectsCOList" >
                            <input id="checkbox-{{catSubjectsCO.id}}" type="checkbox" [(ngModel)]="catSubjectsCO.isSelected" (click)="onCatSubjectClick(catSubjectsCO)" >
                            <label for="checkbox-{{catSubjectsCO.id}}">{{catSubjectsCO.title}}</label>
                        </li>
                    </ul>
                    <ul *ngIf ="catStreamsCOList.length > 0"><!-- stream -->
                        <li *ngFor="let catStreamsCO of catStreamsCOList">
                            <input type="checkbox" [(ngModel)]="catStreamsCO.isSelected" id="checkbox-{{catStreamsCO.id}}" (click)="onCatStreamClick(catStreamsCO)">
                            <label for="checkbox-{{catStreamsCO.id}}">{{catStreamsCO.title}}</label>
                        </li>
                    </ul>
                </div>
                <div class="proceedPopup">
                    <a (click)="addNewGrade()" >
                        Proceed
                    </a>
                </div>
            </div>
        </div>
    </div>
