<div class="media mt30">
    <div class="media-left exam-post-author inline-items">
        <img alt="" *ngIf="replyCO?.repliedUserCO?.profileImage" [defaultImage]="defaultImageCircle" [lazyLoad]="getResponsiveImage(replyCO?.repliedUserCO?.profileImage)" [useSrcset]="true" [errorImage]="replyCO?.repliedUserCO?.profileImage">
        <!-- <img alt="" *ngIf="!replyCO?.repliedUserCO?.profileImage" src="{{getClassForTextBackGround('post')}}"> -->
        <div *appShellNoRender>
                <div *ngIf="!replyCO?.repliedUserCO?.profileImage" class="{{getClassForTextBackGround('post')}}">
                        {{textbackground}}
                    </div>
        </div>

    </div>
    <div class="media-body">
        <div class="showComment-bg">
            <div class="mb1 xs14">
                <div class="w500 xs16">
                    {{replyCO?.repliedUserCO.fullName()}}
                </div>
                <!-- <div [innerHTML]="replyCO?.reply | safeHtml: 'html'">
                </div> -->
                <read-more [text]="replyCO?.reply" [maxLength]="180"></read-more>
            </div>
        </div> 
        <div class="mt4 xsmt2 mb4 xsmb2" >
            <a *ngIf="replyCO?.sclPostAttachmentsCOList.length > 0" class="darkGrey floatLeft" target="_blank">
                <div class="media pdfAlign">
                    
                    <ul class="commentListingImage">
                        <li *ngFor="let sclPostAttachmentsCO of replyCO?.sclPostAttachmentsCOList;let i = index">
                            <img alt="" (click)="openImageSliderPopUp(i)" [lazyLoad]="getResponsiveImage(showImageOnReply(sclPostAttachmentsCO))"  [useSrcset]="true"  [errorImage]="showImageOnReply(sclPostAttachmentsCO)" alt="{{sclPostAttachmentsCO.title}}" class="w3-image" width="100" height="100">
                        </li>
                    </ul>
                  
                </div>
            </a>
        </div>

        <div class="commentInfo mt-2 mb-2" *appShellNoRender>
            <span *ngIf="appCurrentState?.userCO">
                <span *ngIf="!replyCO?.hasUserLiked">
                    <a routerLink="#!" (click)="likeReply()">
                        Likes({{replyCO?.getLikeCount()}})
                    </a>
                </span>
                <span *ngIf="replyCO?.hasUserLiked">
                    <a routerLink="#!" (click)="unlikeReply()">
                        Liked({{replyCO?.getLikeCount()}})
                    </a>
                </span>
            </span>
            
            <span *ngIf="!appCurrentState?.userCO">
                <span *ngIf="!replyCO?.hasUserLiked">
                    <a class="text-blue pointer"  (click)="likeReply()">
                        Likes({{replyCO?.getLikeCount()}})
                    </a>
                </span>
                <span *ngIf="replyCO?.hasUserLiked">
                    <a class="text-blue pointer"  (click)="unlikeReply()">
                        Liked({{replyCO?.getLikeCount()}})
                    </a>
                </span>
            </span>
            <span class="commentSeparationDots" *ngIf="((appCurrentState.userCO!=null) && (appCurrentState.userCO.id === replyCO.userId))">
                <a class="text-blue pointer" (click)="openDeleteReplyPopUp(replyCO?.id)">
                    Delete
                </a>
            </span>
        </div>
    </div>
</div>

<!-- Delete Modal Popup -->
<!-- <div class="modal" id="creply{{replyCO.id}}" tabindex="-1" role="dialog">
    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
</div> -->

<!-- <div *ngIf="appPopupCO.isReplyDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div> -->



<!-- <div class="modal fade" id="loginBtn1" tabindex="-1" role="dialog" aria-labelledby="loginBtn" aria-hidden="true" (click)="openLoginPopUp(categoryId)">
    <app-login-popup [categoryId]="categoryId"></app-login-popup>
</div> -->

<!-- <div *ngIf="appPopupCO.isReplyDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div> -->