<div *ngIf ="postCO.sclPostPollCO.sclUserPollOptionCO" class="inline-items m-t-15 m-b-15 floatLeft">
    <ul class="blogsocial-android float-left" style="vertical-align: middle;margin-left: 0;">
        <li>
            {{postCO.sclPostPollCO.totalVotes}} Attempts
        </li>
    </ul>

    <div class="float-right">
        <div class="md14 sm14 xs14">
            Your Answer : {{userSelectedOption}}
        </div>
    </div>
</div>

<div *ngIf ="!postCO.sclPostPollCO.sclUserPollOptionCO" class="inline-items lh3">
  <ul class="blogsocial-android float-left" style="vertical-align: middle;">
      <li>
        {{postCO.sclPostPollCO.totalVotes}} Attempts
      </li>
  </ul>

  <div class="float-right">

        <a class="readMore-btn displayBlock" (click)="openPopUp()">
                Vote Now
        </a>
       

     <!--  <a href="#!" class="readMore-btn displayBlock">
          Vote Now
      </a> -->
  </div>
</div>
  <!-- Choose YOour Option  End-->
