<!-- Search in Banner Start -->
<!-- <div class="clear" style="background:url('assets/images/slider-1.png') #b5b5b5 no-repeat;background-size: cover;height: 295px;display: flex;align-items: center;">
  <div class="container">
      <div class="row">
          <div class="col">
              <h5 class="md48 sm48 xs41 white-text text-center w500 mb1 xsmb4">Eduncle Blog</h5>
              <p class="md16 sm16 xs16 text-center white-text w300 mb1 xsmb7">Lead in Your Exam with Daily
                  Scoop of Preparation Tips, News and Notifications!</p>
              <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12">
                  <div class="searchSmall"> -->
                      <!-- <input (keyup)="searchCategory($event)" type="text" class="form-control formHeight50" name="" placeholder="Search exams.."> -->
                      <!-- <input [(ngModel)]="searchText" placeholder="search text goes here" class="form-control formHeight50">
                        <ul>
                            <li *ngFor="let category of categoryTitle | filter : searchText">
                                {{category}}
                            </li>
                        </ul>
                      <button type="submit" class="btn"><span class="icon-search"></span></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- Search in Banner End -->