<!-- Image Slider Start -->
<ngb-carousel [showNavigationArrows]="showNavigationArrows" >
    <ng-template ngbSlide *ngFor="let slider of catCategorySlidersCOArray">
        <img alt="" class="img-fluid mx-auto d-block" [src]="slider.fileName" alt="Random first slide" width="100%">
        <div class="carousel-caption">
            <h3>{{slider.label}}</h3>
            <p>{{slider.text}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<!-- Image Slider End -->