<!-- HEADER AFTER LOGIN START -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-blueHeader newNavbar">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                <button class="navbar-toggler custom-toggler newMobileToggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand toggleSidebarMenu" (click)="showExamMobileMenu = !showExamMobileMenu">
                    <span class="icon-hamburger text-white"></span>
                </a>
                <a class="navbar-brand mobile-device" href="{{siteUrl}}">
                    <img alt="eduncle-logo" src="assets/images/eduncle-logo-app.png" class="img-fluid edu-logoh35" style="width: 35px;height: 35px;">
                </a>
                <a class="navbar-brand desktop-device" href="{{siteUrl}}">
                    <img alt="eduncle-logo" src="assets/images/eduncle-logo-app.png" class="img-fluid edu-logoh35" style="width: 35px;height: 35px;">
                </a>
                <div class="desktop-device">
                    <button class="searchBarHeader status-placeholder" id="" (click)="openAppPopUp()">
                        <span>&nbsp;Search or Ask Eduncle</span>
                    </button>
                </div> 
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="active">
                            <a href="{{siteUrl}}/member/student" class="pointer" target="_blank">Try Free Downloads
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" id="navbarDropdown" role="button">Courses
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li *ngFor="let courseHeaderCO of courseHeaderCOList" class="dropdown">
                                    <a class="dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{courseHeaderCO.categoryTitle}}
                                        <i class="fa fa-angle-down subMenu" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="dropdown" *ngFor="let filterValueCO of courseHeaderCO.filterValueCOList">
                                            <a href={{courseHeaderCO.getFilterUrl(filterValueCO.filterTypeId)}} target="_blank">{{filterValueCO.filterTypeTitle}}
                                                <i class="fa fa-angle-down submenu-2-caret subMenu" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="navbarDropdown" role="button">Scoop
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- <li *ngFor="let catCategoriesCO of catCategoriesCOList">
                                    <a href="{{scoopUrl}}/{{catCategoriesCO.slug}}" target="_blank">{{catCategoriesCO.title}}</a>
                                </li> -->
                                <li>
                                    <a  [routerLink]="['']">Scoop Home</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','ugc-net']">UGC NET</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','iit-jam']">IIT JAM</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','csir-net']">CSIR NET</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','engineering-entrance-jee']">Engineering Entrance (JEE)</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','medical-entrance-neet']">Medical Entrance (NEET)</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','ibps']">IBPS</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','ssc']">SSC</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/','rrb']">RRB</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="navbarDropdown" role="button">About
                                <span class="icon-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a href="{{siteUrl}}/about-us">About Eduncle</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/student">Student</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/teacher">Teacher</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/reviews">Reviews</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/app">App</a>
                                </li>
                                <li>
                                    <a href="{{siteUrl}}/career">Career</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="extra-cell">
                    <div class="countNotification cell lg16 md14 sm16 xs16">
                        <a style="margin-right: 20px;float:left;" class="text-black mobileSearch-iconxs" (click)="openAppPopUp()">
                            <span class="icon-search"></span>
                        </a>
                        <a class="text-black mr-24" (click)="showHideCallUsDropdown()">
                            <span class="icon-callback"></span>
                            <span class="numberCount">1</span>
                        </a>
                        <div class="callUsDropdown" *ngIf="isCallUsDropdown" (click)="preventClickHere()">
                            <p class="sm14 xs14 para-text prepBoxPadding2">
                                Want FREE Counselling for Exam Preparation?
                            </p>
                            <p class="head-text mb1 sm16 xs15 w500">
                                Call Us
                            </p>
                            <p class="head-text mb3 sm24 xs20">
                                <span class="icon-phone-call w700">800-355-2211</span>
                            </p>
                            <p class="head-text mb6 sm14 xs14">
                                Speak With a Friendly Mentor
                            </p>
                            <div class="footBox">
                                <p class="sm14 xs14 para-text">
                                    OR
                                </p>
                                <button class="requestButton d-md-block d-none" (click)="showRequestCallBack()">
                                    Request a Call Back
                                </button>
                                <a href="https://wa.me/918003552211?text=Hi Eduncle, I want free counselling " class="add-watsapp-popup-icon">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp Us
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="notificationIcon cell">
                        <a href="{{siteUrl}}/member/inbox" class="text-black">
                            <span class="icon-exam-notifications"></span>
                        </a>
                    </div> -->
                    <div class="signup-btn cell">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="white-text sm14 w500 displayOnDesktop"> {{appCurrentState.userCO.fullName()}}  &nbsp;</span>
                                <img alt="" *ngIf="appCurrentState?.userCO?.profileImage" src="{{appCurrentState?.userCO?.profileImage}}">
                                <div *ngIf="!appCurrentState?.userCO?.profileImage" class="{{getClassForTextBackGround()}}">
                                    {{textBackgroundUserProfile}}
                                </div>
                               <!--  <img alt="" *ngIf="!appCurrentState?.userCO?.profileImage" src="https://cdn.eduncle.com/webfiles/images/profile.png"> -->
                            </button>
                            <div class="dropdown-menu loginDropdownNewHeader dropdown-menu-right">
                                <table style="height: 100px;">
                                    <tbody>
                                        <tr>
                                            <td class="align-middle" style="width: 40%">
                                                <img alt="" *ngIf="appCurrentState?.userCO?.profileImage" src="{{appCurrentState?.userCO?.profileImage}}" class="img-fluid rounded-circle">
                                                <img alt="" *ngIf="!appCurrentState?.userCO?.profileImage" src="https://cdn.eduncle.com/webfiles/images/profile.png"
                                                    class="img-fluid rounded-circle">
                                            </td>
                                            <td class="align-middle" style="width: 60%">
                                                <span class="darkgraycolor sm14 w500 displayOnTablet"> {{appCurrentState.userCO.fullName()}}  &nbsp;</span>
                                                <a *ngIf="!appCurrentState?.isUserLoggedIn" href="{{siteUrl}}/login?action=login" class="login-box-button">Login/Register</a>
                                                <a *ngIf="appCurrentState?.isUserLoggedIn" href="{{siteUrl}}/member/profile?profile=1" class="login-box-button">My Profile</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="bottomLinks">
                                    <a href="{{siteUrl}}/member/student/" title="Dashboard">
                                        <span class="icon-home md15 sm15"></span>&nbsp;&nbsp; Dashboard
                                    </a>
                                    <a href="{{siteUrl}}/member/inbox?search=" title="Inbox">
                                        <span class="icon-inbox md15 sm15"></span>&nbsp;&nbsp; Inbox
                                    </a>
                                    <a href="{{siteUrl}}/member/student/purchase-history" title="My Orders">
                                        <span class="icon-cart md15 sm15"></span>&nbsp;&nbsp; My Orders
                                    </a>
                                    <a href="{{siteUrl}}/store/view-wishlist" title="My Wishlist">
                                        <span class="icon-wishlist md15 sm15"></span>&nbsp;&nbsp; My Wishlist
                                    </a>
                                    <a class="pointer d-none d-sm-block darkgraycolor" (click)="switchCategoryId()" title="Subscribe Exams">
                                        <span class="icon-subscribed_exam md15 sm15"></span>&nbsp;&nbsp; Subscribe Exams
                                    </a>
                                    <a class="pointer d-block d-sm-none darkgraycolor" (click)="switchCategoryId()" title="Subscribe Exams">
                                        <span class="icon-subscribed_exam md15 sm15"></span>&nbsp;&nbsp; Subscribe Exams
                                    </a>

                                    <!-- <a href="{{siteUrl}}/store/view-wishlist">
                                        <span class="icon-logout md15 sm15"></span>&nbsp;&nbsp; Logout
                                    </a> -->
                                    <a class="pointer darkgraycolor" (click)="appInternalLogout()" title="Logout">
                                        <span class="icon-logout md15 sm15"></span>&nbsp;&nbsp; Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>
<!-- HEADER AFTER LOGIN END -->






<!-- Overlay for mobile. Visible when user click on Switch Exam toggle mobile menu -->
<div class="overlayMobile d-lg-none d-block" *ngIf="showExamMobileMenu" (click)="closeMobileMenu()"></div>

<!-- DESKTOP HEADER MENU AND SIDEBAR (You'r studying) MENU IN MOBILE SCREEN START -->
<div *ngIf="showExamMobileMenu">
    <app-you-are-studying-mobile-menu (closeYouAreStudyingMobileMenu)="hideYouAreStudying($event)"></app-you-are-studying-mobile-menu>
</div>
<!-- DESKTOP HEADER MENU AND SIDEBAR (You'r studying) MENU IN MOBILE SCREEN END -->

<div class="modal fade bd-example-modal-lg" id="changeCategoryPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog changeCategoryPopup" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="tabSec stepOpen">
                    <div class="d-none d-md-block">
                        <app-change-categories-parent></app-change-categories-parent>
                    </div>
                    <div class="d-block d-md-none">
                        <app-change-categories-parent></app-change-categories-parent>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="changeCategoryPopupMobile" tabindex="-1" role="dialog" aria-labelledby="changeCategoryPopupMobile"
    aria-hidden="true">
    <div class="modal-dialog changeCategoryPopup" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="tabSec stepOpen">
                    <app-change-categories-parent></app-change-categories-parent>
                </div>
            </div>
        </div>
    </div>
</div>






