<!-- CHOOSE EXAMS -->
<div class="step-Block whiteBg">
  <h5 class="mb-0">
    <ul>
      <li class="disabledColor">
        1.
      </li>
      <li>
        <a class="disabledColor">
          Choose category 
        </a>
      </li>
    </ul>
  </h5>
</div>
<div class="step-body p-right0">
  <div class="chooseExamFirstTime">
    <form>
    </form>

    <div class="examBoxSection">
      <ul>
        <li *ngFor="let catCategoryCO of changeCategoryUserSelectionCO.allCatCategoriesCOList" (click)="selectCategory(catCategoryCO)">
          
          <div class="examBox " [ngClass]="updateActiveClass(catCategoryCO.isActive)" title="{{catCategoryCO.title}}">
            <i *ngIf="catCategoryCO.isActive" class="fa fa-check-circle" aria-hidden="true"></i>
            <div class="examNameTitle" [ngClass]=catCategoryCO.categoryTitleColor>
              {{getFirstLetter(catCategoryCO.title)|uppercase}}
            </div>
            <div class="examName">
              {{getLimitedCategoryTitle(catCategoryCO.title)|uppercase}}
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</div>
<span class="d-none-xs"><br></span>
<!-- <div class="tabFooter">
  <input type="submit" value="Continue" class="examSubmitButton float-right" (click)="goToNextStep()" />
  <input type="submit" value="Continue" class="continueButtonMobile" (click)="goToNextStep()" />
</div> -->
<span class="d-none-xs"><br></span>
<span class="d-none-xs"><br></span> 