<app-promotion-banner ></app-promotion-banner>
<!-- Header Start -->
<div class="mb20 clearLeft">
    <app-header *appShellNoRender></app-header>
</div>
<!-- Header End -->

<!-- Banner Slider Start -->
<!-- <app-image-slider-blog></app-image-slider-blog> -->
<!-- Banner Slider End -->

<div class="container" *ngIf="cmsTagsCO">
    <div class="row clear">
        <div class="col-xl-3 order-xl-1 col-lg-4 order-lg-1 col-md-4 col-sm-12 col-xs-12">
            <app-exam-name-tag [tagDetailCO]="cmsTagsCO"></app-exam-name-tag>
            <div #fixAdvertisement class="d-none d-sm-block">
                <app-eduncle-advertisement-vertical [tagId]="cmsTagsCO.id"></app-eduncle-advertisement-vertical>
            </div>
        </div>
        <div class="col-xl-6 order-xl-2 col-lg-8 order-lg-2 col-md-8 col-sm-12 col-xs-12">
            <div class="blog-heading w500 lg18 md18 sm18 xs18">Tag Archieve - {{cmsTagsCO?.title}}</div>
            <div class="alert-msg mb2" *ngIf="noPost">No Post Found</div>
            <div *ngFor="let post of sclPostCOArray; let i = index">
                <div *ngIf="i === getPosition()">
                    <app-eduncle-advertisement-horizontal [tagId]="cmsTagsCO.id"></app-eduncle-advertisement-horizontal>
                </div>
                <app-post [postCO]="post"></app-post>
            </div>
            <div class="text-center" *ngIf="load">
                <div class="lightGrey w500 pointer" (click)="loadMorePosts()">
                    Load More..
                </div>
            </div>
        </div>
        <div class="col-xl-3 order-xl-3 col-lg-4 order-lg-3 col-md-4 col-sm-12 col-xs-12">
            <app-popular-recent-tabs *appShellNoRender></app-popular-recent-tabs>
        </div>
    </div>
</div>
<!-- Social Side Sticky Icon Start-->
<!-- <div class="social-shared sideSocialLinks d-block d-sm-block" #hideSocialOnFooter>
    <ul class="social-list-vertical" *ngIf="cmsTagsCO">
        <app-social-share [cmsTagsCO]="cmsTagsCO" *appShellNoRender></app-social-share>
    </ul>
</div> -->
<!-- Social Side Sticky Icon End-->
<!-- Footer Start -->
<div *ngIf="sclPostCOArray">
    <app-footer></app-footer>
</div>

<!-- Footer End -->
