<div class="popularTab">
    <ngb-tabset *ngIf="sclPostCOArray?.length > 0 || recentsclPostCOArray?.length > 0">
        <ngb-tab title="Most Popular" *ngIf="sclPostCOArray?.length > 0">
            <ng-template ngbTabContent>
                <ul class="list-arrow">
                    <li *ngFor="let post of sclPostCOArray">
                        <div (click)="changePosition()">
                            <a *ngIf="post" [routerLink]="['/',post?.slug]">{{post.sclPostArticlesCO.title}}</a>
                        </div>
                    </li>
                </ul>
            </ng-template>
        </ngb-tab>
        
        <ngb-tab *ngIf="recentsclPostCOArray?.length > 0">
            <ng-template ngbTabTitle>Related</ng-template>
            <ng-template ngbTabContent>
                <ul class="list-arrow">
                    <li *ngFor="let post of recentsclPostCOArray">
                        <div (click)="changePosition()">
                            <a *ngIf="post" [routerLink]="['/',post?.slug]">{{post.sclPostArticlesCO.title}}</a>
                        </div>
                    </li>
                </ul>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>