<div class="change-categories-step3-mobile">
    <div class="step-Block whiteBg">
        <h5 class="mb-0">
            <ul>
                <li>
                    3.
                </li>
                <li>
                    <a href="#">
                        Your Selected Exams
                    </a>
                </li>
            </ul>
        </h5>
    </div>
    <div class="step-body">
        <p>Default</p>
        <div class="viewSelectedExams">
            <ul>
                <li>
                    <input type="radio" checked="checked" id="opt1" name="selector">
                    <label for="opt1"></label>
                    <div class="check"></div>
                </li>
                <li>
                    <span>UGC NET</span>
                    <span>General Paper I</span>
                </li>
            </ul>
            <div class="editDeleteBtns">
                <a class="editDeleteBtn mr-3" href="#">
                    <i aria-hidden="true" class="fa fa-pencil"></i>
                </a>
                <a class="editDeleteBtn" href="#">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="viewSelectedExams mt-3">
            <ul>
                <li>
                    <input type="radio" id="opt2" name="selector">
                    <label for="opt2"></label>
                    <div class="check"><div class="inside"></div></div>
                </li>
                <li>
                    <span>UGC NET</span>
                    <span>General Paper I</span>
                </li>
            </ul>
            <div class="editDeleteBtns">
                <a class="editDeleteBtn mr-3" href="#">
                    <i aria-hidden="true" class="fa fa-pencil"></i>
                </a>
                <a class="editDeleteBtn" href="#">
                    <i aria-hidden="true" class="fa fa-trash"></i>
                </a>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="mt-3 ml-3">
            <a  class="chooseMoreBtn" href="#"> Choose More Exams </a>
        </div>
        <br><br>
        <input class="continueButtonMobile" type="submit" value="Enjoy Learning Now">
    </div>
</div>