<div class="exam-block blog-block quick-links">
  <div class="exam-block-title">
      <div class="blockTitle">
          <a (click)="showRelatedCategory=!showRelatedCategory">
            Related Categories
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </a>
      </div>
      <ul class="relatedcatimg" *ngIf="showRelatedCategory">
          <li *ngFor="let category of sclPostCO?.catCategoriesCOList">
              <a *ngIf="category" [routerLink]="['/', category.slug]">
                <img alt="" src="{{category?.displayLogo}}">
                  {{category?.title}}
              </a>
          </li>
      </ul>
  </div>
</div>