@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7nobm9');
  src:  url('../fonts/icomoon.eot?7nobm9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7nobm9') format('truetype'),
    url('../fonts/icomoon.woff?7nobm9') format('woff'),
    url('../fonts/icomoon.svg?7nobm9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp-2:before {
  content: "\e92f";
}
.icon-instagram:before {
  content: "\e930";
}
.icon-twitter:before {
  content: "\e931";
}
.icon-cart:before {
  content: "\e928";
}
.icon-home:before {
  content: "\e929";
}
.icon-inbox:before {
  content: "\e92a";
}
.icon-logout:before {
  content: "\e92b";
}
.icon-notification:before {
  content: "\e92c";
}
.icon-subscribed_exam:before {
  content: "\e92d";
}
.icon-wishlist:before {
  content: "\e92e";
}
.icon-dropdown:before {
  content: "\e927";
}
.icon-email:before {
  content: "\e926";
}
.icon-angle-left:before {
  content: "\e923";
}
.icon-like-heart:before {
  content: "\e924";
}
.icon-quote:before {
  content: "\e925";
}
.icon-about-info:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-article:before {
  content: "\e903";
}
.icon-attachment:before {
  content: "\e904";
}
.icon-book-studying:before {
  content: "\e905";
}
.icon-callback:before {
  content: "\e906";
}
.icon-cart-courses:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-collapse-minus:before {
  content: "\e90a";
}
.icon-comment:before {
  content: "\e90b";
}
.icon-dots:before {
  content: "\e90c";
}
.icon-expand-add:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-filter:before {
  content: "\e90f";
}
.icon-get-started:before {
  content: "\e910";
}
.icon-hamburger:before {
  content: "\e911";
}
.icon-library:before {
  content: "\e912";
}
.icon-like-heart-o:before {
  content: "\e913";
}
.icon-linkedin:before {
  content: "\e914";
}
.icon-link-expand:before {
  content: "\e915";
}
.icon-location:before {
  content: "\e916";
}
.icon-lock-password:before {
  content: "\e917";
}
.icon-phone-call:before {
  content: "\e918";
}
.icon-products:before {
  content: "\e919";
}
.icon-profile:before {
  content: "\e91a";
}
.icon-profile_1:before {
  content: "\e91b";
}
.icon-review-star:before {
  content: "\e91c";
}
.icon-scoop:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-top-resources:before {
  content: "\e920";
}
.icon-view-all-comment:before {
  content: "\e921";
}
.icon-youtube:before {
  content: "\e922";
}
