<form (ngSubmit)="protectedForm(protected.value)" #protected="ngForm">
    <img alt="" src="https://cdn.saglustest.com/assets/images/lock-icon.png" alt="Landing Page" title="Password Proctected" class="img-fluid mx-auto d-block xsmb15px smmb20px">
    <div class="w400 xs16 sm18 xsmb5px text-center">Password Protected</div>
    <p class="xs14 grey text-center">This Post is password protected, please enter
        <br class="hidden-xs"> the valid password to open this file.</p>
    <div class="form-group relative xsmb0 xsmt15px smmt30px mb-0 common-input-pass">
        <label class="xs14 grey w400"> Enter your password </label>
        <input ng-model="post_pass1" name="password" class="form-control xs14 pr60 ng-pristine ng-valid ng-empty ng-touched" id="password-field"
            placeholder="Password" type="password">
        <div class="form-control-icon-right">
            <button class="btn addon-icon xs15 toggle-password" toggle="#password-field" type="button">
                <i class="fa fa-eye toogle-icon"></i>
            </button>
        </div>
    </div>
    <small style="color:red;" class="ng-binding"></small>
</form>
