<div class="blog-block joinExam-h-372" *ngIf="catCategoriesCO">
    <div class="selectExam-padding changeExam">
       <!--  <a *ngIf="appCurrentState.isUserLoggedIn && changeCategoryStateCO?.catCategoriesCOList?.length > 1"  title="Switch Exam" (click)="switchCategoryId()">
            <span class="icon-change"></span>
        </a> -->
        <div class="exam-profile-img">
            <a *ngIf="catCategoriesCO" [routerLink]="['/',catCategoriesCO?.slug]">
                <img alt="" src="{{catCategoriesCO?.displayLogo}}" class="mx-auto d-block" alt="cat-logo" style="width: 96px; height: 96px;">
            </a>
        </div>
        <div class="text-center w500 lg24 md24 sm24 xs24" style="margin-bottom: 15px;">
            <a *ngIf="catCategoriesCO" [routerLink]="['/',catCategoriesCO?.slug]">
                {{catCategoriesCO?.title}}
            </a>
        </div>
        <div>
            <div *ngIf="!appCurrentState?.isUserLoggedIn" class="buttons-btn btn-40" (click)="openLoginPopUp(catCategoriesCO?.id)">
                <a class="greenBtn text-center lg16 d-block">Follow</a>
            </div> 

            <div *ngIf="appCurrentState?.isUserLoggedIn">
                <!-- <div  class="buttons-btn btn-40" *ngIf="catCategoriesCO?.isUserJoin" (click)="unfollowCategory(contentExit)"> -->
                <div  class="buttons-btn btn-40" *ngIf="catCategoriesCO?.isUserJoin" (click)="openDenyUnfollowPopUpOpen()">    
                    <a class="btn followingBtn text-center lg16 d-block">Following</a>
                </div>
    
                <div class="buttons-btn btn-40" *ngIf="!catCategoriesCO?.isUserJoin" (click)="followCategory()">
                    <a  class="greenBtn text-center lg16 d-block">Follow</a>
                </div>
            </div>  
        </div>
    </div>
    <div class="selectExam-padding topBorder">
        <div class="">
            <ul class="productList pt0">
                <li>
                    <a *ngIf="catCategoriesCO" [routerLink]="['/', catCategoriesCO?.slug]" class="product-icon d-flex align-items-center">
                        <span class="icon-article f-18 text-grey"></span>
                        <span class="f-15 text-grey">Articles ({{catCategoriesCO?.articleCount}})</span>
                    </a>
                </li>
                <li>
                    <a href="{{siteUrl}}/store/search?sortby=ltst&cat_id={{catCategoriesCO?.id}}&category={{catCategoriesCO?.title}}" class="product-icon d-flex align-items-center">
                        <span class="icon-products f-18 text-grey"></span>
                        <span class="f-15 text-grey">Products ({{catCategoriesCO?.productCount}})</span>
                    </a>
                </li>
                <li>
                    <a href="{{siteUrl}}/reviews?category={{catCategoriesCO?.title}}" class="product-icon d-flex align-items-center">
                        <span class="icon-review-star f-18 text-grey"></span>
                        <span class="f-15 text-grey">Reviews</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ng-template #contents let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close closeModal" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Login Popup Start -->
<!-- <div class="modal fade" id="loginBtn" tabindex="-1" role="dialog" aria-labelledby="loginBtn" aria-hidden="true">
    <app-login-popup [categoryId]="catCategoriesCO?.id"></app-login-popup>
</div> -->
<!-- Login Popup End -->

<!-- <button type="button" (click)="changeCategoryPopup(content)">Demo button</button> -->

<!-- cat popup  -->
<!-- <div class="modal fade bd-example-modal-lg" id="changeCategoryPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog changeCategoryPopup" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="tabSec stepOpen">                    
                    <div class="d-none d-md-block">
                        <app-change-categories-parent ></app-change-categories-parent>
                    </div>
                    <div class="d-block d-md-none">
                        <app-change-categories-parent ></app-change-categories-parent>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>  -->

<!-- CHANGE CATEGORY MODAL END -->

<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="eduncleExit(contentExit)">Unfollow Button</button> -->

<!-- Unfollow Button Modal Start -->
<!-- <ng-template #joinBlogContent let-modal>
    <app-deny-unfollow></app-deny-unfollow>
</ng-template> -->
<!-- Unfollow Button Modal End -->

<!-- Can Not Unfollow Button Modal Start -->
<!-- <ng-template #notFollow let-modal>
    <app-confirm-unfollow></app-confirm-unfollow>
</ng-template> -->
<!-- Can Not Unfollow Button Modal End -->