<form class="comment-box inline-items" #insertReplyForms="ngForm" (ngSubmit)="insertReply(insertReplyForms.value)">
    <!-- Input Area -->
    <div class="comment-box inline-items show-box p11">
        <div class="form-group icon-left-right prelative">
            <textarea  ngModel name="comment" class="form-control"
                style="overflow:hidden" placeholder="Write your answer" autofocus="true" required></textarea>

            <div class="userChat inline-items" *ngIf="appCurrentState?.isUserLoggedIn">
                <img alt="" *ngIf="appCurrentState?.userCO?.profileImage" src="{{appCurrentState?.userCO?.profileImage}}">
                <div *ngIf="!appCurrentState?.userCO?.profileImage" class="{{getClassForTextBackGround()}}">
                        {{textbackground}}
                    </div>
            </div>

            <div class="userChat inline-items" *ngIf="!appCurrentState?.isUserLoggedIn">
                <img alt="" *ngIf="!appCurrentState?.userCO?.profileImage"
                    src="https://cdn.eduncle.com/webfiles/images/profile.png">
            </div>
        </div>
    </div>

    <!-- Comment-post and attachment btn -->
    <div class="comment-box-post inline-items show-box attachmentBtn">
        <div class="attachment-icon">
            <div class="btn-group filterColor rightMargin">
                <button [disabled]="(!insertReplyForms.form.valid) ||(!spaceCheck)" type="submit"
                    class="postBtn btn btn-lg">Post</button>
            </div>
        </div>
    </div>
</form>