<div *ngIf="catCategoryAdSlidersCOList" >
    <div class="eduncle-adv-vertical-h-395 blog-block" *ngIf="catCategoryAdSlidersCOList.length>0">
        <ngb-carousel data-interval="6000" >
             <ng-template ngbSlide *ngFor="let catAddSlider of catCategoryAdSlidersCOList">
                <!-- <a *ngIf="appCurrentState.isUserLoggedIn" href="{{catAddSlider?.redirectUrl}}"> -->
                <a *ngIf="appCurrentState.isUserLoggedIn" href="{{siteUrl}}">
                    <img alt="" [lazyLoad]="getResponsiveImage(catAddSlider?.imageName)" 
                    [useSrcset]="true"
                    [errorImage]="catAddSlider?.imageName"  alt="Random slide">
                </a>  
                <a *ngIf="!appCurrentState.isUserLoggedIn" (click)="openLoginPopUp(catCategoriesCO?.id,siteUrl)" class="pointer">
                    <img alt="" (click)="redirectUrl(catAddSlider?.redirectUrl)" [lazyLoad]="getResponsiveImage(catAddSlider?.imageName)" 
                    [useSrcset]="true"
                    [errorImage]="catAddSlider?.imageName"alt="Random slide">
                </a>
             </ng-template>
         </ngb-carousel>
    </div>
</div>

<!-- <div class="modal fade" id="loginBtn1" tabindex="-1" role="dialog" aria-labelledby="loginBtn1" aria-hidden="true" (click)="openLoginPopUp(catCategoriesCO?.id,adRedirectUrl)">
    <app-login-popup [categoryId]="catCategoriesCO?.id" [adRedirectUrl]="adRedirectUrl"></app-login-popup>
</div> -->