<div class="step-Block whiteBg">
    <h5 class="mb-0 ml-3">
        <ul>
            <li class="disabledColor">
                 <span>You’re Preparing For : </span>
                 <span *ngIf="!(changeCategoryStateCO.purpose === 'EDIT_CATEGORY')" (click)="goToStep1()" style="color: #68c8ff;">{{changeCategoryUserSelectionCO.catCategoryCO.title}}  </span> 
                <!-- <span (click)="onBackClicked()"><i class="fa fa-angle-left font-20" aria-hidden="true"></i>&nbsp;
                    You’re Preparing For : </span> -->
                <span *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList">
                    <span *ngIf="catCategoryFiltersCO?.selectedFilterValueCOArray && catCategoryFiltersCO?.selectedFilterValueCOArray.length > 0">
                        <span (click)="onBreadCrumbItemClicked(catCategoryFiltersCO)" class="enabledColor">| {{catCategoryFiltersCO.getSelectedFilterTitleForDropDown()}} </span>
                        <span>&nbsp;| &nbsp;</span>
                    </span>
                </span>

                <span>&nbsp;Choose {{currentCatCategoryDependentFiltersCO?.filterType}} </span>

                <!-- <a href="#" class="disabledColor"></a> -->
                <span class="d-none-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <!-- <a href="https://www.google.com/" class="selectedExamsButton">View Selected Exams</a> -->
                <!-- <span class="selectedExamsButton" *ngIf="changeCategoryStateCO.isUserhasSelectedcategories()" (click)="goToStep3()">View
                    Selected Exams</span> -->
            </li>
        </ul>
    </h5>
</div>
<div class="step-body p-right0 p-top0">
    <div class="chooseSubjectSingle">
        <form class="d-none-xs">
            <div class="examSearchBar">
                <span class="icon-search"></span>
                <input value={{searchText}} (keyup)="onSearchFilter($event)" class="form-control" type="text" placeholder="Search {{currentCatCategoryDependentFiltersCO?.filterType}}...">
            </div>
            <div *ngIf="!isValid" class="errorMsg">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> You Can’t Skip the {{mandatoryFilterName}}
            </div>
        </form>

        <div class="subjectBoxSection">
            <div class="subjectLeft d-none-xs">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" *ngFor="let filterValueCO of getFilteredFilterValueCOList()">
                        <div *ngIf="filterValueCO.isSearchFiltered">
                            <div>
                                <div (click)="onFilterClick(filterValueCO, currentCatCategoryDependentFiltersCO)" class="subjectBlock" [ngClass]="updateActiveClass(filterValueCO.isActive)">
                                    <ul>
                                        <li>
                                            <span class="subjectTitle" [ngClass]="filterValueCO.filterValueColor">{{getFirstLetter(filterValueCO.filterTypeTitle)}}
                                            </span>
                                        </li>
                                        <li  title="{{filterValueCO.filterTypeTitle}}">
                                            <!-- {{filterValueCO.filterTypeTitle}} -->{{getLimitedDependentFilterTitle(filterValueCO.filterTypeTitle)}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subjectRight pt-xs-0">
                <div *ngIf="!isValid" class="errorMsg d-block d-md-none mt-0 pl-0">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> You Can’t Skip the {{mandatoryFilterName}}
                </div>
                <div class="selectGroup d-block d-md-none mt-2">
                    <div class="w500 mbottom5 xsfont14">Choose {{currentCatCategoryDependentFiltersCO?.filterType}}</div>
                    <div class="dropdownCheckboxGroup xsheight40 xsfont14" (click)="isCheckboxDropdownGroupShow()">
                        <span>{{currentCatCategoryDependentFiltersCO?.filterType}}</span>
                    </div>
                    <div class="checkboxMenu xsfont14" *ngIf="IsDropdownCheckboxShow">
                        <div *ngFor="let filterValueCO of getFilteredFilterValueCOList()">
                            <div class="pointer text-grey pb-1" *ngIf="filterValueCO.isSearchFiltered" 
                                (click)="onFilterClick(filterValueCO, currentCatCategoryDependentFiltersCO)">
                                <i *ngIf="filterValueCO.isActive" class="fa fa-check-square"  aria-hidden="true"></i>
                                <i *ngIf="!filterValueCO.isActive" class="fa fa-square-o"  aria-hidden="true"></i>
                                <span>&nbsp;&nbsp;{{filterValueCO.filterTypeTitle}}</span>
                            </div>                            
                        </div>                        
                    </div>
                    <div class="disabledColor xsfont12">Selected: {{currentCatCategoryDependentFiltersCO?.getSelectedFilterTitleForDropDown()}}</div>
                </div>

                <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList" class="selectGroup">
                    <span *ngIf="!catCategoryFiltersCO.dependentFilterType && catCategoryFiltersCO.sequence !== '1'">
                        <div class="w500 mb5 xsfont14">Choose {{catCategoryFiltersCO.filterType}}</div>
                        <div class="dropdown w-100 newDropdownMenu">
                            <button class="btn w-100 xsheight40 dropdown-toggle" type="button" 
                            id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{catCategoryFiltersCO.getSelectedFilterTitleForDropDown()}}
                            </button>
                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" class="dropdown-item"
                                    (click)="onFilterClick(filterValueCO, catCategoryFiltersCO)">{{filterValueCO.filterTypeTitle}}</a>
                            </div>
                        </div>
                    </span>
                </div>
                <!--  <div class="selectGroup">
                    <div class="w500 mbottom5">Choose Medium</div>
                    <select class="selectBox">
                        <option>Medium</option>
                    </select>t
                </div> -->
            </div>
        </div>
        <span class="d-none-xs"><br></span>
        <div *ngIf="!changeCategoryStateCO.isUserLoggedIn" class="tabFooter mr-0">
            <input type="submit" data-dismiss="modal" aria-label="Close" value="Continue" class="examSubmitButton float-right" (click)="continue()" />
            <input type="submit" data-dismiss="modal" aria-label="Close" aria-label="Close" value="Continue" class="continueButtonMobile" (click)="continue()"/>
            <span class="d-none-xs"><br></span>
            <span class="d-none-xs"><br></span>
        </div>
        <div *ngIf="changeCategoryStateCO.isUserLoggedIn" class="tabFooter mr-0">
                <input type="submit"  value="Continue" class="examSubmitButton float-right" (click)="continue()" />
                <input type="submit"  aria-label="Close" value="Continue" class="continueButtonMobile" (click)="continue()"/>
                <span class="d-none-xs"><br></span>
                <span class="d-none-xs"><br></span>
            </div>
    </div>