<div class="modal-header">
    <h4 class="modal-title">Unfollow</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body clear">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="mt1 xsmb2 xs14">
                Are you sure you want to Unfollow {{catCategoryCO?.title}} ? <br/>
                <span class="text-grey xs13">You will not be receiving any future {{catCategoryCO?.title}} Updates.</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="base-btn blue-btn f-14" (click)="unfollowCategory()">Unfollow</button>
    <button type="button" class="base-btn default-btn f-14 mr5" (click)="dismiss()">Cancel</button>
</div>