<!-- Fixed SideBar Left Start-->
<div class="changeExamMobileMenu left" [ngClass] = "addBannerClass()">
	<div class="examHeader">
        <div class="row justify-content-between">
            <div class="col-9">
                Menu
            </div>
            <div class="col-3">
                <a class="pointer float-right sm20 xs20 crossSidebar" (click)="closeStudyMobileMenu()">
                    <img alt="" src="https://cdn.eduncleuat.com/webfiles/images/cross-icon-16.png" />
                </a>
            </div>
        </div>
    </div>
	<div class="FolloweExamContent">
	    <div class="followedExamMobile">
		    <ul class="leftMenu d-lg-block d-none">
		        <li class="active" *ngIf="appCurrentState?.isUserLoggedIn">
		            <a class="pointer" href="{{siteUrl}}/member/student/" placement="right" ngbTooltip="Dashboard">
		                <span class="icon-get-started fa-lg leftMenu-icon"></span>
		            </a>
				</li>
				<li class="active" *ngIf="!appCurrentState?.isUserLoggedIn">
		            <a class="pointer" (click)="openLoginModal()" placement="right" ngbTooltip="Dashboard">
							<span class="icon-get-started fa-lg leftMenu-icon"></span>
		            </a>
		        </li>
		        <li *ngIf="appCurrentState?.isUserLoggedIn">
		            <a class="pointer" href="{{siteUrl}}/member/student/products" placement="right" ngbTooltip="My Courses">
		                <span class="icon-book-studying fa-lg leftMenu-icon"></span>
		            </a>
				</li>
				<li  *ngIf="!appCurrentState?.isUserLoggedIn">
		            <a class="pointer" (click)="openLoginModal()" placement="right" ngbTooltip="My Courses">
							<span class="icon-book-studying fa-lg leftMenu-icon"></span>
		            </a>
		        </li>
		        <li *ngIf="appCurrentState?.isUserLoggedIn">
		            <a class="pointer" href="{{siteUrl}}/member/student/library/library_document?id1=1&v=clr" placement="right" ngbTooltip="Library">
		                <span class="icon-library fa-lg leftMenu-icon"></span>
		            </a>
				</li>
				<li *ngIf="!appCurrentState?.isUserLoggedIn">
		            <a class="pointer" (click)="openLoginModal()" placement="right" ngbTooltip="Library">
		                <span class="icon-library fa-lg leftMenu-icon"></span>
		            </a>
		        </li>
		    </ul>
			<div class="mobile-side-menu side-menu-container">
				<ul class="nav navbar-nav">
					<li>
						<a href="{{siteUrl}}/member/student/" (click)="closeStudyMobileMenu()">
							<span class="icon icon-get-started fa-lg firstIcon"></span> Get Started
						</a>
					</li>
					<li class="active">
						<a href="{{siteUrl}}/member/student/products" (click)="closeStudyMobileMenu()">
							<span class="icon icon-book-studying fa-lg firstIcon"></span> My Courses
						</a>
					</li>
					<li>
						<a href="{{siteUrl}}/member/student/library/library_document?id1=1&v=clr" (click)="closeStudyMobileMenu()">
							<span class="icon icon-library fa-lg firstIcon"></span> Library
						</a>
					</li>
					<div class="mobileMenuSeperator"></div>
					
					<!-- Dropdown For Course -->
					<li class="panel panel-default" id="dropdown">
						<div (click)="toggleCoursesIcon()">				
							<a data-toggle="collapse" data-target="#dropdown-course-lvl1">
								<span class="icon-cart-courses firstIcon"></span> Course 
							</a>
							<a class="rightMenuArrow" data-toggle="collapse" data-target="#dropdown-course-lvl1">
								<span class="icon-angle-right" *ngIf="!showDownFaIcon"></span>
								<span class="icon-angle-down" *ngIf="showDownFaIcon"></span>
							</a> 
						</div>
						<div id="dropdown-course-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<!-- Dropdown level 2 -->
									<li *ngFor="let courseHeaderCO of courseHeaderCOList" class="panel panel-default" id="dropdown">
										<a data-toggle="collapse" data-target="{{courseHeaderCO.categoryTitle}}" (click)="courseHeaderCO.toggleCategoryDownFaIcon()">
											{{courseHeaderCO.categoryTitle}}
										</a>
										<a class="rightMenuArrow">
											<span *ngIf="!courseHeaderCO.showCategoryDownFaIcon" class="icon-angle-right" aria-hidden="true" data-toggle="collapse"></span>
											<span *ngIf="courseHeaderCO.showCategoryDownFaIcon" class="icon-angle-down" aria-hidden="true" data-toggle="collapse"></span>
										</a>
										<div id="{{courseHeaderCO.categoryTitle}}" class="panel-collapse collapse" [ngClass]="courseHeaderCO.updateCategoryDownFaIconClass()">
											<div class="panel-body">
												<ul class="nav navbar-nav">
													<li *ngFor="let filterValueCO of courseHeaderCO.filterValueCOList">
														<a href={{courseHeaderCO.getFilterUrl(filterValueCO.filterTypeId)}}>
															{{filterValueCO.filterTypeTitle}}
														</a>    
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>

					<!-- Dropdown For Scoop href={{scoopUrl}}-->
					<li class="panel panel-default" id="dropdown">
						<div (click)="toggleScoopIcon()">
							<a data-toggle="collapse" href="#dropdown-scoop-lvl1">
								<span class="icon-scoop firstIcon"></span> Scoop
							</a>
							<a class="rightMenuArrow" data-toggle="collapse" href="#dropdown-scoop-lvl1">
								<span *ngIf="!showDownScoopFaIcon" class="icon-angle-right"></span>
								<span *ngIf="showDownScoopFaIcon" class="icon-angle-down"></span>
							</a>
						</div>
						<div id="dropdown-scoop-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<!-- <li *ngFor="let catCategoriesCO of catCategoriesCOList">
										<a href="{{scoopUrl}}/{{catCategoriesCO.slug}}">{{catCategoriesCO.title}}</a>
									</li> -->
									<li>
										<a [routerLink]="['']" (click)="closeStudyMobileMenu()">Scoop Home</a>
									</li>
									<li>
										<a [routerLink]="['/','ugc-net']" (click)="closeStudyMobileMenu()">UGC NET</a>
									</li>
									<li>
										<a [routerLink]="['/','iit-jam']" (click)="closeStudyMobileMenu()">IIT JAM</a>
									</li>
									<li>
										<a [routerLink]="['/','csir-net']" (click)="closeStudyMobileMenu()">CSIR NET</a>
									</li>
									<li>
										<a [routerLink]="['/','engineering-entrance-jee']" (click)="closeStudyMobileMenu()">Engineering Entrance (JEE)</a>
									</li>
									<li>
										<a [routerLink]="['/','medical-entrance-neet']" (click)="closeStudyMobileMenu()">Medical Entrance (NEET)</a>
									</li>
									<li>
										<a [routerLink]="['/','ibps']" (click)="closeStudyMobileMenu()">IBPS</a>
									</li>
									<li>
										<a [routerLink]="['/','ssc']" (click)="closeStudyMobileMenu()">SSC</a>
									</li>
									<li>
										<a [routerLink]="['/','rrb']" (click)="closeStudyMobileMenu()">RRB</a>
									</li>
								</ul>
							</div>
						</div>
					</li>

					<!-- Dropdown For About -->
					<li class="panel panel-default" id="dropdown">
						<div (click)="toggleAboutIcon()">
							<a data-toggle="collapse" href="#dropdown-about-lvl12">
								<span class="icon-about-info firstIcon"></span>About
							</a>
							<a class="rightMenuArrow" data-toggle="collapse" href="#dropdown-about-lvl12">
								<span *ngIf="!showDownAboutFaIcon" class="icon-angle-right"></span>
								<span *ngIf="showDownAboutFaIcon" class="icon-angle-down"></span>
							</a>
						</div>
						<div id="dropdown-about-lvl12" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li>
										<a href="{{siteUrl}}/about-us" target="_blank" (click)="closeStudyMobileMenu()">About Eduncle</a>
									</li>
									<li>
										<a href="{{siteUrl}}/student" target="_blank" (click)="closeStudyMobileMenu()">Student</a>
									</li>
									<li>
										<a href="{{siteUrl}}/teacher" target="_blank" (click)="closeStudyMobileMenu()">Teacher</a>
									</li>
									<li>
										<a href="{{siteUrl}}/reviews" target="_blank" (click)="closeStudyMobileMenu()">Reviews</a>
									</li>
									<li>
										<a href="{{siteUrl}}/app" target="_blank" (click)="closeStudyMobileMenu()">App</a>
									</li>
									<li>
										<a href="{{siteUrl}}/career" target="_blank" (click)="closeStudyMobileMenu()">Career</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Fixed SideBar Left End-->