<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
          <!-- <a class="navbar-brand mobile-device pt10" routerLink="#!" style="padding-top: 10px;">
              <img alt="" src="assets/images/eduncle-logo-fill.png" class="img-responsive" alt="eduncle-logo">
          </a> -->
          <a class="navbar-brand desktop-device" routerLink="/">
              <img alt="" src="assets/images/eduncle-logo-fill.png" class="img-responsive" alt="eduncle-logo">
          </a>
          <button class="navbar-toggler custom-toggler" type="button" (click)="isCollapsed = !isCollapsed"  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
              <ul class="navbar-nav ml-auto main-menu">
                  <li class="nav-item active">
                      <a class="nav-link" routerLink="#!">Try Free Downloads <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item" ngbDropdown>
                      <a class="nav-link" ngbDropdownToggle href="javascript:void(0)" id="navbarDropdown">
                          Courses
                      </a>
                      <ul ngbDropdownMenu class="sub-menu list-unstyled">
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">UGC NET</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">IIT JAM</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">CSIR NE</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item" ngbDropdown>
                      <a class="nav-link" ngbDropdownToggle href="javascript:void(0)" id="navbarDropdown">
                          Scoop
                      </a>
                      <ul ngbDropdownMenu class="sub-menu list-unstyled">
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">UGC NET</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">IIT JAM</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">CSIR NE</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item" ngbDropdown>
                      <a class="nav-link" ngbDropdownToggle href="javascript:void(0)" id="navbarDropdown">
                          About
                          <span class="icon-angle-down"></span>
                      </a>
                      <ul ngbDropdownMenu class="sub-menu list-unstyled">
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">UGC NET</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">IIT JAM</a>
                          </li>
                          <li class="nav-item">
                              <a routerLink="#!" class="nav-link">CSIR NE</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a routerLink="#" class="nav-link">
                        <span class="icon-search"></span> &nbsp;
                      </a>
                  </li> 
              </ul>                
          </div>
          <div class="extra-cell">
              <div class="nav-phone-number nav-phone-numberColor cell lg16 md14 sm16 xs16">
                  <img alt="" src="assets/images/phone-icon-fill.png" style="max-height: 17px;" alt="phone-icon"> 1800-120-1021 (Toll FREE)
              </div>
              <div class="login-btn cell">
                  <a href="#" class="text-black">
                      Login
                  </a>
              </div>  
              <div class="signup-btn cell">
                  <a href="#">Sign up</a>
              </div>
              <div class="cell mobile-login">
                  <a class="nav-link" href="#">
                      <span class="icon-profile_1 text-black"></span>
                  </a>
              </div>   
          </div>
      </div>
  </nav>
</header>



