<div class="loginDesktopForm">
        <div class="row">
            <div class="col-md-11 col-sm-12 col">
                <div class="row mt-2 d-none d-lg-block d-md-block d-sm-block">
                    &nbsp;
                    <!-- <div class="col-sm-6 col-6 clear">
                        <button type="button" class="btn mb2 btn-facebook btn-social w300" (click)="signInWithFB()">
                            <i class="icon-facebook-mp facebookColor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            facebook</button>
                    </div>
                    <div class="col-sm-6 col-6">
                        <button type="button" class="btn mb2 btn-google-plus btn-social w300" (click)="signInWithGoogle()">
                            <i class="icon-google-mp googleColor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            Google</button>
                    </div>
                    <div class="col-12">
                        <div class="topmargin2 orBlock">
                            <div class="ortext">OR</div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col topmargin3">
                <div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}</div>
                <div class="lg24 md24 sm24 xs24 mb-3">Tutor Registration</div>
                <form class="form-horizontal registrationForm"  #mobileEmailForm="ngForm" (ngSubmit)="submitMobileEmail(mobileEmailForm.value)" ngNativeValidate >
                    <div class="row">
                        <div class="col-sm-11 col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="icon-email f-12"></span>
                                    </span>
                                </div>
                                <input ngModel type="text" class="form-control formHeight-40" name="email"
                                    aria-describedby="emailHelp" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="col-sm-11 col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <span class="icon-phone-call"></span>
                                    </span>
                                </div>
                                <input ngModel maxlength="10"  minlength="10" type="text" (keypress)="numberOnly($event)" (keyup) ="saveBrokenLeads($event)"
                                    name="phone" class="form-control formHeight-40" placeholder="Mobile No." required>
                            </div>
                        </div>
                        <div class="col-sm-11">
                            <!-- <div class="para lg14 md14 sm14 xs14">By signing up you accept our <a
                                    href="{{siteUrl}}/terms-of-use" target="_blank">Terms of Use</a></div> -->
                            <div class="para lg14 md14 sm14 xs14 checkboxTerms">
                                <input type="checkbox" (click)="checkUncheckTermsCheckBox()" id="signupaccept" value="" name="" checked>
                                <label for="signupaccept">I agree to the <a href="{{siteUrl}}/terms-of-use" target="_blank">Terms and Conditions</a>.</label> 

                                <input type="checkbox" id="whatsappNotif"  (click)="checkUncheckWhatsAppNotification()" checked >
                                <label for="whatsappNotif">I agree to receive exam notifications via WhatsApp.</label> 
                            </div>
                            <button type="submit" id ="btnSubmit"
                                class="btn btn-lg btnGreen float-left topmargin2">&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                        <!-- <div class="col-sm-11 clear">
                            <div class="text-grey lg14 md14 sm14 xs14 mt3 xsmt3">Don't have an account ?
                                <a class="pointer text-blue" (click)="showUserRegistrationComponent()">Register</a>
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottomLogin-img">
        <img alt="" src="assets/images/login-popup/stats.png" alt="stats-img">
    </div>