<div class="changeCategoryPopup" id="changeCategoryPopup">
    <button type="button" class="close closeModal" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="tabSec stepOpen">
        <app-change-categories-step1 *ngIf="changeCategoryStateCO.currentStep===1"></app-change-categories-step1>
        <app-change-categories-step2 *ngIf="changeCategoryStateCO.currentStep===2"></app-change-categories-step2>
        <app-change-categories-step3 *ngIf="changeCategoryStateCO.currentStep===3"></app-change-categories-step3>
    </div>
</div>