<div *appShellNoRender>
        <div *ngIf="catCategoryAdSlidersCOList">
                <div class="examFeed-block slickBanner" *ngIf="catCategoryAdSlidersCOList.length>0">
                    <div class="block-detail">
                        <div class="clear">
                            <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let catAddSlider of catCategoryAdSlidersCOList">
                                <ng-template carouselSlide [id]="catAddSlider.id">
            <!--                         <ngui-in-view>
                                        <img alt="" *ngIf src="{{catAddSlider?.imageName}}" alt="Random slide">
                                    </ngui-in-view> -->
            
                                    <img alt="" src="{{catAddSlider?.imageName}}" alt="Random slide">
                                </ng-template>
                            </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
</div>