<div  class="inline-items lh3">
    <ul class="blogsocial-android float-left" style="vertical-align: middle;">
        <li>
            {{postCO.sclQuizCO.totalAttempts}} Attempts 
            <span *ngIf="showViewResult" class="blue-link-text pointer"  (click)="openPopUp()">(View Result)</span>
        </li>
    </ul>
  
    <div class="float-right">
      <a  *ngIf="showActionButton" class="readMore-btn displayBlock" 
          (click)="openPopUp()">
          {{quizActionButtonTitle}}
      </a>
    </div>
</div>
  
  
  