<div class="blog-container">
    <div class="blog-padding">
        <div class="blog-post inline-items">
            <img alt="" *ngIf="postCO?.userCO?.profileImage" 
            [defaultImage]="defaultImageCircle" [lazyLoad]="getResponsiveImage(postCO?.userCO?.profileImage)"  
            [useSrcset]="true" 
            [errorImage]="postCO?.userCO?.profileImage" alt="profile-img" style="width: 40px; height: 40px">
            <!-- <img alt="" *ngIf="!postCO?.userCO?.profileImage" src="https://cdn.eduncle.com/webfiles/images/profile.png" alt="profile-img"> -->
            <div *ngIf="!postCO?.userCO?.profileImage" class="{{getClassForTextBackGround('post')}}">
                {{textbackground}}
            </div>

            <div class="blog-author" *ngIf="postCO">
                <a *ngIf="postCO" [routerLink]="['/author',postCO?.userCO?.slug]" class="lg16 md16 sm16 xs16 w500 blue-link-text">
                    {{postCO?.userCO?.fullName()|titlecase}}
                </a>

                <span class="lg16 md16 sm16 xs16 text-grey"> posted an</span>
                <!-- <a routerLink="#!">
                </a> -->
                <span class="text-blue lg16 md16 sm16 xs16">
                    {{postCO?.type|titlecase}}
                </span>
                <div class="blog-date">
                    {{postCO?.sclPostArticlesCO.getDateStringFromMilliseconds()}} •
                    {{postCO?.sclPostArticlesCO.getTimeStringFromMilliseconds()}}
                </div>
            </div>
        </div>
        <h1 class="text-dark-grey">
            {{postCO?.sclPostArticlesCO.title}}
        </h1>
        <div style="height: 51px;" class="mt-4 mb-4">
            <div class="row shareBlock m-0" *appShellNoRender>
                <div class="col-sm-4 col-4 sharePoint">
                    <ul class="totalLikesDesign">
                        <li>
                            <a *ngIf="!appCurrentState?.isUserLoggedIn" (click)="openLoginPopUp(postCO?.defaultCategoryId)">
                                <span class="icon-like-heart-o pointer"></span>
                            </a>
                            <a *ngIf="appCurrentState?.isUserLoggedIn">
                                <span (click)="unlikePost()" *ngIf="postLikeStatus" class="icon-like-heart sm20 pointer"></span>
                                <span (click)="likePost()" *ngIf="!postLikeStatus" class="icon-like-heart-o sm20 pointer"></span>
                            </a>
                        </li>
                        <li class="pointer" *ngIf="!postLikeStatus" (click)="onLikeUnlikeLabelClick()">
                            {{postCO?.totalLikes}} Likes
                        </li>
                        <li class="pointer" *ngIf="postLikeStatus" (click) ="onLikeUnlikeLabelClick()">
                            {{postCO?.totalLikes}} Liked
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-3 text-grey d-flex justify-content-center align-items-center sharePoint">
                    <div class="facebookLike justify-content-center d-flex align-items-center dropdown" ngbDropdown>
                        <button class="btn dropdownShare-btn d-flex align-items-center" (click) ="increaseFbShareCount()" id="dropdownConfig" ngbDropdownToggle>
                            <span class="icon-share xs18 mr-1"></span> Share({{postCO?.fbShareCount}})
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownConfig" style="min-width: auto">
                            <!-- <button class="dropdown-item">
                                <i class="fa fa-facebook text-grey" aria-hidden="true"></i> Share on Facebook
                            </button> -->
                            <div class="mt-2 shareHorizontal">
                                <!-- <share-buttons ></share-buttons> -->
                                <app-social-share [showShareCount]="true" [sclPostCO]="postCO" *appShellNoRender>
                                </app-social-share>
                            </div>
                            <!-- <button class="dropdown-item d-block d-sm-none">
                                <i class="fa fa-whatsapp text-grey" aria-hidden="true"></i> Share on Whatsapp
                            </button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col d-flex justify-content-end align-items-center sharePoint">
                    <a pageScroll href="#comment-section" class="pointer text-grey float-md-right">
                        <!-- <img alt="" src="assets/images/msg-icon.png" /> {{postCO?.totalComments}} Comments -->
                        <span class="icon-comment comment-icon-margn"></span>
                        {{replyCommentCount}} Comments
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="blog-thumb mt2">
            <img alt="" src="{{postCO?.sclPostArticlesCO.featuredImage}}" alt="blog-img" class="mx-auto d-block">
        </div> -->

        <!-- CKEDITOR CONTENT START -->
        <div *ngIf="!isContentHasSlider" class="blog-banner-img"
            [innerHTML]="postCO?.sclPostArticlesCO?.description | safeHtml: 'html'"></div>
        <div *ngIf="isContentHasSlider" class="blog-banner-img" [innerHTML]="innerHtmlContent1 | safeHtml: 'html'">
        </div>
        <app-eduncle-advertisement-half-slider *ngIf="isContentHasSlider" [catCategoriesCO]="catCategoryCO">
        </app-eduncle-advertisement-half-slider>
        <div class="blog-banner-img" [innerHTML]="innerHtmlContent2 | safeHtml: 'html'" *ngIf="isContentHasSlider">
        </div>
        <!-- CKEDITOR CONTENT END -->



        <div class="row" >
            <div class="col-md-12 col-sm-12" >
                <ul class="tag-list">
                    <li *ngFor="let tag of postCO?.cmsTagsCOList">
                        <a *ngIf="tag" [routerLink]="['/tag',tag?.slug]">{{tag?.title}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ABOUT THE AUTHOR SECTION START -->
        <!-- <section>
            <div class="lg18 md18 sm18 w500">About the author</div>
            <div class="about-author-margin">
                <div class="about-author inline-items">
                    <img alt="" src="{{postCO?.userCO?.profileImage}}" alt="profile-img">
                    <div class="blog-author">
                        {{postCO?.userCO?.fullName()|titlecase}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 lg16 md16 sm16 mb3">
                    {{postCO?.userCO?.about}}
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pull-right">
                        <a [routerLink]="['/author', postCO?.userCO?.slug]" class="blue-text lg16 md16 sm16">All Posts by {{postCO?.userCO?.fullName()|titlecase}} &gt;</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- ABOUT THE AUTHOR SECTION END -->


        <!-- You Might Also Likes Start -->
        <section class="blog-course" >
            <div >
                <div>
                    <div class="row mb3" *ngIf="sclPostCOList">
                        <div class="col-12">
                            <div class="lg16 md16 sm16 w500 mb2 xsmb6">You Might Also Like</div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let post of sclPostCOList">
                            <div class="examsList">
                                <div class="exam-thumb-likes text-center mightBanner-xs">
                                    <!-- <ngui-in-view>
                                                <img alt="" *ngIf src="{{changeImageSizes(post?.sclPostArticlesCO?.featuredImage)}}" alt="thumbnail-iit-jam">
                                            </ngui-in-view> -->
                                            
                                      <img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getFeaturedImage(post)"
                                       alt="thumbnail-iit-jam">  
                                      
                                      
                                </div>
                                <div class="exam-title-detail">
                                    <div class="w500 lg14 md14 sm14 xs14" (click)="changePosition()">
                                        <a *ngIf="post" class="text-black" [routerLink]="['/',post?.slug]">
                                            {{post?.sclPostArticlesCO.title}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div id="comment-section"></div>
                    <div class="row shareBlock mt-4 mb-4" *appShellNoRender>
                        <div class="col-sm-4 col-4 sharePoint">
                            <ul class="totalLikesDesign">
                                <li>
                                    <a *ngIf="!appCurrentState?.isUserLoggedIn"
                                        (click)="openLoginPopUp(postCO?.defaultCategoryId)">
                                        <span class="icon-like-heart-o pointer"></span>
                                    </a>
                                    <a *ngIf="appCurrentState?.isUserLoggedIn">
                                        <span (click)="unlikePost()" *ngIf="postLikeStatus"
                                            class="icon-like-heart sm20 pointer"></span>
                                        <span (click)="likePost()" *ngIf="!postLikeStatus"
                                            class="icon-like-heart-o sm20 pointer"></span>
                                    </a>
                                </li>
                                <li class="pointer" *ngIf="!postLikeStatus" (click)="onLikeUnlikeLabelClick()">
                                    {{postCO?.totalLikes}} Likes
                                </li>
                                <li class="pointer" *ngIf="postLikeStatus" (click)="onLikeUnlikeLabelClick()">
                                    {{postCO?.totalLikes}} Liked
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-3 text-grey d-flex justify-content-center align-items-center sharePoint">
                            <div class="facebookLike justify-content-center d-flex align-items-center dropdown" ngbDropdown>
                                <button class="btn dropdownShare-btn d-flex align-items-center" id="dropdownConfig"
                                    ngbDropdownToggle (click) ="increaseFbShareCount()">
                                    <span class="icon-share xs18 mr-1"></span>
                                    Share({{postCO?.fbShareCount}})
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownConfig" style="min-width: auto">
                                    <div class="mt-2 shareHorizontal">
                                        <!-- <share-buttons></share-buttons> -->
                                        <app-social-share [showShareCount]="true" [sclPostCO]="postCO"
                                            *appShellNoRender></app-social-share>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col d-flex justify-content-end align-items-center sharePoint" (click)="onFooterCommentCountClick()">
                            <a pageScroll  class="pointer text-grey float-md-right">
                                <span class="icon-comment comment-icon-margn"></span>
                                {{replyCommentCount}} Comments
                            </a>
                        </div>
                    </div>
            </div>
        </section>
        <!-- You Might Also Likes End -->
    </div>
</div>
<div id="commentId">
    <div >
        <app-insert-comment [postCO]="postCO" *appShellNoRender></app-insert-comment>
    </div>
</div>
<div >
        <div class="text-center mb-3" *ngIf="replyCommentCount > 0">
                Showing {{count}} comments out of {{replyCommentCount}}
        </div>
</div>

<div>
    <ul class="commentListing clear" >
        <li *ngFor="let comment of commentCOArray">
            <app-show-comment   [categoryId]="postCO?.defaultCategoryId" [commentCO]="comment"></app-show-comment>
        </li>
        <li class="text-center  viewmoreComment-bg" *ngIf="isAllCommentsLoaded">
            <div class="text-center pointe">
                <div class="d-inline">
                    <img alt="" src="assets/images/msg-icon.png">
                </div>
                <div class="d-inline lightGrey xs14 pointer" (click)="loadMoreComments()">
                    <!-- &nbsp;View More Comments ({{commentIdList?.length-commentCOArray?.length}}) -->
                    &nbsp;View More Comments ({{replyCommentCount-count}})
                </div>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="appPopupCO.isCommentDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div>


<div *ngIf="appPopupCO.isReplyDeletePopUpOpen">
    <div class="customBootstrapModal">
        <div class="modal">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <app-delete-pop-up (onYesClick)="onDeletePopupYesClick()"></app-delete-pop-up>
                </div>
            </div>
        </div>
    </div>
    <div class="customModalBackdrop"></div>
</div>




<!-- Login Popup Start -->
<!-- <div (click)="openLoginPopUp(postCO?.defaultCategoryId)">
     <app-login-popup [categoryId]="postCO?.defaultCategoryId"></app-login-popup>
</div> 

<div (click)="openLoginPopUp(postCO?.defaultCategoryId)">
 <app-login-popup [categoryId]="postCO?.defaultCategoryId"></app-login-popup>  
</div> -->
<!-- Login Popup End -->