<!-- Most Popular on Eduncle Start-->
<section class="p40 bg-white">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="lg24 md24 sm24 xs24 text-center dark-black-title">
						Most Popular on Eduncle
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let detailedCategoryForHomeCO of detailedCategoryForHomeCOList | slice:0:4;" >
					<div class="mt30">
						<ul class="mostPopularExam examFrame">
							<li>
								<!-- <ngui-in-view>
									<img alt="" *ngIf src="{{detailedCategoryForHomeCO.catCategoriesCO?.displayLogo}}" alt="{{detailedCategoryForHomeCO.catCategoriesCO.title}}">
								</ngui-in-view> -->
								<!--<img alt="" src="{{detailedCategoryForHomeCO.catCategoriesCO?.displayLogo}}" alt="{{detailedCategoryForHomeCO.catCategoriesCO.title}}">-->
								<img alt="" [defaultImage]="defaultImageCircle" [lazyLoad]="getResponsiveImage(detailedCategoryForHomeCO.catCategoriesCO?.displayLogo)" [useSrcset]="true" [errorImage]="detailedCategoryForHomeCO.catCategoriesCO?.displayLogo" alt="{{detailedCategoryForHomeCO.catCategoriesCO.title}}">
							</li>
							<li class="heading-blue md24 sm24 xs20 w700">{{detailedCategoryForHomeCO.catCategoriesCO.title}}</li>
							<li>
								<a *ngIf="detailedCategoryForHomeCO" [routerLink]="['/', detailedCategoryForHomeCO.catCategoriesCO?.slug]">
									View all &nbsp;<span class="icon-angle-right w700 sm12 xs12"></span>
								</a>
							</li>
						</ul>
						<hr class="hr-custom">
						<div class="examsList" *ngFor="let post of detailedCategoryForHomeCO.sclPostCOList">
								<div class="exam-thumb text-center">
									<!-- <ngui-in-view>
										<img alt="" *ngIf src="{{post?.sclPostArticlesCO.featuredImage}}" alt="thumbnail-iit-jam">
									</ngui-in-view> -->
									<img alt="" [defaultImage]="defaultImageSquare" [lazyLoad]="getResponsiveImage(post?.sclPostArticlesCO.featuredImage)" [useSrcset]="true" [errorImage]="post?.sclPostArticlesCO.featuredImage" alt="thumbnail-iit-jam">
								</div>
								<div class="exam-title-detail">
									<div class="heading-blue w600 slider-title">
										<a *ngIf="post" [routerLink]="['/',post?.slug]">
											<!-- {{post?.sclPostArticlesCO?.title}} -->
											{{post?.sclPostArticlesCO?.limitedTextTitle(50)}}
										</a>
									</div>
									<div class="text-darker-grey mt1 mb1 lh130 xs15">
											<!-- {{post?.sclPostArticlesCO?.shortDecription}} -->
											{{post?.sclPostArticlesCO?.limitedTextDescription(90)}}
									</div>
									<ul class="author-summary text-grey md12 sm12 xs12">
										<li class="w500">by {{post?.userCO.fullName()|titlecase}}</li>
										<li>•</li>
										<li>{{getDateStringFromMilliseconds(post?.sclPostArticlesCO.displayDate)}}</li>
										<li>•</li>
										  <li>{{(+post?.totalComments)+(+post?.totalReplies)}} Comments</li>
									</ul>
								</div>
							</div>
					</div>
			
				</div>
				
			</div>
		</div>
	</section>
	<!-- Most Popular on Eduncle End-->