<!-- For Eduncle -->
<!-- <div *ngIf="catCategoryAdSlidersCOList">
	<div class="examFeed-block slickBanner" *ngIf="catCategoryAdSlidersCOList.length>0">
		<div class="block-detail">
			<ul class="userProfile" style="margin-bottom: 5%;">
				<li>
					<img alt="" src="assets/images/author-name.png" class="userProfileImage">
					<div class="clear">
						<div class="pull-left">
							<span><a class="pointer lg16 md16 sm16 xs16 w500 text-blue">Eduncle</a></span>
	
							<div class="lightGrey lg12 md12 sm12 xs12">
								<span>
									Ask, Learn & Lead It
								</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="clear">
				<owl-carousel-o [options]="customOptions">
					<ng-container *ngFor="let catAddSlider of catCategoryAdSlidersCOList">
						<ng-template carouselSlide [id]="catAddSlider.id">
						

							<a *ngIf="appCurrentState.isUserLoggedIn" href="{{siteUrl}}">	
								<img alt="" src="{{catAddSlider?.imageName}}" alt="Random slide">
							</a>  
							<a *ngIf="!appCurrentState.isUserLoggedIn" (click)="openLoginPopUp(catCategoriesCO?.id,siteUrl)" class="pointer">
								<img alt="" src="{{catAddSlider?.imageName}}" alt="Random slide">
							</a>  
						</ng-template>
					</ng-container>
				</owl-carousel-o>
			</div>		
		</div>
	</div>
</div> -->


<div *ngIf="catCategoryAdSlidersCOList">
    <div class="examFeed-block slickBanner" *ngIf="catCategoryAdSlidersCOList.length>0">
        <div class="block-detail" [preRender]="false" (deferLoad)="showMyElement=true">
            <ul class="userProfile" style="margin-bottom: 5%;">
                <li>
                    <img alt="" *ngIf=showMyElement src="assets/images/author-name.png" class="userProfileImage">
                    <div class="clear">
                        <div class="pull-left">
                            <span><a class="pointer lg16 md16 sm16 xs16 w500 text-blue">Eduncle</a></span>
                            <div class="lightGrey lg12 md12 sm12 xs12">
                                <span>
                                    Ask, Learn & Lead It
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear middleAddSlider">
                <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide *ngFor="let catAddSlider of catCategoryAdSlidersCOList">
                        <div class="">
                            <a *ngIf="appCurrentState.isUserLoggedIn" href="{{siteUrl}}">
                                <img alt="" *ngIf=showMyElement src="{{catAddSlider?.imageName}}" alt="Random slide">
                            </a>
                            <a *ngIf="!appCurrentState.isUserLoggedIn" (click)="openLoginPopUp(catCategoriesCO?.id,siteUrl)" class="pointer">
                                <img alt="" *ngIf=showMyElement src="{{catAddSlider?.imageName}}" alt="Random slide">
                            </a>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="loginBtn1" tabindex="-1" role="dialog" aria-labelledby="loginBtn1" aria-hidden="true" (click)="openLoginPopUp(catCategoriesCO?.id,adRedirectUrl)">
		<app-login-popup [categoryId]="catCategoriesCO?.id" [adRedirectUrl]="adRedirectUrl"></app-login-popup>
	</div>
	 -->