.examFeed-block {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.block-detail {
    position: relative;
    padding: 12px 12px 15px 18px;
}

ul.userProfile {
    position: relative;
    padding-left: 50px;
    margin-bottom: 10%;
}

ul.userProfile > li {
    padding: 12px;
    list-style: none;
    font-size: 16px;
}

.userProfileImage {
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 100%;
    left: 0;
}

.lightGrey {
    color: #848e92;
}

.product-bg {
    background: #f1f5f8;
}