<div *ngIf = "showBanner"  class="proBlock hide-probanner" >
    <div class="container-fluid">
        <div class="row">
            <div class="promo-h80-table">
                <div class="promo-vertical-align">
                    <div class="row">
                         <!-- Desktop Start -->
                    <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 col-8 d-none d-md-none d-lg-block">
                            <div class="promo-section">
                                <img alt="" src="assets/images/promotion-app/promo-logo.png" alt="promo-logo">
                                <div class="md16 sm16 xs16 promo-title">
                                    All New Eduncle App For Enhanced <strong>{{currentCategoryName}}</strong> Learning Experience.<br/>
                                     <strong>Download Eduncle App Free!</strong>
                                </div>
                            </div>
                         </div>
                         <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12 col-4 d-none d-md-none d-lg-block">
                                <form (ngSubmit)="addAppSubsciber(mobile.value)" ngNativeValidate>
                                    <ul class="promo-list">
                                        <li>
                                            <input type="text" #mobile name="" class="form-control formHeight-40" (keypress)="numberOnly($event)" placeholder="Mobile No." maxlength="10"  minlength="10" required>
                                        </li>
                                        <li>
                                            <!-- <div class="getLink-btn">
                                                <a href="javascript:void();">Get Link</a>
                                            </div> -->
                                             <input type="submit" class="sm14 getLink-btn pointer" value="Send Link"> 
                                        </li>
                                
                                        <li>
                                            <div class="ortextPd">OR</div>
                                        </li>
                                        <li>
                                            <a href="http://bit.ly/38FV77O">
                                                <img alt="" src="assets/images/promotion-app/google-play.png" alt="google-play" class="pointer">
                                            </a>
                                        </li>
                                        <li class="close-promo close-promo-icon-32 closeProBanner" (click)= "closeBanner()">
                                            &times;
                                        </li>
                                
                                    </ul>
                                </form>
                         </div>
                         <!-- Desktop End -->
                         <!-- Tablet-Mobile Start-->
                         <div class="col-sm-12 col-12 d-block d-sm-block d-md-block d-lg-none">
                             <div class="promoBannerTable">
                                 <table>
                                    <tbody>
                                        <tr>
                                            <td width="10%" style="vertical-align: top;">
                                                <div class="close-promo-mobile closeProBanner" (click) = "closeBanner()">&times;</div>
                                            </td>
                                            <td width="75%">
                                                <div class="promo-section-mobile">
                                                    <img alt="" src="assets/images/promotion-app/promo-logo.png" alt="promo-logo">
                                                    <div class="promo-title-mobile">
                                                        <div class="sm14 xs14 w600">Eduncle - Learning & Teaching App</div>
                                                        <div class="sm14 xs14">Ask, Learn & Lead It!
                                                        </div>
                                                        <div class="sm14 xs14">Experience Enhanced Learning </div>
                                                        <div class="sm14 xs14">FREE - 
                                                            On Google Play Store</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td width="25%" class="text-center">
                                                <a href="http://bit.ly/38FV77O" class="floatLeft xsmb10 pointer">
                                                    <img alt="" alt="google-play" src="assets/images/promotion-app/google-play.png" 
                                                    style="width: 99px;"></a>
                                                <div>
                                                    <a href="http://bit.ly/38FV77O" class="w500"><u>Install Now</u></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                 </table>
                             </div>                                
                         </div>
                         <!-- Tablet-Mobile End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
