<!-- Header Start -->
<app-promotion-banner ></app-promotion-banner>
<app-header></app-header>
<!-- Header End -->

<!-- Banner Slider Start -->
<!-- <app-blog-banner-slider *appShellRender></app-blog-banner-slider> -->
<!-- Banner Slider End -->

<!-- Search in Banner Start -->
<!-- <app-search-in-banner></app-search-in-banner> -->
<!-- Search in Banner End -->

<!-- Choose Exam Start -->
<app-choose-exam-blocks></app-choose-exam-blocks>
<!-- Choose Exam End -->

<!-- Most Popular on Eduncle Start-->
<app-most-popular-on-eduncle></app-most-popular-on-eduncle>
<!-- Most Popular on Eduncle End-->



<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->
