<!-- New POpup By Vinita -->
<!-- <ng-template #content let-modal> -->
        <!-- New POpup By Vinita -->
<!-- <ng-template #content let-modal> -->
    <div class="modal-body bg-popupPromo">
        <div style="padding: 15px;">
            <button type="button" class="close pointer custom-close-promoBanner" style="margin-top: 0; color:#ffffff !important;" aria-label="Close" (click)="dismiss()">
                    <span class="crossicon-position" aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12 d-none d-sm-block d-md-block d-lg-block pleft-30">
                        <div class="md28 sm24 xs24 w500 mb4">Want Enhanced Learning Experience For {{defaultTitle}}
                            <strong>{{currentCategoryName}}</strong></div>
                        <div style="padding-left: 15px;">
                            <div class="media mb4">
                                <div class="media-left mr-3">
                                    <div class="bullet-sprite bullet-1"></div>
                                </div>
                                <div class="media-body">
                                    <div class="lg16 md16 sm16 xs16"><span class="w700">Ask Your Doubts</span> and Get Them Answered by Exam
                                        Experts & Students' Community Members Across India</div>
                                </div>
                            </div>
                            <div class="media mb4">
                                <div class="media-left mr-3">
                                    <div class="bullet-sprite bullet-2"></div>
                                </div>
                                <div class="media-body">
                                    <div class="lg16 md16 sm16 xs16 w700">Regular Guidance, Mentorship & Study Tips</div>
                                    <div class="lg16 md16 sm16 xs16">by Eduncle Experts</div>
                                </div>
                            </div>
                            <div class="media mb4">
                                <div class="media-left mr-3">
                                    <div class="bullet-sprite bullet-3"></div>
                                </div>
                                <div class="media-body">
                                    <div class="lg16 md16 sm16 xs16"><span class="w700"> Quality Content with More Than 300 Courses</span> in
                                        Multiple Exams Curated by Experts</div>
                                </div>
                            </div>
                        </div>
                    
                        <div style="position: absolute;bottom: -13px;">
                            <div class="md18 sm18 xs16 w500 mb2">
                                Enter your mobile number to get the download link.
                            </div>
                            <form (ngSubmit)="addAppSubsciber(mobile.value)" ngNativeValidate>
                                <ul class="promo-list">
                                    <li>
                                        <div class="form-group" id="">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="icon-phone-call"></span>
                                                    </span>
                                                </div>
                                                <input #mobile ngModel type="text" class="form-control formHeight-35 form-control-popup" name="name"
                                                    aria-describedby="emailHelp" placeholder="Your Mobile No." required
                                                    placement="right" required>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- <div class="getLink-btn">
                                            <a href="javascript:void();">Get Link</a>
                                        </div> -->
                                        <input type="submit" class="sm14 getLink-btn-popup pointer" value="Get Link"> 
                                    </li>
                            
                                    <li>
                                        <div class="ortextPd">OR</div>
                                    </li>
                                    <li>
                                        <a href="http://bit.ly/2PNIQ8F">
                                            <div class="bullet-sprite google-play"></div>
                                        </a>
                                    </li>                    
                                </ul>
                            </form>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-12 d-none d-sm-block">
                        <div class="bullet-sprite eduncle-logo-pro mx-auto d-block"></div>
                        <div class="md18 sm18 xs18 white-text w500 text-center mb4 xsmb4">
                            Learning & Teaching App
                        </div>
                        <img alt="" src="{{mobileDownloadImagePath}}" class="img-fluid mx-auto d-block">
                    </div>
        
                    <div class="d-block d-sm-none d-md-none d-lg-none">
                        <div class="col-12">
                            <div class="bullet-sprite eduncle-logo-pro mx-auto d-block" style="padding-top: 4%;"></div>
                            <div class="md18 sm18 xs12 white-text w500 text-center mb4 xsmb6percentage">
                                Learning & Teaching App
                            </div>
                            <div class="md18 sm18 xs20 w500 mb4 xsmb6percentage text-center text-yellow">Want Enhanced Learning Experience For {{defaultTitle}}
                                <strong>{{currentCategoryName}}</strong>
                            </div>
                        </div>
                        <div class="row align-items-center" style="margin-bottom: 2%;">
                            <div class="col-7">
                                    <div style="padding-left: 15px;">
                                        <div class="media mb4">
                                            <div class="media-left mr-3">
                                                <div class="bullet-sprite bullet-1"></div>
                                            </div>
                                            <div class="media-body mb4 xsmb6percentage">
                                                <div class="xs12 white-text"><span class="w700">Ask Your Doubts</span> and Get Answers by Exam
                                                    Experts & Student Community Members</div>
                                            </div>
                                        </div>
                                        <div class="media mb4">
                                            <div class="media-left mr-3">
                                                <div class="bullet-sprite bullet-2"></div>
                                            </div>
                                            <div class="media-body mb4 xsmb6percentage">
                                                <div class="xs12 w700 white-text">Regular Guidance, Mentorship & Study Tips</div>
                                            </div>
                                        </div>
                                        <div class="media mb4">
                                            <div class="media-left mr-3">
                                                <div class="bullet-sprite bullet-3"></div>
                                            </div>
                                            <div class="media-body mb4 xsmb6percentage">
                                                <div class="xs12 white-text">Study From<span class="w700"> 300+ Quality Courses By</span> Experts</div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- <div style="position: absolute;bottom: -13px;">
                                        <div class="md18 sm18 xs16 w500 mb2">
                                            Enter your mobile number to get the download link.
                                        </div>
                                        <form>
                                            <ul class="promo-list">
                                                <li>
                                                    <div class="form-group" id="">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <span class="icon-phone-call"></span>
                                                                </span>
                                                            </div>
                                                            <input ngModel type="text" class="form-control formHeight-35 form-control-popup" name="name"
                                                                aria-describedby="emailHelp" placeholder="Your Mobile No." required
                                                                placement="right" required>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <input type="submit" class="sm14 getLink-btn-popup pointer" value="Get Link"> 
                                                </li>
                                        
                                                <li>
                                                    <div class="ortextPd">OR</div>
                                                </li>
                                                <li>
                                                    <a href="https://play.google.com/store/apps/details?id=com.eduncle.android">
                                                        <img alt="" src="assets/images/promotion-app/google-play.png" alt="google-play" height="36px;">
                                                    </a>
                                                </li>                    
                                            </ul>
                                        </form>
                                    </div> -->
                            </div>
                            <div class="col-5" style="padding-left: 0;">
                                <img alt="" src="{{mobileDownloadImagePath}}" class="img-fluid mx-auto d-block" style="padding: 8px;">
                            </div>
                        </div>
        
                    </div>
                </div>
        </div>
        <div class="d-block d-sm-none d-md-none d-lg-none">
            <div style="width: 100%;background: url(assets/images/promotion-app/Mobile-popup-app-bottom.png) no-repeat;padding: 20px 0;">
                <div class="text-center mb4 xsmb4">
                    <a href="http://bit.ly/2rShPcd" class="text-dark-grey xs22 w600">
                        Download Now!
                    </a>
                </div>
                <a href="http://bit.ly/2rShPcd">
                    <div class="bullet-sprite google-play mx-auto d-block"></div>
                </a>
            </div>
        </div>
    </div>
        
        
       
    <!-- </ng-template> -->
     
<!-- </ng-template> -->
