
<div class="blog-block">
    <div class="blog-padding authorName">
    <div class="text-center">
        <i class="fa fa-tag fa-2x text-grey" aria-hidden="true"></i>
    </div>  

      <div class="text-center lg24 md24 sm24 xs24 w500" style="margin-bottom: 20px;">          
        {{tagDetailCO?.title}}
      </div>  
    </div>
</div>
