<div class="reqCallBackForm">
    <h4 class="enabledColor text-center md24 sm20 mb-1">
        You’ve made a great decision
    </h4>
    <p class="sm14 mb-4 text-center text-grey">                                
        We have sent you an OTP on your registerd mobile No.
        Ending ---466. Please verify it
    </p>

    <div class="input-group mb-5">
        <input type="text" class="form-control w-100" placeholder="Enter OTP">
        <div class="w-100">
            <span class="float-left">
                00:45
            </span>
            <span class="float-right">
                <a href="#" class="text-light-blue sm14 underline">Resend Code</a>
            </span>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fa fa-unlock-alt" aria-hidden="true"></span>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <span class="fa fa-unlock-alt" aria-hidden="true"></span>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Confirm Password">
    </div>
    <div class="input-group mb-3">
        <button class="btn btn-lg btnGreen w-100" 
        data-toggle="modal" data-target="#otpSuccessModal"
         (click)="closeRequestOtpModal()">Continue to site</button>
    </div>
</div>

