<div class="loginDesktopForm">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="lg24 md24 sm24 xs24 text-center blueText">You've made a great decision</div>
        <p class="topmargin1 bottommargin4 w500 text-center">
            We have sent you an OTP on your registerd mobile No. Ending ---{{ phoneNumberLast3Digits }}.
            Please verify it
        </p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}</div>
        <form class="form-horizontal clear topmargin1" (ngSubmit)="submitPasswordForm(passwordForm.value)" #passwordForm="ngForm">
            <div class="form-group">
                <div class="col-sm-11 col-xs-12">
                    <input [disabled]="isValidOtp" type="text" #userOtp (keyup)="varifingOtp(userOtp.value)"
                        placeholder="Enter OTP" class="form-control formHeight">
                    <div class="topmargin1">
                        <span>{{ timeLeftOrVerifyText }}</span>
                        <span class="pull-right">
                            <a *ngIf="timeLeft <= 0 && !isValidOtp" (click)="reSendOtp()" style="color: #0095cb;cursor:pointer">
                                <u>Resend Code</u>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11 col-xs-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="icon-lock-password"></span>
                            </span>
                        </div>
                        <!-- <input ngModel type="text" name="" class="form-control formHeight-40" id="" placeholder="Password" required> -->
                        <input ngModel type="password" name="password" class="form-control formHeight-40" id="" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11 col-xs-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="icon-lock-password"></span>
                            </span>
                        </div>
                        <!-- <input ngModel type="text" name="" class="form-control formHeight-40" id="" placeholder="Confirm Password" required> -->
                        <input ngModel type="password" name="confirmPassword" class="form-control formHeight-40" placeholder="Confirm Password" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11 col-xs-12">
                    <button type="submit" [disabled]="(!isValidOtp || !passwordForm.form.valid)" class="btn btn-lg btnGreen continueToSite">Download
                        Now</button>
                        <!-- <button type="submit" [disabled]="(!isValidOtp)" class="btn btn-lg btnGreen continueToSite">Download
                                Now</button> -->
                </div>
            </div>
        </form>
    </div>
</div>