<div class="quickLinksBlock d-block d-md-none">
    <div class="exam-block">
        <ul class="examOptions">
            <!-- <li>
                <a href="#">
                    <img alt="" src="assets/images/totalMembers.png" />
                    <span>&nbsp;Members (538)</span>
                </a>
            </li> -->
            <li>
                <a *ngIf="catCategoriesCO" [routerLink]="['/', catCategoriesCO?.slug]" (click)="hideMembersAndQuickLinks()" class="product-icon">
                    <img alt="" src="assets/images/article-icon.png" />
                    <span>Articles ({{catCategoriesCO?.articleCount}})</span>
                </a>
            </li>
            <li>
                <a href="{{siteUrl}}/store/search?sortby=ltst&cat_id={{catCategoriesCO.id}}" class="product-icon">
                    <img alt="" src="assets/images/product-icon.png" />
                    <span>Products ({{catCategoriesCO?.productCount}})</span>
                </a>
            </li>
            <li>
                <a href="{{siteUrl}}/reviews" class="product-icon">
                    <i class="icon-review-star" aria-hidden="true"></i>
                    <span>Reviews</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="exam-block quick-links quickLinksMobile" *ngIf="catCategoryQuickLinksCOlist?.length>0">
        <div class="exam-block-title border-0">
            <div class="blockTitle w500 sm16 xs16">
                <img alt="" src="assets/images/quick-links.png"> Top Resources
            </div>
            <ul class="quickLinks">
                <li *ngFor="let quickLink of catCategoryQuickLinksCOlist">
                    <a *ngIf="quickLink?.isExternalUrl" href="https://{{quickLink?.redirectToLink}}" (click)="hideMembersAndQuickLinks()">
                        <div class="{{quickLink?.icon}}"></div>
                        <div class="quickLinkTitle">{{quickLink?.linkTitle}}</div>
                    </a>
                    <a *ngIf="!quickLink?.isExternalUrl" [routerLink]="['/',quickLink?.redirectToLink]" (click)="hideMembersAndQuickLinks()">
                        <div class="{{quickLink?.icon}}"></div>
                        <div class="quickLinkTitle">{{quickLink?.linkTitle}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="exam-block quick-links quickLinksMobile" *ngIf="sclPostCO?.catCategoriesCOList?.length>0">
        <div class="exam-block-title border-0">
            <div class="blockTitle w500 sm16 xs16">
                Related Categories
            </div>
            <ul class="relatedcatimg">
                <li *ngFor="let category of sclPostCO?.catCategoriesCOList">
                    <a [routerLink]="['/category', category.slug]">
                      <img alt="" src="{{category?.displayLogo}}">
                        {{category?.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
</div>



