<!-- Input Fake Button -->
<div>

    <form class="comment-box inline-items" #commentForms="ngForm"
        (ngSubmit)="insertComment(commentForms.value); commentForms.reset()">
        <!-- Input Area -->
        <!-- <div class="w-100 show-box p11 commentBoxTextarea commentInputpadding" *ngIf="toggleVariable"> -->
        <div class="w-100 show-box p11 commentBoxTextarea commentInputpadding">
            <div class="form-group leftProfile prelative">
                <textarea  ngModel name="comment" class="form-control"
                    style="overflow:hidden" placeholder="Write your comment" required></textarea>
                <div class="userChat inline-items">
                    <div *ngIf="appCurrentState?.isUserLoggedIn">
                            <div *ngIf="!appCurrentState?.userCO?.profileImage" class="{{getClassForTextBackGround()}}">
                                    {{textBackgroundUserProfile}}
                                </div>
                                <img alt="" *ngIf="appCurrentState?.userCO?.profileImage" src="{{appCurrentState?.userCO?.profileImage}}">
                    </div>
                    <div *ngIf="!appCurrentState?.isUserLoggedIn">
                            <img alt="" *ngIf="!appCurrentState?.userCO?.profileImage"
                            src="https://cdn.eduncle.com/webfiles/images/profile.png">
                    </div>
                   
                    

                    
                </div>
            </div>
        </div>

        <!-- Comment-post and attachment btn -->
        <!-- <div class="comment-box-post inline-items show-box attachmentBtn" *ngIf="toggleVariable"> -->
        <div class="comment-box-post inline-items show-box attachmentBtn">
            <div class="attachment-icon">
                <div class="btn-group filterColor rightMargin" *ngIf="appCurrentState?.userCO">
                    <button [disabled]="(!commentForms.form.valid) || (!spaceCheck)" type="submit"
                        class="postBtn btn btn-lg">Post</button>
                </div>
                <div class="btn-group filterColor rightMargin" *ngIf="!appCurrentState?.userCO">
                    <!-- <button (click)="postPopup(contents)" [disabled]="!commentForms.form.valid" type="submit" class="postBtn btn btn-lg">Post</button> -->
                    <button (click)="openLoginPopUp(postCO?.defaultCategoryId)"
                        [disabled]="(!commentForms.form.valid) || (!spaceCheck)" type="submit"
                        class="postBtn btn btn-lg">Post</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Login Popup Start -->
<!-- <div class="modal fade" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="loginPopup" 
aria-hidden="true"  (click)="openLoginPopUp(postCO?.defaultCategoryId)">
    <app-login-popup [categoryId]="postCO?.defaultCategoryId"></app-login-popup>
</div> -->
<!-- Login Popup End -->