<button type="button" class="close pointer custom-close entry-close-btn-icons" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-content">
    <div class="pop_background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-12" style="padding: 32px">
                    <!-- <div class="xs20 text-center white-text">
                        Attention Aspirants!
                    </div> -->
                    <div class="xs25 text-center white-text mb1 xsmb1 w600">
                        Do You Want Better RANK in Your Exam?
                    </div>
                    <div class="xs15 text-center white-text">
                        Start Your Preparations with Eduncle’s FREE Study Material
                    </div>
                    <div class="d-none d-sm-block" style="border-bottom: 1px solid #43a7db;">&nbsp;</div>
                    <div class="bulletList d-none d-sm-block">
                        <div class="media">
                            <div class="media-left mr-3">
                                <div class="bullet-sprite bullet-icon-1"></div>
                            </div>
                            <div class="media-body">
                                <div class="white-text lg18 md18 sm15 xs18">Updated Syllabus, Paper Pattern & Full Exam
                                    Details</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left mr-3">
                                <div class="bullet-sprite bullet-icon-2"></div>
                            </div>
                            <div class="media-body">
                                <div class="white-text lg18 md18 sm15 xs18">Sample Theory of Most Important Topic</div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left mr-3">
                                <div class="bullet-sprite bullet-icon-3"></div>
                            </div>
                            <div class="media-body">
                                <div class="white-text lg18 md18 sm15 xs18">Model Test Paper with Detailed Solutions
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left mr-3">
                                <div class="bullet-sprite bullet-icon-4"></div>
                            </div>
                            <div class="media-body">
                                <div class="white-text lg18 md18 sm15 xs18">Last 5 Years Question Papers & Answers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 white-text d-none d-sm-block text-right floatLeft"
                        style="margin-top: 15%;">
                        &nbsp;
                        <!-- Connect with us &nbsp;
                        <a href="https://www.facebook.com/Eduncle.India" class="pointer">
                            <i class="fa fa-facebook pop_fb" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.youtube.com/eduncleindia" class="pointer google_">
                            <i class="fa fa-youtube-play pop_gp" aria-hidden="true"></i>
                        </a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <div class="row topmargin4">
                        <!-- registration -->
                        <div *ngIf="!loadOtp" class="pop_form_box">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bullet-sprite edu-entry-logo d-block mx-auto"></div>
                                <!-- <img alt="" src="assets/images/eduncle-logo-fill.png" class="d-block mx-auto" width="113"
                                    height="30"> -->
                                <p class="mt1 mb4 darkgraycolor w500 text-center xs14">Sign Up to Download FREE Study
                                    Material Worth Rs. 500/-</p>
                                <div *ngIf="showValidationError" class="text-center alert-msg-red w500 xs12 mb4 xsmb4">
                                    {{validationError}}</div>
                                <form class="form-horizontal" id="" ngNativeValidate
                                    (ngSubmit)="userRegistrationNew(regForm.value)" #regForm="ngForm">
                                    <div class="selectGroup form-group">
                                        <div *ngIf="!isCategorySelected" class="red-text sm12"><i
                                                class="fa fa-info-circle" aria-hidden="true"></i> Category is required.
                                        </div>
                                        <div class="dropdown w-100 newDropdownCategory">
                                            <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle"
                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                {{selectedCategoryTitle}}
                                            </button>
                                            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                <a *ngFor="let catCategoriesCO of catCategoriesCOArray"
                                                    class="dropdown-item"
                                                    (click)="onCategorySelect(catCategoriesCO)">{{catCategoriesCO.title}}</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngFor="let catCategoryFiltersCO of catCategoryFiltersCOList;let i = index">
                                        <div *ngIf="i < 1" class="selectGroup form-group">
                                            <div *ngIf="catCategoryFiltersCO.validationMessage !== ''"
                                                class="red-text sm12"><i class="fa fa-info-circle"
                                                    aria-hidden="true"></i> {{catCategoryFiltersCO.validationMessage}}
                                            </div>
                                            <div class="dropdown w-100 newDropdownCategory">
                                                <button class="btn w-100 dropdownHeight-40 borderColor dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    {{catCategoryFiltersCO.filterTypeTitle}}
                                                </button>

                                                <div *ngIf="isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">

                                                    <a *ngFor="let filterValueCO of sortedArray1" class="dropdown-item"
                                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                        {{filterValueCO.filterTypeTitle}}
                                                    </a>
                                                    <a class="dropdown-item otherSubject">Others</a>
                                                    <a *ngFor="let filterValueCO of sortedArray2" class="dropdown-item"
                                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                        {{filterValueCO.filterTypeTitle}}
                                                    </a>
                                                </div>

                                                <div  *ngIf="!isUgcNetSelected" class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                                                    
                                                    

                                                    <a *ngFor="let filterValueCO of catCategoryFiltersCO.dropDownFilterValueCOList" 
                                                        class="dropdown-item" 
                                                        (click)="assignFiltersId(catCategoryFiltersCO.filterType,filterValueCO.filterTypeId,filterValueCO)">
                                                        {{filterValueCO.filterTypeTitle}}
                                                     </a>    
                                                    
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group" id="">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="icon-profile"></span>
                                                </span>
                                            </div>
                                            <input ngModel type="text" class="form-control formHeight-40" name="name"
                                                aria-describedby="emailHelp" placeholder="Your Name" required
                                                placement="right" required>
                                        </div>
                                    </div>
                                    <div class="form-group" id="">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="icon-phone-call"></span>
                                                </span>
                                            </div>
                                            <input ngModel type="text" class="form-control formHeight-40" name="phone" (keyup) ="saveBrokenLeads($event)"
                                                (keypress)="numberOnly($event)" aria-describedby="emailHelp"  minlength="10" maxlength="10"
                                                placeholder="Mobile No." required placement="right" required>
                                        </div>
                                    </div>

                                    <!-- <app-choose-category-filters (onFiltersSelected)="onFiltersSelected($event)" [catObjectCategoryRelationCO]="catObjectCategoryRelationCO"></app-choose-category-filters> -->
                                    <!-- <div class="form-group">
                                        <div class="selectCaret">
                                            <select name="exam" type="text" class="form-control formHeight-40 borderColor">
                                                <option value="">Select Exams</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="selectCaret">
                                            <select name="exam" type="text" class="form-control formHeight-40 borderColor">
                                                <option value="">Select Exams</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                                <option value="">A</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <!-- <p class="para topmargin2 floatLeft mb2 xsmb2">By signing up you accept our <a
                                            href="{{siteUrl}}/terms-of-use" target="_blank">Terms of Use</a></p> -->
                                    <p class="para topmargin2 mb2 xsmb2 floatLeft checkboxTerms">
                                        <input type="checkbox" id="signupaccept" (click)="checkUncheckTermsCheckBox()" checked>
                                        <label for="signupaccept">I agree to the <a href="{{siteUrl}}/terms-of-use" target="_blank">Terms and Conditions</a>.</label> 

                                        <input type="checkbox" id="whatsappNotif"  (click)="checkUncheckWhatsAppNotification()" checked >
                                        <label for="whatsappNotif">I agree to receive exam notifications via WhatsApp.</label> 
                                    </p>
                                    <div class="form-group topmargin2">
                                        <a class="pointer" id="entry_popup_form_trgr">
                                            <button type="submit"
                                                class="btn btn-lg btnGreen continueToSite w600">Register Now</button>
                                        </a>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                <p class="para mt6">or Signup with</p>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">   
                                                <div class="d-none d-sm-block">
                                                    <button type="button" class="btn btn-facebook btn-social-form xs14"  (click)="signInWithFB()" ><i class="icon-facebook-mp facebookColor" ></i>facebook</button>     
                                                    <button type="button" class="btn btn-google-plus btn-social-form pull-right google_ xs14" (click)="signInWithGoogle()" >
                                                    <i class="icon-google-mp googleColor" aria-hidden="true"></i> Google</button>
                                                </div>    

                                                <div class="d-block d-sm-none">
                                                    <button type="button" class="btn btn-facebook btn-social-form floatLeft mb0 xsmb4"  (click)="signInWithFB()"><i class="icon-facebook-mp facebookColor"></i> facebook</button>     
                                                    <button type="button" class="btn btn-google-plus btn-social-form pull-right google_ floatLeft" (click)="signInWithGoogle()">
                                                    <i class="icon-google-mp googleColor" aria-hidden="true"></i> Google</button>
                                                </div> 
                                            </div>
                                        </div>
                                    </div> -->
                                    <input type="hidden" name="entry_popup[FULL_PAGE_URL]" value="">
                                    <input type="hidden" name="entry_popup[reg]" value="14" />
                                </form>
                            </div>
                        </div>
                        <!-- OTP -->
                        <div *ngIf="loadOtp" class="pop_form_box">
                            <!-- <app-otp [phoneNo]="phoneNumber" [otp]="otp1"></app-otp> -->
                           <!--  <app-otp [phoneNo]="phoneNumber" [otp]="otp1" [popUpName]="'entry'"></app-otp> -->
                           <div class="reqCallBackForm" style="padding-top: 0;padding-right: 15px;">
                            <app-otp-popup></app-otp-popup>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>