<!-- <div class="float-right">
    <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="floatLeft">
    <div class="row">
        <div class="col-sm-12 col text-center">
            <!-- <div *ngIf="showValidationError" class="text-center topmargin2 alert-msg-red w500 xs12">{{validationError}}</div> -->
            <div class="lg24 md24 sm24 xs24 text-center blueText mt0 xsmt10">Forgot Your Password</div>
            <p class="topmargin1 bottommargin4 text-center">Don't Worry We'll Help You to Create a New One
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col">
            <div *ngIf="showValidationError" class="text-center mb2 xsmb2 alert-msg-red w500 xs12">{{validationError}}</div>
            <form class="form-horizontal clear topmargin1 registrationForm" (ngSubmit)="forgotPassword(fPassword.value)" #fPassword="ngForm" ngNativeValidate>
                <div class="form-group">
                    <div class="col-sm-12 col">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="icon-phone-call"></span>
                            </span>
                          </div>
                          <input maxlength="10" minlength="10" ngModel type="text" name="email" (keypress)="numberOnly($event)" class="form-control formHeight-40"  placeholder="Phone Number" required >
                            <!-- <div>
                                <span class="form-control-feedback has-feedback lg14 md14 sm14 xs14 ptr01 validation-icon" aria-hidden="true" id="" style="">
                                    <img alt="" src="assets/images/error-icon.png">
                                </span>
                                <span class="tooltip">Please enter a valid email or mobile no.</span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col">
                        <button type="submit"  class="btn btn-lg btnGreen continueToSite">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="bottomLogin-img d-none d-sm-block">
    <img alt="" src="assets/images/login-popup/stats.png" alt="stats-img">
</div>