<div class="container">
    <div class="row clear">
        <div class="col-xl-3 order-xl-1 col-lg-4 order-lg-1 col-md-4 col-sm-12 col-xs-12 d-none d-md-block">
            <div *ngIf="!catCategoriesCO?.isUserJoin" #fixJoinExam>
                <app-join-exam-block [catCategoriesCO]="catCategoriesCO"></app-join-exam-block>
            </div>
            <div *ngIf="catCategoriesCO?.isUserJoin">
                <app-join-exam-block [catCategoriesCO]="catCategoriesCO"></app-join-exam-block>
            </div>
            <div *ngIf="catCategoriesCO?.isUserJoin" #fixQuickLinks>
                <app-quick-links [catCategoriesCO]="catCategoriesCO"></app-quick-links>
            </div>
            <div *ngIf="!catCategoriesCO?.isUserJoin">
                <app-quick-links [catCategoriesCO]="catCategoriesCO"></app-quick-links>
            </div>
        </div>
        <div class="col-xl-6 order-xl-2 col-lg-8 order-lg-2 col-md-8 col-sm-12 col-xs-12">
            <div class="androidWebTabs">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="feed-tab" data-toggle="tab" href="#feed" role="tab" aria-controls="feed" aria-selected="true">Feed</a>

                    <a *ngIf="!appCurrentState?.isUserLoggedIn" (click)="openLoginPopUp(catCategoriesCO?.id)" class="nav-item nav-link pointer">Doubt Section</a>
                    <a *ngIf="appCurrentState?.isUserLoggedIn" (click)="openAppPopUp()" class="nav-item nav-link pointer">Doubt Section</a>

                    <a *ngIf="!appCurrentState?.isUserLoggedIn" (click)="openLoginPopUp(catCategoriesCO?.id)" class="nav-item nav-link pointer" aria-selected="false">My Q/A</a>
                    <a *ngIf="appCurrentState?.isUserLoggedIn" (click)="openAppPopUp()" class="nav-item nav-link pointer">My Q/A</a>


                </div>
            </div>


            <div class="btn-group filterColor mt2 xsmt2 mb2 xsmb2 scoopCustomDropdown" style="float: right;">
                <a href="#!" class="dropdown-toggle dd-noarrow" data-toggle="dropdown" aria-expanded="false">
                    <span class="lg16 md16 sm16 xs16">Filter <span class="icon-filter ml-1 md10 sm10 xs10"></span>
                        </span>
                </a>
                <ul class="dropdown-menu custom_dropdownandroid dropdown-menu-right" role="menu">
                    <li *ngFor="let feedFilterTypeCO of feedFilterCO.feedFilterTypeCOList" class="topmargin2" (click)="getSelectedFilterFeeds(feedFilterTypeCO.id)">
                        <a class="lightGrey"> {{feedFilterTypeCO.title}}</a>
                    </li>

                </ul>
            </div>

            <!--   <div class="blog-heading w500 lg18 md18 sm18 xs18">Articles</div> -->

            <div *ngFor="let postCO of sclPostCOArray; let i = index">
                <div *ngIf="i === getPosition()">
                    <app-eduncle-advertisement-horizontal [catCategoriesCO]="catCategoriesCO">
                    </app-eduncle-advertisement-horizontal>
                </div>
                <!--   <app-post [postCO]="postCO"></app-post>  -->
                <app-social-timeline [postCO]="postCO"></app-social-timeline>
            </div>

            <div class="alert-msg mb2 clear mt2" *ngIf="noPost">No Post Found</div>

            <div class="text-center" *ngIf="index < this.feedIdCOList?.length">
                <div class="btn followingBtn w400 pointer mb2 xsmb2" (click)="loadMoreLogic()">
                    &nbsp;Load More..&nbsp;
                </div>
            </div>
            <div *ngIf="sclPostCOArray && !appCurrentState?.isUserLoggedIn">
                <app-register-free-today [catCategoryId]="catCategoriesCO?.id"></app-register-free-today>
            </div>

        </div>
        <div class="col-xl-3 order-xl-3 col-lg-4 order-lg-3 col-md-4 col-sm-12 col-xs-12 d-none d-sm-block">
            <div #fixAdvertisement class="d-none d-lg-block">
                <app-eduncle-advertisement-vertical [catCategoriesCO]="catCategoriesCO"></app-eduncle-advertisement-vertical>
            </div>

            <div class="mt30 clear">
                <app-popular-recent-tabs [defaultCategoryId]="catCategoriesCO?.id"></app-popular-recent-tabs>
            </div>
        </div>
    </div>
</div>
<!-- Social Side Sticky Icon Start d-none d-sm-block-->
<div class="social-shared sideSocialLinks" #hideSocialOnFooter>
    <ul class="social-list-vertical">
        <app-social-share [catCategoriesCO]="catCategoriesCO" *appShellNoRender></app-social-share>
    </ul>
</div>
<!-- Social Side Sticky Icon End-->

<!-- Footer Start -->
<div>
    <app-footer></app-footer>
</div>
<!-- Footer End -->