<ul>
    <li>
        <a href="javascript:void();" class="closeTopMenu">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Menu
        </a>
    </li>
    <li><a href="https://www.eduncle.com/free-downloads" title="Download Sample Copy">Download
            Sample Copy</a></li>
    <li><a href="https://scoop.eduncle.com/category/exams" title="Exam Hub">Exam Hub</a></li>
    <li><a href="https://scoop.eduncle.com/category/skill-development" title="Skill Development">Skill
            Development</a></li>
    <li><a href="https://scoop.eduncle.com/category/whats-new/gk-eduwrap " title="GK Eduwrap">GK
            Eduwrap</a></li>
    <li><a href="https://scoop.eduncle.com/category/whats-new" title="What's New">What's New</a></li>
    <li><a href="https://www.eduncle.com/store/search?sortby=ltst" title="Store">Store</a></li>
    <li><a href="https://scoop.eduncle.com/" title="Scoop">Scoop</a></li>
    <li><a href="https://www.eduncle.com/contact" title="Contact Us">Contact Us</a></li>
</ul>