<div class="modal-body">
    <button *ngIf ="toShowCloseIcon === '1'" type="button" class="close closeModal" aria-label="Close" (click)="dismissPopUp()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf = "status === 'PENDING' || status === 'SAVE_FOR_LATER'" class="tutorFormSubmitBox bg-white-form"> 
        <img alt="" src="../assets/images/tutor-submit-conform-box.png" alt="tutor-submit-conform-box" class="img-fluid mx-auto d-block">
        <div class="md25 sm20 xs18 w500 text-center mt2 xsmt2 mb1 xsmb1">
            Your profile has been successfully submitted
        </div>
        <div class="sm16 text-grey text-center">
            Kindly give us 1 – 3 weeks to review your profile. In case of any query, write to us at support@eduncle.com
        </div>
    </div>

    <div *ngIf = "status === 'REJECTED'" class="tutorFormSubmitBox bg-white-form"> 
        <img alt="" src="../assets/images/profile rejected.png" alt="tutor-submit-conform-box" class="img-fluid mx-auto d-block">
        <div class="md25 sm20 xs18 w500 text-center mt2 xsmt2 mb1 xsmb1">
            Your Tutor Profile has been rejected.Kindly contact Eduncle Team
        </div>
    </div>
</div>
