<div class="left-banner">
    <img alt="" src="assets/images/uncle-login.png" class="img-fluid mx-auto d-block toppadding10" alt="uncle-login" />
    <div class="col-md-12 col-sm-12 col">
        <div class="darkWhite lg24 md24 sm24 xs20 text-center topmargin3">
        Skyrocket Your Chances to RANK HIGHER in the Exam
        </div>
    </div>
    <div class="ngbCarouselSlider">
        <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;Time management is very much important in IIT JAM. The eduncle test series for IIT JAM Mathematical Statistics  helped me a lot in this portion. I am very thankful to the test series I bought from eduncle.</div>
                            <div class="testimonial-name">
                                Himadri <br/>
                                AIR 3, IIT JAM (Mathematical Statistics)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;Eduncle served as my guiding light. It has a responsive doubt solving team which solves & provides good solutions for your queries within 24 hours. Eduncle Mentorship Services guides you step by step regarding your syllabus, books to be used to study a subject, weightage, important stuff, etc.</div>
                            <div class="testimonial-name">
                                Niket  <br/>
                                AIR 6, IIT JAM (Physics)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">
                                &nbsp;The General Aptitude part of Eduncle study materials were very good and helpful. 
                                Chapters of the Earth Science were also very satisfactory.
                            </div>
                            <div class="testimonial-name">
                                Nilanjan Bhowmick <br/>
                                AIR 3, CSIR NET (Earth Science)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;The study material of Eduncle helps me a lot. The unit wise questions and test series were helpful. It helped me to clear my doubts. When I could not understand a topic, the faculty support too was good. Thanks Eduncle.</div>
                            <div class="testimonial-name">
                                Nabendu Kumar Kan <br/>
                                AIR 4, CSIR NET (Physical Science)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;Eduncle is one of the finest coaching centres. The course material provided here is very useful to get good marks in CSIR UGC net exam. The course materials clear all doubts. I suggest everyone to join here if you are interested in getting good rank in CSIR NET.</div>
                            <div class="testimonial-name">
                                Jadab Nandan <br/>
                                AIR 7, CSIR NET (Chemical Sciences)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template> -->
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;I recommend Eduncle study material & services are best to crack UGC-NET exam because the material is developed by subject experts. Eduncle material consists a good no. of ques with online test series & mock test papers.</div>
                            <div class="testimonial-name">
                                Aafreen Khan <br/>
                                99.99 Percentile, UGC NET (Commerce)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-caption">
                    <div class="testimonial">
                        <div class="testimonial-quote">
                            <div class="testimonial-msg">&nbsp;I am truly Statisfied with study material of Eduncle.com for English their practise test paper was really awsome because it helped me  to crack GSET before NET. Thanks Team of eduncle.</div>
                            <div class="testimonial-name">
                                Abanti Banerjee <br/>
                                99.99 Percentile, UGC NET (Commerce)
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
