<div class="d-none d-md-block">
    <div class="step-Block whiteBg">
        <h5 class="mb-0">
            <ul>
                <li>
                    3.
                </li>
                <li>
                    <a class="enabledColor">
                        Choose Exams you want to Crack
                    </a>
                </li>
            </ul>
        </h5>
    </div>
    <div class="step-body p-right0 p-top0 pld-80 addCat">
        <p>Default</p>
        <div *ngFor="let catCategoriesCO of changeCategoryStateCO.catCategoriesCOList" class="viewSelectedExams">
            <ul>
                <li>
                    <!-- <input type="radio" checked="checked" id="catObjectCategoryRelationCO.id" name="selector">
                    <label for="catObjectCategoryRelationCO.id"></label>
                    <div class="check"></div> -->

                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedCategoryId">
                        <label ngbButtonLabel class="btn-primary">
                          <input ngbButton type="radio" [value]="catCategoriesCO.id">
                        </label>
                      </div>
                </li>
                <li>
                    <span class="chooseSubject-logo " [ngClass]="catCategoriesCO.categoryTitleColor">{{getFirstLetter(catCategoriesCO.title)}}</span>
                </li>
                <li>
                    <ul class="examBreadcrums">
                        <li >{{catCategoriesCO.title}}</li>
                    </ul>
                </li>
                <li>
                    <a class="editDeleteBtn" (click)="onEditClick(catCategoriesCO)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="editDeleteBtn" (click)="deleteBreadCrumb(catCategoriesCO)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <br>
        <a class="chooseMoreBtn" (click)="chooseMoreExams()">
            Add More
        </a> 

        <br><br><br><br><br><br><br>
        <div class="tabFooter">
            <input (click)="continue()" type="submit" data-dismiss="modal" aria-label="Close" value="Continue" class="examSubmitButton float-right" />
            <br>
            <br>
        </div>
    </div>
</div>




<div class="d-block d-md-none">
    <div class="change-categories-step3-mobile">
        <div class="step-Block whiteBg">
            <h5 class="mb-0 ml-3">
                <ul>
                    <li>
                        3.
                    </li>
                    <li>
                        <a href="#">
                            Your Selected Exams
                        </a>
                    </li>
                </ul>
            </h5>
        </div>
        <div class="step-body">
            <p>Default</p>
            <div *ngFor="let catCategoriesCO of changeCategoryStateCO.catCategoriesCOList"  class="viewSelectedExams">
                <ul class="leftFloat">
                    <li class="addCat">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedCategoryId">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" [value]="catCategoriesCO.id">
                            </label>
                            </div>
                    </li>
                    <li>
                        <span class="chooseSubject-logo" [ngClass]="catCategoriesCO.categoryTitleColor" >{{getFirstLetter(catCategoriesCO.title)}}</span>
                    </li>
                    <li>
                        <span>{{catCategoriesCO.title}}</span>
                    </li>
                </ul>
                <div class="editDeleteBtns">
                    <a class="editDeleteBtn mr-3" (click)="onEditClick(catCategoriesCO)">
                        <i aria-hidden="true" class="fa fa-pencil"></i>
                    </a>
                    <a class="editDeleteBtn" (click)="deleteBreadCrumb(catCategoriesCO)">
                        <i aria-hidden="true" class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
           
            <div class="clearfix">&nbsp;</div>
            <div class="mt-3 ml-3">
                <a class="chooseMoreBtn" (click)="chooseMoreExams()"> Add More </a>
            </div> 
            <br><br><br><br><br><br><br>
            <input (click)="continue()" class="continueButtonMobile" data-dismiss="modal" aria-label="Close" type="submit" value="Enjoy Learning Now">
        </div>
    </div>
</div>