<!-- HEADER BEFORE LOGIN -->
<div #fixedHeader *ngIf="!appCurrentState?.isUserLoggedIn">
    <div *ngIf="defaultCategoryId">
        <app-header-logged-out [defaultCategoryId]="defaultCategoryId"></app-header-logged-out>
    </div>
    <div *ngIf="defaultCategoryId==null">
        <app-header-logged-out></app-header-logged-out>
    </div>
</div>

<!-- HEADER AFTER LOGIN -->
<div #fixedHeader *ngIf="appCurrentState?.isUserLoggedIn">
    <app-header-logged-in></app-header-logged-in>
</div>



<!-- OTP SUCCESS MODAL START -->
<div class="modal fade" id="otpSuccessModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="otpSuccess">
                    <img alt="" src="assets/images/otpsuccess.png" class="d-block mx-auto" />
                    <p class="md24 sm20 w500 enabledColor text-center">
                        We have Received Your Query
                    </p>
                    <p class="sm14 mb-4 text-center mb-1 text-grey">
                        One of our mentor will revert to you within 48 hours. Meanwhile you can Enjoy the Free Study Material
                    </p>
                    <a class="btn btn-lg btnGreen mx-auto d-block pl-3 pr-3 sm24 xs14"  aria-label="Close" href="{{siteUrl}}">View Free Study Material</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OTP SUCCESS MODAL END -->


<!-- REQUEST CALL BACK AND OTP MODAL START -->
<!-- <div class="modal fade" id="otp123" tabindex="-1" role="dialog" aria-labelledby="otp123" aria-hidden="true">
    <div class="modal-dialog modalLarge">
        <div class="modal-content">
            <div class="modal-body p0">
                <div class="row hide">
                    <div class="col-md-5 col-sm-5 col d-none d-sm-block">
                        <app-login-popup-left-part></app-login-popup-left-part>
                    </div>
                    <div class="col-md-7 col-sm-7 col">
                        <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <app-otp-popup></app-otp-popup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- REQUEST CALL BACK AND OTP MODAL END -->


<div *ngIf="showLoader">
   <!--  <img alt="" src="assets/images/loader.gif" style="z-index: 1100">
    <div class="customModalBackdrop" style="z-index: 1100"></div> -->
    <div class="edunclePreloader" style="z-index: 1200"></div>
    <div class="customModalBackdrop" style="z-index: 1100"></div> 
</div>


    <!-- NEW CUSTOM MODALS START -->
    <div *ngIf="appPopupCO.isOpenLoginPopUp">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <app-login-popup></app-login-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>

    <div *ngIf="appPopupCO.isEntryPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal margin15">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <app-entry-popup></app-entry-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


    <div *ngIf="appPopupCO.isExitPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal margin15">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <app-exit-popup></app-exit-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>

    <div *ngIf="appPopupCO.isRequestACallBackPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <app-request-a-call-back></app-request-a-call-back>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


    <div *ngIf="appPopupCO.isDenyUnfollowPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <app-deny-unfollow></app-deny-unfollow>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>



    <div *ngIf="appPopupCO.isAskQuestionPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <app-ask-question-popup></app-ask-question-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


    <div *ngIf="appPopupCO.isSignUpPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <app-register></app-register>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


    <div *ngIf="appPopupCO.isSwitchCategoryPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <app-change-categories-parent ></app-change-categories-parent>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


    <div *ngIf="appPopupCO.isConfirmUnFollowPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <app-confirm-unfollow></app-confirm-unfollow>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>

    <!-- new pop for education entry -->
    <div *ngIf="appPopupCO.isUserQualificationPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <app-user-qualification-info-popup></app-user-qualification-info-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>


   

     <!-- new pop for android app -->
     <div *ngIf="appPopupCO.isAndroidAppPopUpOpen">
            <div class="customBootstrapModal">
                <div class="modal">
                    <div class="modal-dialog modal-lg modal-dialog-centered searchBarPopupWidth">
                        <div class="modal-content">
                             <app-eduncle-app-popup></app-eduncle-app-popup> 
                         <!-- <app-register></app-register> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="customModalBackdrop"></div>
        </div>


    <div class="modal-body modalPadding0" *ngIf="appPopupCO.isAndroidAppPopUpOpen">
        <div>
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img alt="" [src]="image" alt="Random slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <div *ngIf="appPopupCO.isTutorSuccessPopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog modal-md modal-dialog-centered">
                    <div class="modal-content">
                        <app-tutor-success-popup [toShowCloseIcon]="'1'" [status]="'PENDING'"></app-tutor-success-popup>
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>
    <div *ngIf="appPopupCO.isImagePopUpOpen">
        <div class="customBootstrapModal">
            <div class="modal">
                <div class="modal-dialog-centered">
                    <div class="modal-content modal-content-custom">
                        <app-image-video-slider [sclPostAttachmentPosition]="appPopupCO.sclPostAttachmentPosition" [sclPostAttachmentsCOList]="appPopupCO.sclPostAttachmentsCOList">
                        </app-image-video-slider>
                        <!--   <app-tutor-success-popup [toShowCloseIcon]="'1'" [status]="'PENDING'"></app-tutor-success-popup> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="customModalBackdrop"></div>
    </div>

        <ngb-alert *ngIf="alertMessageCO.message" class="showAlert success" [type]="'success'" (close)="closeAlert()">
           {{alertMessageCO.message}}
        </ngb-alert>
        <!-- <ng-template #content let-modal>
            <div class="modal-body modalPadding0">
                <div>
                    <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide *ngFor="let image of images">
                            <div class="picsum-img-wrapper">
                                <img alt="" [src]="image" alt="Random slide">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </ng-template> -->
  
    <!-- NEW CUSTOM MODALS END -->