
   
<div>
    <div class="media">
        <div class="media-left exam-post-author-android inline-items">
            <!-- <img alt=""  *ngIf="!commentCO?.userCO?.profileImage" src="https://cdn.eduncleuat.com/webfiles/images/logo-icon.png"> -->
            <div *ngIf="!commentCO?.userCO?.profileImage" class="{{getClassForTextBackGround()}}">
                {{textBackgroundMostPopular}}
            </div>

            <img alt="" *ngIf="commentCO?.userCO?.profileImage" [defaultImage]="defaultImageCircle"  [lazyLoad]="getResponsiveImage(commentCO?.userCO?.profileImage)" [useSrcset]="true" [errorImage]="commentCO?.userCO?.profileImage">
			 
        </div>
        <div class="media-body">
            <div class="postCommentsBg-android floatLeft">
                <div class="lg18 md18 sm18 xs16 w500 enabledColor"> {{commentCO?.userCO?.fullName()}} <span class="bestAnswer-tag" *ngIf="commentCO.answerScore==='2'">Best Answer</span>
                    <span *ngIf="commentCO.answerScore==='1'"><svg style="width:18px;height:18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-2{fill:#59e269;fill-rule:evenodd;}</style></defs><title>thankyou</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-2" d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM10.5,17.62,5.44,12.56l2.12-2.12,2.94,2.94,5.94-5.94,2.12,2.12Z"/></g></g></svg></span>
                </div>
                
                <div class="text-dark-grey mb4 word-break-all">
                    <!-- <div [innerHTML]="commentCO?.comment | safeHtml: 'html'"></div> -->
                    <div>
                        <!-- <div *ngIf="commentCO?.comment.length <= limit" [innerHtml]="commentCO?.comment | safeHtml: 'html'">
                        </div>
                        <span *ngIf="truncating && commentCO?.comment.length > limit"
                            [innerHtml]="commentCO?.comment | limitTo : limit">
                        </span>
                        <span *ngIf="truncating && commentCO?.comment.length > limit" (click)="truncating = false">show more</span>
                        <span *ngIf="!truncating && commentCO?.comment.length > limit" [innerHtml]="commentCO?.comment | safeHtml: 'html'">
                        </span>
                        <span *ngIf="!truncating" (click)="truncating = true">show less</span> -->
                        <!-- <div class="selectedMarkAnswer" *ngIf="commentCO.selectedMcqOption" >Selected Answer : {{commentCO.selectedMcqOption}}</div>
                        <p  #getHeight class="{{showClass}}"  [innerHtml]="commentCO?.comment | safeHtml: 'html'">
                        </p> -->
                        <!-- <span *ngIf="commentCO?.comment.length>120" (click)="show = !show" class="pointer text-blue sm14 w500 floatLeft mb2 xsmb2 text-left">{{ show ? 'Show less': 'Show More' }}</span> -->
                        <!-- <span *ngIf="commentCO?.comment.length>120" (click)="changeClassForShow()" class="pointer text-blue sm14 w500 floatLeft mb2 xsmb2 text-left">{{ show ? 'Show less': 'Show More' }}</span> -->
                     <!--    <read-more [dataLength]="dataLength">
                            <p   class="lg16 text-grey"  [innerHtml]="commentCO?.comment">
                          </read-more> -->
                          <read-more [text]="commentCO?.comment" [maxLength]="180"></read-more>
                    </div>

                </div>
                <div class="mt4 xsmt2 mb4 xsmb2">
                    <a *ngIf="commentCO?.sclPostAttachmentsCOList.length > 0" class="darkGrey floatLeft" target="_blank">
                        <div class="media pdfAlign">
                            
                            <!--<ul class="commentListingImage">
                                <li *ngFor="let sclPostAttachmentsCO of commentCO?.sclPostAttachmentsCOList;let i = index">
                                    <img alt="" (click)="openImageSliderPopUp(i)" src="{{showImageOnComment(sclPostAttachmentsCO)}}" alt="{{sclPostAttachmentsCO.title}}" class="w3-image" width="100" height="100">
                                </li>
                            </ul>-->
							<ul class="commentListingImage">
                                <li *ngFor="let sclPostAttachmentsCO of commentCO?.sclPostAttachmentsCOList;let i = index">
                                    <img alt="" [defaultImage]="defaultImageSquare"  (click)="openImageSliderPopUp(i)" [lazyLoad]="getResponsiveImage(showImageOnComment(sclPostAttachmentsCO))" [useSrcset]="true" [errorImage]="showImageOnComment(sclPostAttachmentsCO)" alt="{{sclPostAttachmentsCO.title}}"  class="w3-image" width="100" height="100">
                                </li>
                            </ul>
                          
                        </div>
                    </a>
                </div>
            </div> 
            <div class="commentInfo">
                <div class="mt-2 mb-2">
                    <span (click)="openPopUp()">
                        <span *ngIf="!commentCO.hasUserLiked">
                            <a class="pointer text-blue">
                                Likes({{commentCO?.getLikeCount()}})
                            </a>
                        </span>
                        <span *ngIf="commentCO.hasUserLiked">
                            <a class="pointer text-blue">
                                Liked({{commentCO?.getLikeCount()}})
                            </a>
                        </span>
                    </span>

                    <span class="commentSeparationDots" (click)="openPopUp()">
                        <span class="text-blue pointer">
                            Reply({{commentCO?.getReplyCount()}})
                        </span>
                     <!--    <span *ngIf="!appCurrentState?.userCO" (click)="showInsertReplyBox()" class="text-blue pointer">
                            Reply({{commentCO?.getReplyCount()}})
                        </span> -->
                    </span>
                </div>
            </div>
            
            <!-- reply -->
            <div *ngFor="let replyCO of commentCO.sclCommentReplyCOList;let i = index;">
                <app-show-reply  *ngIf="i==0"  [replyCO]="replyCO"></app-show-reply>
            </div>
            <!-- reply -->
            </div>
    </div>
</div>
   

        